.GroupRanking .GroupRankingContainer { 
    position: absolute;
    top: 50px;
    left: 30%;
    width: 40%;
    max-height: 70%;
    overflow-y: scroll;
    z-index: 2;
    text-align: center;
    background-color: #71C9CE;
    padding: 10px;
    border-radius: 20px;
    display: block;
    color: black;
}

.GroupRanking .hidden { 
    display: none;
}