.ChatsModal {
  position: fixed;
  bottom: 6.25rem;
  right: -31.25rem;
  height: 31.25rem;
  width: 21.875rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  border-radius: 1.25rem;
  z-index: 6;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity, right .3s ease-in-out;
}

.ChatsModal.open {
  visibility: visible;
  opacity: 1;
  right: 6.25rem;
}

.ChatsModal .header {
  background-color: var(--purple);
  color: #fff;
  height:  3.75rem;
  display: flex;
  align-items: center;
  margin: 0.625rem;
  border-radius: 1.25rem;
}

.ChatsModal .header i {
  font-size: 1.563rem;
  cursor: pointer;
  padding-right: 0.625rem;
  margin-left: auto;
}

.ChatsModal .header p {
  margin-left: 0.625rem;
}

.ChatsModal .content {
  position: relative;
  height: 100%;
}

.ChatsModal .chatRoomsContainer {
  background-color: #fff;
  margin-left: 0.625rem;
  padding: 0.625rem 0em;
  overflow-y: auto;
  height: 24.375rem;
}

.ChatsModal .chatRoomsContainer .roomInfo .roomName {
  font-size: 1.063rem;
}

.ChatsModal .chatRoomsContainer .roomInfo {
  cursor: pointer;
}

.ChatsModal .chatRoomsContainer .roomInfo strong {
  font-size: 0.875rem;
  margin-left: 0.313rem;
}

.ChatsModal .chatsWrapper {
  position: absolute;
  left: 21.875rem;
  top: -5rem;
  height: 100%;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity, left .3s ease-in-out;
}

.ChatsModal .chatsWrapper.open {
  left: 0em;
  background-color: #fff;
  visibility: visible;
  opacity: 1;
  left: 0em;
}

.ChatsModal .chatsHeader {
  height: 3.125rem;
  width: 100%;
  background-color: var(--purple);
  display: flex;
  justify-content: center;
  align-items: center;
}

.ChatsModal .chatsHeader .imgContainer {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
}

.ChatsModal .chatsHeader i {
  font-size: 1.875rem;
  color: #fff;
  display: flex;
}

.ChatsModal .chatsHeader #exitBtn {
  position: absolute;
  left: 1.25rem;
  cursor: pointer;
}

.ChatsModal .chatsHeader #closeBtn {
  position: absolute;
  right: 0.625rem;
  font-size: 2.188rem;
  cursor: pointer;
}

.ChatsModal .chatsHeader .roomInfo {
  display: flex;
  align-items: center;
}

.ChatsModal .chatsHeader .roomInfo p {
  color: #fff; 
}

.ChatsModal .chatsHeader .roomInfo .imgContainer {
  margin-right: 0.625rem;
}

.ChatsModal .chatsContainer {
  height: calc(100% - 6.25rem);
  background-color: #fff;
  width: 100%;
  padding: 0em 0.625rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.ChatsModal .chatsContainer .msg {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  width: fit-content;
  padding: 0.5rem .875rem;
  position: relative;
  word-wrap: break-word;
  background-color: #248bf5;
  margin: 0.313rem 0em;
}

.ChatsModal .chatsContainer .msg::before, .ChatsModal .chatsContainer .msg::after {
  bottom: -0.1rem;
  content: "";
  height: 1rem;
  position: absolute;
}

.ChatsModal .chatsContainer .msg.me {
  margin: 0.313rem 0.938rem 0.625rem auto;
}

.ChatsModal .chatsContainer .msg.me .time {
  position: absolute;
  color: #000;
  font-size: 0.688rem;
  width: 3.125rem;
  bottom: -0.9375rem;
  right: 0em;
  white-space: nowrap;
}

.ChatsModal .chatsContainer .msg.me p {
  color: #fff;
}

.ChatsModal .chatsContainer .msg.me::before {
  border-bottom-left-radius: 0.8rem 0.7rem;
  border-right: 1rem solid #248bf5;
  right: -0.35rem;
  transform: translate(0, -0.1rem);
}

.ChatsModal .chatsContainer .msg.me::after {
  background-color: #fff;
  border-bottom-left-radius: 0.5rem;
  right: -2.5rem;
  transform:translate(-1.875rem, -0.125rem);
  width: 0.625rem;
}

.ChatsModal .chatsContainer .msg.others{
  background-color: #e5e5ea;
  color: #000;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}

.ChatsModal .chatsContainer .msg.others p {
  color: #000;
}

.ChatsModal .chatsContainer .msg.others::before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.ChatsModal .chatsContainer .msg.others::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 1.25rem;
  transform: translate(-1.875rem, -0.125rem);
  width: 0.625rem;
}

.ChatsModal .msg.others .profileImg {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.938rem;
  position: absolute;
  left: -1.875rem;
  top: 0em;
  z-index: 2;
}

.ChatsModal .msg.others .name {
  position: absolute;
  left: -1.25rem;
  top: 2.25rem;
  font-size:  0.688rem;
  width: 2.5rem;
  overflow-y: hidden;
  height: 0.6875rem;
}

.ChatsModal .msg.others .time {
  position: absolute;
  left: 1.4375rem;
  top: 2.375rem;
  font-size:  0.688rem;
  width: 2.5rem;
  height: 0.6875rem;
  white-space: nowrap;
}

.ChatsModal .chatsWrapper .inputWrapper {
  display: flex;
  border-radius: 0.938rem;
  height: 3.125rem;
  align-items: center;
  margin: 0em 0.625rem;
  border: 0.0625rem solid var(--gray2);

}

.ChatsModal .chatsWrapper .inputWrapper input {
  height: 2.875rem;
  margin: 0em 0.625rem;
  border: none;
  font-size: 1.875rem;
  width: calc(100% - 3.125rem);
  cursor: pointer;
  /* caret-color: #fff; */
}

@media (max-width: 87.5rem) {
  .ChatsModal {
    height: 25rem;
    width: 18.75rem;
    bottom: 3.125rem;
  }

  .ChatsModal.open {
    right: 3.125rem;
  }

  .ChatsModal .chatRoomsContainer {
    height: 21.875rem;
  }

  .ChatsModal .chatsWrapper .inputWrapper input {
    width: 12.5rem;
  }
}


@media (max-height: 50rem) {
  .ChatsModal {
    height: calc(100% - 12.5rem);
    width: 18.75rem;
    bottom: 3.125rem;
  }

  .ChatsModal.open {
    right: 3.125rem;
  }

  .ChatsModal .chatRoomsContainer {
    height: calc(100% - 3.125rem);
  }

  .ChatsModal .chatsWrapper .inputWrapper input {
    width: 12.5rem;
  }
}