.AddSubjectModal {
  --modalWidth: 25rem;
}

.AddSubjectModal .inner {
  padding: 1.875rem 1.25rem;
  width: var(--modalWidth);
}

.AddSubjectModal .inputWrapper {
  margin-bottom: 0.625rem;
}

.AddSubjectModal .submit {
  display: flex;
  justify-content: center;
}
