.CheckBoxWrapper * {
  -webkit-tap-highlight-color: transparent;
  outline: none;
}

.CheckBoxWrapper input[type="checkbox"] {
  display: none;
}

.CheckBoxWrapper label {
  --size: 3.125rem;
  --shadow: calc(var(--size) * .07) calc(var(--size) * .1);

  position: relative;
  display: block;
  width: var(--size);
  height: var(--size);
  margin: 0 auto;
  background-color: #f72414;
  border-radius: 50%;
  box-shadow: 0 var(--shadow) #ffbeb8;
  cursor: pointer;
  transition: 0.2s ease transform, 0.2s ease background-color,
    0.2s ease box-shadow;
  overflow: hidden;
  z-index: 1;
}

.CheckBoxWrapper label:before {
  content: "";
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
  width: calc(var(--size) * .7);
  height: calc(var(--size) * .7);
  margin: 0 auto;
  background-color: #fff;
  transform: translateY(-50%);
  border-radius: 50%;
  box-shadow: inset 0 var(--shadow) #ffbeb8;
  transition: 0.2s ease width, 0.2s ease height;
}

.CheckBoxWrapper label:hover:before {
  width: calc(var(--size) * .55);
  height: calc(var(--size) * .55);
  box-shadow: inset 0 var(--shadow) #ff9d96;
}

.CheckBoxWrapper label:active {
  transform: scale(0.9);
}

.CheckBoxWrapper .tickMark {
  position: absolute;
  top: -0.0625rem;
  right: 0;
  left: calc(var(--size) * -.05);
  width: calc(var(--size) * .6);
  height: calc(var(--size) * .6);
  margin: 0 auto;
  margin-left: calc(var(--size) * .14);
  transform: rotateZ(-40deg);
}

.CheckBoxWrapper .tickMark:before,
.CheckBoxWrapper .tickMark:after {
  content: "";
  position: absolute;
  background-color: #fff;
  border-radius: 0.125rem;
  opacity: 0;
  transition: 0.2s ease transform, 0.2s ease opacity;
}

.CheckBoxWrapper .tickMark:before {
  left: 0;
  bottom: 0;
  width: calc(var(--size) * .1);
  height: calc(var(--size) * .3);
  box-shadow: -0.125rem 0 0.313rem rgba(0, 0, 0, 0.23);
  transform: translateY(calc(var(--size) * -.68));
}

.CheckBoxWrapper .tickMark:after {
  left: 0;
  bottom: 0;
  width: 100%;
  height: calc(var(--size) * .1);
  box-shadow: 0 0.1875rem 0.313rem rgba(0, 0, 0, 0.23);
  transform: translateX(calc(var(--size) * .78));
}

.CheckBoxWrapper input[type="checkbox"]:checked+label {
  background-color: #07d410;
  box-shadow: 0 var(--shadow) #92ff97;
}

.CheckBoxWrapper input[type="checkbox"]:checked+label:before {
  width: 0;
  height: 0;
}

.CheckBoxWrapper input[type="checkbox"]:checked+label .tickMark:before,
.CheckBoxWrapper input[type="checkbox"]:checked+label .tickMark:after {
  transform: translate(0);
  opacity: 1;
}