.ArrowOptionBtn {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ArrowOptionBtn .options {
  display: flex;
  justify-content: center;
}

.ArrowOptionBtn .options p {
  margin: 0px 50px;
  color: #102770;
  cursor: pointer;
  font-weight: 900;
  font-size: 25px;
}

.ArrowOptionBtn .slider {
  position: relative;
  height: 20px;
  width: 100px;
  background-color: #ffeba7;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
}

.ArrowOptionBtn .slider .arrow {
  position: absolute;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  background-color: #102770;
  font-size: 30px;
  right: calc(100% - 20px);
  top: 50%;
  transition: right .3s ease-in-out, transform .5s ease-in-out;
  transform: translateY(-50%) rotate(-40deg);
  color: #ffeba7;
}

.ArrowOptionBtn .slider .arrow.clicked {
  right: -10px;
  transform: translateY(-50%) rotate(400deg);
}