.Main {
  padding: 0rem 3.125rem;
}

.Main .layer {
  display: flex;
  height: 100vh;
}

.Main .layer .box {
  flex: 1;
  flex-direction: column;
}

.Main .layer .box .title {
  justify-content: left;
  font-family: "Poppins" sans-serif;
  width: 100%;
  font-weight: 900;
  font-size: 2.5rem;
}

.Main .box#calendar {
  padding: 2rem 5rem;
}

.Main .box#planTimeline {
  min-width: 27rem;
  height: min-content;
  overflow: hidden;
  flex: 0;
}

/* .Main .layer:nth-child(2) {
  height: 50vh;
}

.Main .layer:nth-child(2) > div {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Main .box#studyInfo {
  flex: 0 1;
}

.Main .box#planTimeline {
  min-width: 27rem;
  height: min-content;
  overflow: hidden;
  flex: 0;
}

.Main .layer:nth-child(3) {
  width: calc(100% - 29.5rem);
  height: 50vh;
}

.Main .layer:nth-child(4) {
  height: 50vh;
} */
