.Main {
  padding: 0rem 3.125rem;
}

.Main .layer {
  height: 50vh;
  display: flex;
}

.Main .layer .box {
  flex: 1;
  color: var(--font-color1);
  background-color: #000;
}

.Main .layer:nth-child(1) > div {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.Main .box#studyInfo {
  flex: 0 1;
}

.Main .box#planTimeline {
  min-width: 27rem;
  height: min-content;
  overflow: hidden;
  flex: 0;
}

.Main .layer:nth-child(2) {
  width: calc(90% - 22.5rem);
}