.EventModal {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  margin: 1.875rem 1.25rem 0em 0em;
}

.EventModal .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
}

.EventModalLayer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
  width: 100%;
}


.EventModalLayer .iconWrapper {
  width: 4.375rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.688rem;
  position: relative;
}

.EventModalLayer .iconWrapper:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.EventModalLayer .iconWrapper .hoverEl {
  position: absolute;
  font-size: 1.063rem;
  white-space: nowrap;
  top: 3.125rem;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  background-color: #000000c3;
  padding: 0.313rem 0.625rem;
  border-radius: 0.4375rem;
  z-index: 2;
  visibility: hidden;
  pointer-events: none;
  color: #fff;
}

.EventModalLayer .contentWrapper {
  position: relative;
  width: calc(100% - 4.375rem);
  display: flex;
  align-items: center;
}

.EventModal .titleInput {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 1.875rem;
}

.EventModal .subjectWrapper {
  width: 12.5rem;
}

.EventModal .notificationWrapper {
  width: 100%;
  margin-right: 0.5rem;
}

.EventModal .buttonsContainer {
  margin-bottom: 1.875rem;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.EventModal .addSubjectWrapper {
  margin-left: auto;
}

.EventModal .trashcan {
  font-size: 1.4rem;
}

.EventModal .shareBtn {
  font-size: 1.4rem;
}

.UserBoxes {
  height: 2rem;
  display: flex;
}

.UserBox {
  width: 3rem;
  height: 3rem;
  position: relative;
  cursor: pointer;
}

.UserBox .hoverEl {
  position: absolute;
  bottom: -0rem;
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
  left: 50%;
  transform: translateX(-50%);
  background-color: #000000c3;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 0.8rem;
  padding: 0.1rem 0.3rem;
}

.UserBox:hover .hoverEl {
  visibility: visible;
  opacity: 1;
}

@media (max-height: 800px) {
  .EventModal {
    height: calc(100% - 18.75rem);
    overflow: hidden;
    padding-top: 0.625rem;
    margin: 0rem 0.5rem 0em 0em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}