.EventModal {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  margin: 1.875rem 1.25rem 0em 0em;
}

.EventModal .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
}

.EventModalLayer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
  width: 100%;
}

.EventModalLayer .iconWrapper {
  width: 4.375rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.688rem;
  position: relative;
  color: var(--gray2);
}

.EventModalLayer .iconWrapper:hover .hoverText {
  opacity: 1;
  bottom: -1.5rem;
}

.EventModalLayer .iconWrapper .hoverText {
  bottom: -2rem;
}

.EventModalLayer .contentWrapper {
  position: relative;
  width: calc(100% - 4.375rem);
  display: flex;
  align-items: center;
}

.EventModal .titleInput {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 1.875rem;
}

.EventModal .subjectWrapper {
  width: 12.5rem;
}

.EventModal .notificationWrapper {
  width: 100%;
  margin-right: 0.5rem;
}

.EventModal .buttonsContainer {
  margin-bottom: 1.875rem;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  display: flex;
  position: relative;
}

.EventModal .addSubjectWrapper {
  margin-left: auto;
}

.EventModal .trashcan {
  font-size: 1.4rem;
}

.EventModal .shareBtn {
  font-size: 1.4rem;
}

.UserBoxes {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBoxes div#share img {
  filter: brightness(50%);
}

.UserBoxes > div {
  display: flex;
}

@media (max-height: 800px) {
  .EventModal {
    height: calc(100% - 18.75rem);
    overflow: hidden;
    padding-top: 0.625rem;
    margin: 0rem 0.5rem 0em 0em;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
