.SearchBar {
  margin-top: 0.625rem;
  width: 100%;
  position: relative;
  height: 3.125rem;
}

.SearchBar .inputContainer {
  background-color: var(--blue0);
  border-radius: 1.875rem;
  height: 48px;
  overflow: hidden;

}

.SearchBar .inputContainer input {
  margin-left: 1.25rem;
  font-size: 1.25rem;
  width: calc(100% - 2.5rem);
  height: 100%;
  border: none;
  background-color: transparent;
}

.SearchBar i {
  position: absolute;
  right: 0em;
  top: 50%;
  transform: translateY(-50%);
  font-size:  1.563rem;
  height: 2.5rem;
  width: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 0.625rem;
  cursor: pointer;
  background-color: var(--blue0);
  border-radius: 1.875rem;
}

.SearchBar .circles {
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

@keyframes ballDrop {
  0% {
    transform: translate(0px, 0em);
  }

  20% {
    transform: translate(0px, -30px);
  }

  30% {
    transform: translate(0px, 0em);
  }

  34% {
    transform: translate(-20px, -10px);
  }

  40% {
    transform: translate(-30px, 3px);
  }

  60% {
    transform: translate(0px, 0em);
  }
}

.SearchBar .circles .circle {
  width: 0.625rem;
  height: 0.625rem;
  margin: 0.313rem;
  border-radius: 0.313rem;
  background-color: #000;
  transition: .3s ease-in-out opacity;
  opacity: 1;
}

.SearchBar input:focus ~ .circles .circle {
  animation: ballDrop 2s ease-in-out infinite forwards;
}

.SearchBar .circles.hidden .circle {
  opacity: 0;
}