.ChallengeContainer {
  background-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  position: relative;
  width: 15.625rem;
  height: 18.75rem;
  border-radius: 1.875rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ChallengeContainer .imgWrapper {
  width: 100%;
  height: 6.25rem;
  position: relative;
  background-color: bisque;
}

.ChallengeContainer .profileImg {
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 0.313rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0em 0.5rem 1.5rem;
}

.ChallengeContainer .button {
  position: absolute;
  bottom: 0.625rem;
  width: 3.125rem;
  background-color: #81b64c;
  left: 50%;
  transform: translateX(-50%);
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 0.625rem;
}

.ChallengeContainer .button p {
  color: #fff;
}

.ChallengeContainer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: var(--purple);
}

.ChallengeContainer .info .name {
  color: var(--purple);
}

.ChallengeContainer .info .stat {
  display: flex;
  font-weight: 600;
  font-size: 1.25rem;
}

.ChallengeContainer .info .stat p:nth-child(1) {
  color: yellowgreen;
}

.ChallengeContainer .info .stat p:nth-child(2) {
  color: var(--purple);
}

.ChallengeContainer .info .stat p:nth-child(3) {
  color: red;
}

.ChallengeContainer .info .description {
  height: 4.375rem;
  overflow-y: auto;
}