.ChallengeContainer {
  background-color: aliceblue;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
  width: 250px;
  height: 300px;
  border-radius: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.ChallengeContainer .imgWrapper {
  width: 100%;
  height: 100px;
  position: relative;
  background-color: bisque;
}

.ChallengeContainer .profileImg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.ChallengeContainer .button {
  position: absolute;
  bottom: 10px;
  width: 50px;
  background-color: #81b64c;
  left: 50%;
  transform: translateX(-50%);
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

.ChallengeContainer .button p {
  color: #fff;
}

.ChallengeContainer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  color: var(--purple);
}

.ChallengeContainer .info .name {
  color: var(--purple);
}

.ChallengeContainer .info .stat {
  display: flex;
  font-weight: 600;
  font-size: 20px;
}

.ChallengeContainer .info .stat p:nth-child(1) {
  color: yellowgreen;
}

.ChallengeContainer .info .stat p:nth-child(2) {
  color: var(--purple);
}

.ChallengeContainer .info .stat p:nth-child(3) {
  color: red;
}

.ChallengeContainer .info .description {
  height: 70px;
  overflow-y: auto;
}