.ActivityViewer {
  width: 18.75rem;
  max-height: calc(50vh - 12.5rem);

}

.ActivityViewer .activity {
  display: flex;
  align-items: center;
  padding: 0.625rem;
}

.ActivityViewer .activity .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.625rem;
}

.ActivityViewer .noActivity {
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  text-decoration: underline;
  font-weight: 700;
  font-size: 1.25rem;
}