@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.MainContainer .Main {
  overflow: hidden;
  height: calc(100vh);
}

.MainContainer .boxes {
  display: flex;
  flex-wrap: wrap;
}

.MainContainer .boxes .box {
  position: absolute;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px 30px;
  max-width: 500px;
  flex-grow: 1;
  height: min-content;
}

.MainContainer .boxes .box:nth-child(1) img{
  width: 100%;
}

.MainContainer .boxes .box .inner {
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: left;
}

.MainContainer .boxes .box .name {
  font-size: 40px;
  font-weight: 600;
}

.MainContainer .boxes .box .report {
  font-size: 24px;
  color: grey;
}

.MainContainer .btnCenter {
  width: 100%;
  display: flex;
  justify-content: center;
}

.MainContainer .toStatsBtn {
  background-color: blue;
  padding: 20px 100px;
  color: #fff;
  font-size: 20px;
  border-radius: 20px;
  margin-top: 50px;
  font-weight: 800;
}

.MainContainer .plan {
  background-color: #95BDFF;
  border-radius: 10px;
  padding: 20px 30px;
  margin-bottom: 10px;
  color: aliceblue;
  font-size: 15px;
  text-align: center;
  width: 10vw;
  overflow-wrap: break-word;
}

.MainContainer .plan strong {
  font-weight: 300;
  font-size: 15px;
}

.MainContainer .plan .topic {
  font-size: 17px;
  color: #ffffff;
}

.MainContainer .box.memo {
  height: 400px;
  background-color: transparent;
  box-shadow: none;
  width: 400px;
  text-align: left;
}

.MainContainer .box.memo .inner{
  padding: 10px;
  background-image: url('/public/img/memo.png');
  background-position: center;      /* center the image */
  background-size: cover;
  height: 100%;
  width: 100%;
}

.MainContainer .box.memo p {
  font-family: 'Permanent Marker', cursive;
}

.MainContainer .divider {
  color: rgb(110, 117, 150);
  text-align: center;
  padding: 5px;
}