@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.MainContainer {
  height: 100vh; /* calc(100vh - 100px); */
  overflow: hidden;
}

.MainContainer .boxesContainer {
}

.MainContainer .boxesContainer .box {
  width: 400px;
  background-color: aliceblue;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px;
}