.ChallengeRooms {
  position: relative;
}

.ChallengeRooms .box {
  background-color: aliceblue;
  border-radius: 30px;
  padding: 20px;
  margin: 20px;
}

.ChallengeRooms .box .title {
  font-size: 40px;
  font-weight: 700;
}