.ChallengeRooms {
  position: relative;
}

.ChallengeRooms .box {
  background-color: aliceblue;
  border-radius: 1.875rem;
  padding: 1.25rem;
  margin: 1.25rem;
}

.ChallengeRooms .ChallengeIntro {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ChallengeRooms .recommendedChallenges {
  background-color: rgb(255, 124, 124);
  border-radius: 1.875rem;
  padding: 1.25rem;
  margin: 1.25rem;
  width: 60%;
  display: inline-block;
}

.ChallengeRooms .challengeHistory {
  border: 0.0625rem solid black;
  display: inline-block;
  width: 30%;
}

.ChallengeRooms .title {
  font-size: 2.4rem;
  font-weight: 700;
  color: black;
  height: 100%;
}