.CreateGroupModal {
  position: fixed;
  width: 600px;
  background-color: #fff;
  z-index: 2;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.CreateGroupModal .header {
  height: 30px;
  background-color: var(--pink);
  width: 100%;
  display: flex;
  align-items: center;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.CreateGroupModal .header .closeBtn {
  margin-left: auto;
  margin-right: 10px;
  font-size: 23px;
  color: #fff;
  cursor: pointer;
}

.CreateGroupModal .container {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 500px;
}

.CreateGroupModal .wrapper {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  align-items: center;
}

.CreateGroupModal .wrapper .iconWrapper {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  position: relative;
}

.CreateGroupModal .wrapper .iconWrapper:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.CreateGroupModal .wrapper .iconWrapper .hoverEl {
  position: absolute;
  font-size: 17px;
  white-space: nowrap;
  top: 50px;
  left: 0px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #000000c3;
  padding: 5px 10px;
  border-radius: 7px;
  color: #fff;
  z-index: 2;
  visibility: hidden;
}

.CreateGroupModal .title  {
  height: 50px;
  
}

.CreateGroupModal .title input {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 30px;
}

.CreateGroupModal .wrapper .contentWrapper {
  position: relative;
  width: calc(80%);
  display: flex;
  align-items: center;
}

.CreateGroupModal .subjectWrapper {
  width: 200px;
}

.CreateGroupModal .submit {
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}

.CreateGroupModal .addSubjectWrapper {
  margin-left: auto;
}

.CreateGroupModal .inputArea {
  width: 100%;
  margin-left: 20px;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.CreateGroupModal .inputArea input {
  width: 100%;
  height: 20px;
}

.CreateGroupModal .inputArea.open {
  opacity: 1;
}