.Premium .quote {
  font-size: 3rem;
}

.Premium .sliderWrapper {
  width: 15rem;
}

.Premium .cardContainer {
  width: 100%;
  display: flex;
}

.Premium .cardContainer .itemCard {
  background-color: #fff;
  margin: 1rem;
  width: 50%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: var(--shadow1);
}

.Premium .cardContainer .itemCard .item {
  display: flex;
  padding: 0.3rem 2rem;
  font-size: 1.5rem;
}

.Premium .itemCard .itemHeader {
  background-color:#e7e6e5;
  height: 6rem;
  font-size: 3rem;
  font-weight: 800;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Premium .itemCard .itemHeader i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}