.Premium .quote {
  font-size: 3rem;
}

.Premium .sliderWrapper {
  width: 15rem;
}

.Premium .cardContainer {
  width: 100%;
  display: flex;
}

.Premium .cardContainer .itemCard {
  background-color: var(--light-blue1);
  margin: 1rem;
  width: 50%;
  border-radius: .5rem;
  overflow: hidden;
  box-shadow: var(--shadow1);
  padding: 3rem;
}

.Premium .cardContainer .itemCard .item {
  display: flex;
  font-size: 1.5rem;
}

.Premium .item i {
  margin-left: auto;
  color: #517dff;
}

.Premium .itemCard .itemHeader {
  font-size: 3rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray3);
  padding-bottom: 1rem;
}

.Premium .itemCard .itemHeader i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Premium .itemCard .price small {
  font-size: 2rem;
  font-weight: 600;
}

.Premium .price {
  font-size: 3rem;
  font-weight: 800;
}

.Premium .cardContainer .blobWrapper {
  margin-top: 2rem;
}