.DmBtn {
  position: relative;
}

.DmBtn .hoverEl {
  position: absolute;
  top: 100px;
  font-size: 13px;
  z-index: 2;
  background-color: black;
  border-radius: 5px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  padding: 2px;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  width: fit-content;
  transition: top .3s ease-in-out, visibility .3s ease-in-out, opacity .3s ease-in-out;
}

.DmBtn .hoverEl p {
  color: #fff;
  overflow: hidden; white-space: nowrap;
}

.DmBtn .blobWrapper:hover ~.hoverEl {
  visibility: visible;
  opacity: 1;
  top: 50px;
}