.ThemeContainer {
  display: flex;
  flex-direction: column;
  background-color: beige;
  border-radius: 1.25rem;
  position: relative;
  box-shadow: rgba(149, 157, 165, 0.2) 0em 0.5rem 1.5rem;
}

.ThemeContainer .name {
  position: absolute;
  top: 0.313rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: aliceblue;
  color: var(--purple);
  border-radius: 1.25rem;
  height: 1.563rem;
  padding: 0em 0.625rem;
}

.ThemeContainer .img {
  height: 12.5rem;
  width: 100%;
  border-radius: 1.25rem;
}

.ThemeContainer .description {
  position: relative;
  height: 6.25rem;
}

.ThemeContainer .description .content {
  margin: 0.938rem;
}

.ThemeContainer .tags {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1.875rem;
  margin-bottom: 3.125rem;
}

.ThemeContainer .tags .tag {
  background-color: var(--purple);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.25rem;
  height: 1.25rem;
  padding: 0em 0.625rem;
  margin: 0em 0.313rem;
}

.ThemeContainer .info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -0.9375rem;
  left: 1.25rem;
  height: 1.875rem;
  padding: 0em 0.625rem;
  border-radius: 1.25rem;
  background-color: var(--purple);
  color: #fff;
}

.ThemeContainer .info li {
  display: flex;
  margin: 0em 0.313rem;
}

.ThemeContainer .info li i {
  margin-right: 0.313rem;
}

.ThemeContainer .info li p {
  color: #fff;
}

.ThemeContainer .bottom {
  position: absolute;
  bottom: 0.625rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.ThemeContainer .bottom>div {
  margin: 0em 0.625rem;
}

.ThemeContainer .bottom button {
  background-color: #fd8a8a;
  font-weight: 800;
  color: #fff;
  padding: 0em 1.25rem;
  border-radius: 1.25rem;
  font-size: 1rem;
}