NODE_ENV=development

SECRET_ID=

#MARIA DB
MARIA_HOST=127.0.0.1
MARIA_USER=
MARIA_DATABASE=
MARIA_PASSWORD=

#REDIS
REDIS_HOST=redis://127.0.0.1
REDIS_PORT=6379
REDIS_PW=

#SERVER
IP=localhost
PORT=3000
SERVER=https://localhost:3000
NEXT_SERVER=https://localhost:4000
SERVER_CORS="http://localhost:4000, https://localhost:4000, http://localhost:3002"
SOCKET_ORIGIN="http://localhost:4000, https://localhost:4000, http://localhost:3002"

#EMAIL
SENDINBLUE_API=


#PUSH NOTIFICATION
VAPID_PRIVATE_KEY=
VAPID_PUBLIC_KEY=

#TESTER ID
TESTER_ID=A4vwvdeSE8

#GOOGLE API
GOOGLE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=http://localhost:3000/auth/signin/google

#SPOTIFY API
SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

#STRIPE API
STRIPE_SECRET=
STRIPE_WEBHOOK_SECRET=

#WEB RTC
WEB_RTC_IP=0.0.0.0
WEB_RTC_ANNOUNCED_IP=127.0.0.1

BOTS=0
LOGGER=false