.SmallSubjectsViewer {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.SmallSubjectsViewer .chartContainer {
  height: 100%;
  width: 100%;
}

.SmallSubjectsViewer .noSubjects {
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 0.1875rem;
  font-size: 1.8rem;
  font-weight: 700;
}

.SmallSubjectsViewer .noSubjects a {
  white-space: nowrap;
}