.Study {
  background-color: #000;
  margin-top: 0em;
  --subjectLabelsColor: var(--gray0);
  --filteredSubjectLabelsColor: var(--gray2);
  --planDescriptionColor: "#fff";
}

.Study .ytBg {
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: 100vw;
}

.Study .MyGroupsViewer {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease-in-out opacity, 0.3s ease-in-out visibility;
  position: fixed;
  width: 60vw;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.Study .MyGroupsViewer.visible {
  opacity: 1;
  visibility: visible;
}

.Study .StudyTimelineBar {
  position: fixed;
  bottom: 3rem;
  left: 50vw;
  transform: translateX(-50%);
  width: 80vw;
}

.Study .studyOptions {
  position: fixed;
  top: 3rem;
  right: 3rem;
  display: flex;
}

.Study .studyOptions .studyOption {
  background-color: var(--opacity-black);
  color: #fff;
  width: 4em;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 1rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.Study .studyOptions .studyOption .hoverText {
  bottom: -2rem;
}

.Study .studyOptions .studyOption:hover .hoverText {
  opacity: 1;
  visibility: visible;
  bottom: -1rem;
}

.Study .studyOptions .studyOption i {
  font-size: 2rem;
}

.StudyModalContainer {
  background-color: var(--opacity-black);
  z-index: 2;
  position: fixed;
  z-index: 2;
  visibility: hidden;
  transition: visibility 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
  max-width: 35rem;
  border-radius: 1rem;
}

.StudyModalContainer.visible {
  visibility: visible;
  opacity: 1;
}

.StudyModalContainer#timer {
  left: 3rem;
  top: 3rem;
  padding: 0.5rem;
}

.StudyModalContainer#planner {
  left: 3rem;
  bottom: 8rem;
}

.StudyModalContainer#media {
  right: 3rem;
  top: 10rem;
}

.StudyModalContainer#AudioController {
  right: 3rem;
  bottom: 10rem;
}

.StudyModalContainer#ThemeSelector {
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
}

.StudyModalContainer#PlaylistModal {
  right: 3rem;
  top: 50vh;
  transform: translateY(-50%);
}
