.PlanTimeline {
  position: relative;
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.PlanTimeline .chartContainer {
  width: 100%;
  height: 25rem;
}

.PlanTimeline .plans {
  overflow-y: auto;
}


.PlanTimeline div#addBtnWrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.PlanTimeline .radialPlaceholder {
  width: 100%;
  aspect-ratio: 1 / 1;
  border-radius: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  align-content: center;
}