.FriendsRankingViewer {
  position: relative;
  margin-left: 1.1875rem;
  padding-bottom: 25px;
  height: 100%;
}

.FriendsRankingViewer .Button {
  margin-left: 0.8125rem;
}

.FriendsRankingViewer .profileImg {
  display: flex;
  background-color: #e5e6e7;
  width: 2.188rem;
  height: 2.188rem;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
  margin-right: 1.25rem;
}

.FriendsRankingViewer .rankings {
  overflow-y: auto;
  height: calc(100% - 3rem);
}

.FriendsRankingViewer .rankings .userContainer {
  display: flex;
  margin-bottom: 0.625rem;
}

.FriendsRankingViewer .rankings .userContainer > div {
  display: flex;
  align-items: center;
  margin-right: 1.25rem;
}

.FriendsRankingViewer .rankings .userContainer .userInfo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  max-width: calc(100% - 10rem);
}

.FriendsRankingViewer .rankings .userContainer .userInfo .name {
  margin: 0rem 0.313rem;
  max-width: 70%;
}

.FriendsRankingViewer .rankings .userContainer .diff {
  margin-left: auto;
  font-size: 1rem;
  white-space: nowrap;
}

.FriendsRankingViewer .rankings .userContainer:nth-last-child(1) {
  padding-bottom: 3rem;
}