.Sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 130px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #a1a1a1;
  z-index: 3;
}

.Sidebar .logo {
  display: flex;
  justify-content: cennpm ter;
  align-items: center;
  height: 150px;
}

.Sidebar .logo img { 
  width: 100px;
}

.Sidebar .sidebarContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  width: 80px;
  height: 100%;
  margin-bottom: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Sidebar .sidebarContainer .sidebarEl {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  padding: 30px 20px;
  opacity: 0.2;
  transition: .3s ease-in-out opacity;
}

.Sidebar .sidebarContainer .sidebarEl h1 {
  display: none;
}

.Sidebar .sidebarContainer .sidebarEl:hover {
  opacity: 1;
}

.Sidebar .sidebarContainer .sidebarEl i {
  color: var(--blue1);
  font-size: 30px;
  display: flex;
  justify-content: center;
}

@media (max-height: 1200px) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 20px 20px;
  }
}

@media (max-height: 700px) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 10px 20px;
  }
}

@media (max-height: 550px) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 5px 20px;
  }
}
