.Sidebar {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 220px;
  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-right: 1px solid #a1a1a1;
}

.Sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
}

.Sidebar .logo img { 
  width: 100px;
}

.Sidebar .sidebarContainer {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Sidebar .sidebarContainer .sidebarEl {
  display: flex;
  align-items: center;
  padding: 30px 20px;
}

.Sidebar .sidebarContainer .sidebarEl i {
  color: var(--blue0);
  padding-right: 15px;
  font-size: 30px;
  display: flex;
  justify-content: center;
}