.Sidebar {
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: 8.125rem;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-right: 0.0625rem solid #a1a1a1;
  z-index: 3;
}

.Sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 9.375rem;
}

.Sidebar .logo img { 
  width: 6.25rem;
}

.Sidebar .sidebarContainer {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  border-radius: 1.25rem;
  width: 5.2rem;
  height: 100%;
  margin-bottom: 3.125rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
}

.Sidebar .sidebarContainer div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: -0.7rem;
}

.Sidebar .sidebarContainer .sidebarEl{
  display: flex;
  justify-content: right;
  width: 10rem;
  margin-right: 9.7rem;
  margin-top: 2.7rem;
  align-items: center;
  opacity: 0.2;
  transition: .3s ease-in-out;
}

.Sidebar .sidebarContainer .sidebarEl:hover {
  opacity: 1;
  background-color: white;  
  display: flex;
  justify-content: right;
  box-shadow: var(--shadow1);
  border-radius: 0.625rem;  
  width: 15rem; 
  font-size: 150%;
  margin-right: -5rem;
  font-weight: 100;
}

.Sidebar .sidebarContainer .sidebarEl i {
  color: var(--blue1);
  font-size: 1.875rem;
  display: flex;
  justify-content: left;
  margin-left: 4rem;
} 

@media (max-height: 75rem) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 1.25rem 1.25rem;
    margin-top: 2.7rem;
  }
}

@media (max-height: 43.75rem) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 0.625rem 1.25rem;
    margin-top: 2.8rem;
  }
}

@media (max-height: 34.375rem) {
  .Sidebar .sidebarContainer .sidebarEl {
    padding: 0.313rem 1.25rem;
    margin-top: 1rem;
  }
}
