.MyGroupContainer {
  position: relative;
  height: 100%;
  padding: 0.313rem;
}

.MyGroupContainer .header {
  z-index: 2;
  position: relative;
  height: 90px;
}

.MyGroupContainer .header > div {
  display: flex;
}

.MyGroupContainer .name {
  font-size: 1.875rem;
  margin-right: 10px;
  max-width: 50%;
}

.MyGroupContainer .info {
  display: flex;
}

.MyGroupContainer .info i {
  height: 40px;
}

.MyGroupContainer .info > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 5px;
}

.MyGroupContainer .buttons button {
  background-color: var(--dark-gray);
  height: 30px;
  padding: 0px 10px;
  border-radius: 30px;
  box-shadow: var(--shadow9);
  margin: 0px 20px;
  transition: .3s ease-in-out box-shadow;
  color: #000 !important;
}

.MyGroupContainer .buttons .urlBtnWrapper {
  box-shadow: var(--shadow9);
  border-radius: 30px;
  transition: .3s ease-in-out box-shadow;
}

.MyGroupContainer .buttons .urlBtnWrapper:hover {
  box-shadow: var(--shadow3);
}

.MyGroupContainer .buttons button:hover {
  box-shadow: var(--shadow3);
}

.MyGroupContainer .membersWrapper {
  height: calc(100% - 100px);
  overflow-y: auto;
}