.MyGroupContainer {
  position: relative;
  height: 100%;
  padding: 5px;
}

.MyGroupContainer .name a {
  font-size: 50px;
  color: #545454;
  font-weight: 700;
}

.MyGroupContainer .header {
  position: absolute;
  display: flex;
  width: 80%;
  top: 70px;
  z-index: 2;
}

.MyGroupContainer .membersWrapper {
  height: calc(100% - 180px);
  overflow-y: auto;
}

.MyGroupContainer .status {
  display: flex;
  background-color: var(--pink);
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
  margin-right: auto;
}

.MyGroupContainer .status li {
  font-size: 40px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyGroupContainer .status p {
  color: #fff;
}

.MyGroupContainer .membersWrapper {
  padding: 60px 0px;
}

.MyGroupContainer .buttons {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.MyGroupContainer .buttons button {
  border-radius: 20px;
  height: 40px;
  width: fit-content;
  background-color: var(--pink);
  color: #fff;
  font-weight: 700;
  margin-left: auto;
  font-size: 17px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.MyGroupContainer li:hover{
  cursor: pointer;
}

.MyGroupContainer.study .buttons {
  display: none;
}

.MyGroupContainer .groupTotal {
  /*
  font-size: 15px;
  */
  display: block;
}

@media (max-width: 1400px) {
  .MyGroupContainer .name a {
    font-size: 30px;
  }

  .MyGroupContainer .status {
    padding: 2px 5px;
    font-size: 20px;
  }
  
  .MyGroupContainer .status p {
    font-size: 20px;
  }

  .MyGroupContainer .members {
    grid-template-columns: repeat(auto-fill, 250px);
    justify-content: center;
    flex-wrap: wrap;
    overflow-y: auto;
    max-height: 350px;
    gap: 20px;
  }

  .MyGroupContainer .header {
    top: 50px;
  }
}