.DmBtn {
  position: relative;
}

.DmBtn .blobWrapper:hover ~ .hoverText {
  visibility: visible;
  opacity: 1;
  bottom: -2rem;
}

.DmBtn .hoverText {
  bottom: -3rem;
  left: 50%;
  transform: translateX(-50%);
}
