.SmallPlanner {
  background-color: #414856;
  width: 25rem;
  border-radius: 1.25rem;
}

.SmallPlanner .header {
  display: flex;
  justify-content: right;
}

.SmallPlanner .header i {
  color: #fff;
  font-size: 2.5rem;
  margin-right: 0.313rem;
}

.SmallPlanner .plans {
  display: flex;
  flex-direction: column;
  max-height: 18.75rem;
  overflow-y: scroll;
  margin: 0em;
}

.SmallPlanner .planCount {
  height: 3.125rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
  font-weight: bolder;
}

.SmallPlanner .planCount .done,
.SmallPlanner .planCount .todo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  color: #414856;
  font-size: 3.75rem;
}

.SmallPlanner .planCount .comma {
  color: #36da36;
  font-size: 3.75rem;
  font-weight: 900;
  text-shadow: #e3461b 0.25rem 0.625rem;
}

.SmallPlanner .planCount>div strong {
  font-size:  1.25rem;
  color: #fff;
}

.SmallPlanner .planCount .done {
  color: #36da36;
}

.SmallPlanner .planCount .todo {
  color: #e3461b;
}

.SmallPlanner .planCount .left p {
  color: var(--disabled);
  font-weight: 800;
  font-size:  1.25rem;
}

.SmallPlanner .planCount .right p {
  color: var(--check);
}

.SmallPlanner .plan {
  display: flex;
  width: calc(100% -  3.75rem);
  margin: 0.75rem 0 0.75rem 1.875rem;
}

:root {
  --checkColor: #0fc310;
  --text: #fff;
  --check: rgb(226, 72, 16);
  --disabled: #0fc310;
  --border-radius: 0.625rem;
}

.SmallPlanner .TaskCheckBoxWrapper {
  border-radius: var(--border-radius);
  position: relative;
  padding: 0.313rem;
  display: grid;
  width: 100%;
  grid-template-columns: 1.875rem auto;
  align-items: center;
  background-color: #414856;
  box-shadow: rgba(0, 0, 0, 0.25) 0em 3.375rem 3.438rem, rgba(0, 0, 0, 0.12) 0em -0.75rem 1.875rem, rgba(0, 0, 0, 0.12) 0em 0.25rem 0.375rem, rgba(0, 0, 0, 0.17) 0em 0.75rem 0.8125rem, rgba(0, 0, 0, 0.09) 0em -0.1875rem 0.313rem;
  height: 3rem;
  overflow-y: hidden;
  transition: height .2s ease-in-out;
  overflow-x: hidden;
}

.SmallPlanner .TaskCheckBoxWrapper label {
  margin-left: 0.625rem;
  color: var(--text);
  position: relative;
  cursor: pointer;
  display: grid;
  align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}

.SmallPlanner .TaskCheckBoxWrapper label::before,
.SmallPlanner .TaskCheckBoxWrapper label::after {
  content: "";
  position: absolute;
}

.SmallPlanner .TaskCheckBoxWrapper label::before {
  height: 0.125rem;
  width: 0.5rem;
  left: -1.6875rem;
  background: var(--check);
  border-radius: 0.125rem;
  transition: background 0.3s ease;
}

.SmallPlanner .TaskCheckBoxWrapper label:after {
  height: 0.25rem;
  width: 0.25rem;
  top: 0.5rem;
  left: -1.5625rem;
  border-radius: 50%;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: relative;
  height: 1.875rem;
  width: 1.875rem;
  outline: none;
  border: 0;
  margin: 0 0 0 0;
  cursor: pointer;
  background: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]::before,
.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]::after {
  content: "";

  height: 0.125rem;
  top: auto;
  background: var(--check);
  border-radius: 0.1875rem;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]::before {
  width: 0em;
  right: 60%;
  transform-origin: right bottom;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]::after {
  width: 1.25rem;
  left: 40%;
  transform-origin: left bottom;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]:checked::before {
  -webkit-animation: check-01-11 0.4s ease forwards;
  animation: check-01-11 0.4s ease forwards;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]:checked::after {
  -webkit-animation: check-02-11 0.4s ease forwards;
  animation: check-02-11 0.4s ease forwards;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]:checked+label {
  color: var(--disabled);
  -webkit-animation: move-11 0.3s ease 0.1s forwards;
  animation: move-11 0.3s ease 0.1s forwards;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]:checked+label::before {
  background: var(--disabled);
  -webkit-animation: slice-11 0.4s ease forwards;
  animation: slice-11 0.4s ease forwards;
}

.SmallPlanner .TaskCheckBoxWrapper input[type=checkbox]:checked+label::after {
  -webkit-animation: firework-11 0.5s ease forwards 0.1s;
  animation: firework-11 0.5s ease forwards 0.1s;
}

@-webkit-keyframes move-11 {
  50% {
    padding-left: 0.5rem;
    padding-right: 0em;
  }

  100% {
    padding-right: 0.25rem;
  }
}

@keyframes move-11 {
  50% {
    padding-left: 0.5rem;
    padding-right: 0em;
  }

  100% {
    padding-right: 0.25rem;
  }
}

@-webkit-keyframes slice-11 {
  60% {
    width: 100%;
    left: 0.25rem;
  }

  100% {
    width: 100%;
    left: -0.125rem;
    padding-left: 0;
  }
}

@keyframes slice-11 {
  60% {
    width: 100%;
    left: 0.25rem;
  }

  100% {
    width: 100%;
    left: -0.125rem;
    padding-left: 0;
  }
}

@-webkit-keyframes check-01-11 {
  0% {
    width: 0.25rem;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0em;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0em;
    top: 0.5rem;
    transform: rotate(45deg);
  }

  100% {
    width: 1.875rem;
    top: 0.5rem;
    transform: rotate(45deg);
    background-color: var(--checkColor);
  }
}

@keyframes check-01-11 {
  0% {
    width: 0.25rem;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0em;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0em;
    top: 0.5rem;
    transform: rotate(45deg);
  }

  100% {
    width: 1.875rem;
    top: 0.5rem;
    transform: rotate(45deg);
    background-color: var(--checkColor);
  }
}

@-webkit-keyframes check-02-11 {
  0% {
    width: 0.25rem;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0em;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0em;
    top: 0.5rem;
    transform: rotate(-45deg);
  }

  100% {
    width:  3.75rem;
    top: 0.5rem;
    transform: rotate(-45deg);
    background-color: var(--checkColor);
  }
}

@keyframes check-02-11 {
  0% {
    width: 0.25rem;
    top: auto;
    transform: rotate(0);
  }

  50% {
    width: 0em;
    top: auto;
    transform: rotate(0);
  }

  51% {
    width: 0em;
    top: 0.5rem;
    transform: rotate(-45deg);
  }

  100% {
    width:  3.75rem;
    top: 0.5rem;
    transform: rotate(-45deg);
    background-color: var(--checkColor);
  }
}

@-webkit-keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -0.9375rem 0 0em var(--checkColor), 0.875rem -0.5rem 0 0em var(--checkColor), 0.875rem 0.5rem 0 0em var(--checkColor), 0 0.938rem 0 0em var(--checkColor), -0.875rem 0.5rem 0 0em var(--checkColor), -0.875rem -0.5rem 0 0em var(--checkColor);
  }
}

@keyframes firework-11 {
  0% {
    opacity: 1;
    box-shadow: 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor), 0 0 0 -0.125rem var(--checkColor);
  }

  30% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    box-shadow: 0 -0.9375rem 0 0em var(--checkColor), 0.875rem -0.5rem 0 0em var(--checkColor), 0.875rem 0.5rem 0 0em var(--checkColor), 0 0.938rem 0 0em var(--checkColor), -0.875rem 0.5rem 0 0em var(--checkColor), -0.875rem -0.5rem 0 0em var(--checkColor);
  }
}

.SmallPlanner .TaskCheckBoxWrapper .info {
  margin: -2.5rem 0em 0em 2.5rem;
  padding-top: 2.5rem;
  color: #fff;
}

.SmallPlanner .TaskCheckBoxWrapper .info .time {
  white-space: nowrap;
}

.SmallPlanner .TaskCheckBoxWrapper:hover {
  height: 12.5rem;
}

.SmallPlanner .TaskCheckBoxWrapper .description {
  margin-top: 1.25rem;
  overflow-y: auto;
  width: 15rem;
  height: 0em;
}

.SmallPlanner .TaskCheckBoxWrapper:hover .description {
  height: 8.125rem;
  width: 17.5rem;
}