.SubjectManager {
  margin-top: 1.563rem;
  width: 100%;
}

.SubjectManager .title {
  width: 50%;
  background-color: transparent;
}

.SubjectManager > div {
  margin-bottom: 0.625rem;
  background-color: transparent;
}

.SubjectManager .title > div {
  font-size: 120%;
  font-weight: 800;
}

.SubjectManager .actionButtons {
  display: grid;
  grid-template-columns: min-content min-content min-content;
  column-gap: 1rem;
  justify-content: center;
}

.SubjectManager .column {
  margin-left: 1rem;
}

.SubjectManager .actionButtons .cancelButton {
  font-size: 0.813rem;
  padding: 0.8125rem 1.725rem;
  border: 1px solid black;
  border-radius: 1.875rem;
  transition: 0.5s;
}

.SubjectManager .actionButtons .cancelButton:hover {
  background-color: rgb(213, 213, 213);
}

.SubjectManager .confirmDelete {
  color: rgb(255, 0, 0);
}

.SubjectManager .deleteIcon {
  font-size: 1rem;
}