.ChallengeContainer {
    display: flex;
    flex-wrap: wrap;
}

.ChallengeContainer .CurrentChallenge {
    text-align: center;
}

.ChallengeContainer .IntroContainer {
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, rgb(255, 184, 151), #95daff);
}

.ChallengeContainer .ChallengeIntroduction {
    margin-top: 50px;
}

.ChallengeContainer .ChallengeTitle {
    text-align: center;
}

.ChallengeContainer .container {
    display: inline;
}

.ChallengeContainer .container .firstHalf {
    width: 48%;
    text-align: center;
    display: inline-block;
}

.ChallengeContainer .container .secondHalf {
    width: 48%;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
}

.ChallengeContainer .profileImg {
    display: flex;
    background-color: #e5e6e7;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.ChallengeContainer .vsTitle {
    position: relative;
    top: 100px;
    font-size: 2rem;
}

.ChallengeContainer .compareContainer {
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    margin-bottom: 50px;
    background-color: rgb(222, 244, 230);
}

.ChallengeContainer .compareContainer:nth-child(2) {
    background-color: #e5f6ff
}

.ChallengeContainer .compareContainer:nth-child(3) {
    background-color: rgb(255, 238, 230);
}

.ChallengeContainer .statContainer {
    width: 100%;
    border: 1px solid black;
    border-radius: 40px;
    text-align: center;
}

.ChallengeContainer .ChallengeHistory {
    text-align: center;
    border-radius: 40px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;
    margin-bottom: 50px;
    background-color: rgb(226, 226, 226);
}

.ChallengeContainer .pastChallenge {
    margin: 10px;
}

.ChallengeContainer .pastChallenge h3 {
    color: rgb(72, 81, 255)
}

.ChallengeContainer .historyContainer {
    max-height: 200px;
    overflow-y: auto;
}

.ChallengeContainer .multipleCompare {
    width: 100%;
    border: 1px solid black;
}

.ChallengeContainer .leftCompare {
    width: 32%;
    border: 1px solid black;
    display: inline-block;
}

.ChallengeContainer .rightCompare {
    width: 32%;
    border: 1px solid black;
    display: inline-block;
}

.ChallengeContainer .middleCompare {
    width: 18%;
    border: 1px solid black;
    display: inline-block;
    height: auto;
}

.ChallengeContainer .compareElement {
    padding: 7px;
    height: 30px;
}

.ChallengeContainer .circle {
    height: 21px;
    width: 90%;
    border-radius: 100% !important;
    overflow: hidden;
    border: 2px solid rgba(255, 255, 255, 0.2);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
    background-color: aquamarine;
}