.ChallengeContainer {
    display: flex;
    flex-wrap: wrap;
}

.ChallengeContainer .CurrentChallenge {
    text-align: center;
}

.ChallengeContainer .IntroContainer {
    border-radius: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
    padding: 2.5rem;
    margin-bottom: 3.125rem;
    background-image: linear-gradient(to right, rgb(255, 184, 151), #95daff);
}

.ChallengeContainer .ChallengeIntroduction {
    margin-top: 3.125rem;
}

.ChallengeContainer .ChallengeTitle {
    text-align: center;
}

.ChallengeContainer .container {
    display: inline;
}

.ChallengeContainer .container .firstHalf {
    width: 48%;
    text-align: center;
    display: inline-block;
}

.ChallengeContainer .container .secondHalf {
    width: 48%;
    text-align: center;
    display: inline-block;
    margin-left: 2%;
}

.ChallengeContainer .profileImg {
    display: flex;
    background-color: #e5e6e7;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.ChallengeContainer .vsTitle {
    position: relative;
    top: 6.25rem;
    font-size: 2rem;
}

.ChallengeContainer .compareContainer {
    border-radius: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
    padding: 2.5rem;
    margin-bottom: 3.125rem;
    background-color: rgb(222, 244, 230);
}

.ChallengeContainer .compareContainer:nth-child(2) {
    background-color: #e5f6ff
}

.ChallengeContainer .compareContainer:nth-child(3) {
    background-color: rgb(255, 238, 230);
}

.ChallengeContainer .statContainer {
    width: 100%;
    border: 0.0625rem solid black;
    border-radius: 2.5rem;
    text-align: center;
}

.ChallengeContainer .ChallengeHistory {
    text-align: center;
    border-radius: 2.5rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
    padding: 2.5rem;
    margin-bottom: 3.125rem;
    background-color: rgb(226, 226, 226);
}

.ChallengeContainer .pastChallenge {
    margin: 0.625rem;
}

.ChallengeContainer .pastChallenge h3 {
    color: rgb(72, 81, 255)
}

.ChallengeContainer .historyContainer {
    max-height: 12.5rem;
    overflow-y: auto;
}

.ChallengeContainer .multipleCompare {
    width: 100%;
    border: 0.0625rem solid black;
}

.ChallengeContainer .leftCompare {
    width: 32%;
    border: 0.0625rem solid black;
    display: inline-block;
}

.ChallengeContainer .rightCompare {
    width: 32%;
    border: 0.0625rem solid black;
    display: inline-block;
}

.ChallengeContainer .middleCompare {
    width: 18%;
    border: 0.0625rem solid black;
    display: inline-block;
    height: auto;
}

.ChallengeContainer .compareElement {
    padding: 0.4375rem;
    height: 1.875rem;
}

.ChallengeContainer .circle {
    height: 1.3125rem;
    width: 90%;
    border-radius: 100% !important;
    overflow: hidden;
    border: 0.125rem solid rgba(255, 255, 255, 0.2);
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 0.313rem;
    background-color: aquamarine;
}