.DateSelectorBtn {
  display: flex;
  align-items: center;
  color: var(--gray1);
}

.DateSelectorBtn p {
  font-size: 1.6rem;
  font-weight: 700;
  margin: 0rem 0.5rem;
  cursor: pointer;
}

.DateSelectorBtn .button {
  font-size: 2rem;
  cursor: pointer;
  padding: 0rem 0.5rem;
}
