.PlanModal {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  padding: 1.875rem 1.25rem 0em 0em;
  max-height: 60vh;
  overflow: visible;
}

.PlanModalLayer {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
  width: 100%;
}

.PlanModalLayer .iconWrapper {
  width: 4.375rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.688rem;
  position: relative;
  color: var(--gray2);
}

.PlanModalLayer .iconWrapper:hover .hoverText {
  opacity: 1;
  bottom: -1.5rem;
}

.PlanModalLayer .iconWrapper .hoverText {
  bottom: -2rem;
}

.PlanModalLayer .contentWrapper {
  position: relative;
  width: calc(100% - 4.375rem);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PlanModal .buttons {
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
}

.UserBoxes {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBoxes div#share img {
  filter: brightness(50%);
}

.UserBoxes > div {
  display: flex;
}
