.PlanModal {
  width: 31.25rem;
  display: flex;
  flex-direction: column;
  max-height: 60vh;
  overflow-y: auto;
}

.PlanModal .buttons {
  margin-bottom: 1rem;
  justify-content: space-around;
  align-items: center;
  display: flex;
  font-size: 1.1rem;
}

.UserBoxes {
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserBoxes div#share img {
  filter: brightness(50%);
}

.UserBoxes > div {
  display: flex;
}
