.Friends {
  position: relative;
}

.Friends .fixedBoxContainer {
  width: 300px;
  background-color: #fff;
  position: fixed;
  border-radius: 10px;
  top: 200px;
  height: calc(100vh - 300px);
  right: 100px;
}

.Friends .fixedBoxContainer .box {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-bottom: 20px;
  border-radius: 20px;
}

.Friends .boxesWrapper {
  width: calc(100% - 400px);
}

.Friends .box {
  padding: 20px;
  background-color: aliceblue;
}

.Friends .box .buttonsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 10px 100px;
}

.Friends .box .buttonsWrapper .buttonContainer {
  width: 50%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Friends .box .buttonContainer button {
  margin: 10px;
  background-color: red;
  border-radius: 20px;
  width: 100%;
  padding: 15px 0px;
}