.Friends .container {
  display: flex;
  width: 96%;
  height: calc(100vh - 210px);
  padding: 30px 50px;
  justify-content: center;
  margin-left: -20px; 
}

.Friends .container > div:nth-child(1) {
  width: 25%;
  padding: 1.25rem;
}

.Friends .container  > div:nth-child(2) {
  width: 50%;
  padding: 1.25rem;
}

.Friends .container  > div:nth-child(3) {
  width: 25%;
  padding: 1.25rem;
}

.Friends .box {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.Friends .container > div:nth-child(2) {
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}

.Friends .container > div:nth-child(2) > div {
  margin-bottom: 30px;
  height: calc(50% - 15px);
}

.Friends .container > div:nth-child(2) .box > div {
  padding: 1.875rem;
  height: calc(100% - 80px);
}

.Friends .container > div:nth-child(2) .box .title {
  height: 30px;
}

.Friends .container > div:nth-child(2) .box .title h3 {
  font-size: 1.75rem;
  font-family: "Inter", sans-serif;
}

.Friends .container > div:nth-child(2) .chartWrapper {
  width: 100%;
  height: calc(100%);
}

.Friends .smallBox {
  background-color: #fff;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  display: flex;
  flex-direction: column;
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.Friends .smallBox .title {
  display: flex;
  font-weight: 900;
  justify-content: center;
  height: 110%;
  font-family: "Inter", sans-serif;
}

.Friends .smallBox .title h3 {
  
}

.Friends .smallBox i {
  display: flex;
  margin-left: 10px;
  font-size: 1.563rem;
}

@media (max-width: 1400px) {
  .Friends .container > div:nth-child(1) {
    padding: 0.625rem;
  }
  
  .Friends .container  > div:nth-child(2) {
    padding: 0.625rem;
  }
  
  .Friends .container  > div:nth-child(3) {
    padding: 0.625rem;
  }

  .Friends .container > div:nth-child(2) > div {
    margin-bottom: 15px;
    height: calc(50% - 7.5px);
  }
  
  .Friends .container > div:nth-child(2) .box > div {
    padding: 0.938rem;
    height: calc(100% - 60px);
  }
}

@media (max-width: 1300px) {
  .Friends .container > div:nth-child(2) .box .title h3 {
  }

  .Friends .smallBox {
    padding: 12px;
  }
}

@media (max-width: 1300px) {
  .Friends .container > div:nth-child(1) {
    width: 30%;
  }
  
  .Friends .container  > div:nth-child(2) {
    width: 40%;
  }
  
  .Friends .container  > div:nth-child(3) {
    width: 30%;
  }
}

.title#friend {
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  padding-left: 50px;
}

.Friends .box#activeFriends>div h3 {
  font-size: 1.8rem;
}