.ThemeContainer {
  position: relative;
  background-color: beige;
  height: 500px;
  width: 100%;
  border-radius: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  color: #fff;
}

.ThemeContainer.hidden {
  display: none;
}

.ThemeContainer .contents {
  position: absolute;
  bottom: 10px;
  padding: 0px 30px;
}

.ThemeContainer .contents .counts {
  display: flex;
}

.ThemeContainer .contents .counts>div {
  display: flex;
  margin-right: 10px;
}

.ThemeContainer .contents .counts>div i {
  margin-right: 5px;
}


.ThemeContainer .description {
  height: 100px;
  overflow-x: auto;
}

.ThemeContainer .tags {
  display: flex;
  overflow-y: auto;
  height: 20px;
  flex-wrap: wrap;
}

.ThemeContainer .tags>div {
  margin: 0px 8px;
  white-space: nowrap;
}

.ThemeContainer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThemeContainer .buttons>div {
  margin: 0px 5px;
}