.calendar-time {
  opacity: 1 !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calendar-time .fc-event-title {
  background-color: white;
  height: 20px;
  border-radius: 10px;
  padding: 0px 5px;
}

.calendar-time .fc-event-title{
  font-style: normal !important;
}

.level-0 {
  background-color: rgb(255, 255, 255) !important;
}

.level-1 {
  background-color: rgb(182, 181, 181) !important;
}

.level-2 {
  background-color: rgb(129, 127, 127) !important;
}

.level-3 {
  background-color: rgb(93, 92, 92) !important;
}

.level-4 {
  background-color: rgb(49, 49, 49) !important;
}

.level-5 {
  background-color: black !important;
}

.fc-daygrid-day.fc-day.fc-day-today .calendar-time {
  opacity: .5 !important;
}

#matrix-chart {
  width: 100%;
  display: block;
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  position: relative;
  overflow-x: hidden;
}

#matrix-chart table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

#matrix-chart table td.hours {
  width: 100px;
  height: 30px;
  position: relative;
  top: 12px;
}

#matrix-chart table td.block {
  border: 1px solid #c2c2c2;
  height: 30px;
}

tr.line {
  height: 1px;
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
  border: #c2c2c2 solid 1px;
  background-color: #c2c2c2;
  margin-top: -1px;
}

#matrix-chart .activity {
  position: absolute;
  width: 100px;
  height: 30px;
  background-color: black;
  top: 0px;
  left: 0px;
}

.linegraph-label:hover {
  cursor: pointer;
}

.col-lg-6.col-md-12 {
  margin-top: 1.5rem !important;
}

#sword {
  margin-top: 10px;
}

#compare-target u {
  cursor: pointer;
}

#compare-target-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 700px;
  min-height: 300px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#compare-target-modal .card-footer.p-3 {
  overflow-y: scroll;
  box-shadow: none;
}
#compare-target-modal .card.mb-4 {
  height: 300px;
  box-shadow: none;
}
#userSearchWrapper #selected-user{
  background-color: #c2c2c2;
}
#userSearchWrapper tr{
  cursor: pointer;
}
#user-search-close {
  cursor: pointer;
  font-size: 30px;
}
#userSearchWrapper .closed-user {
  display: none;
}
.closed-modal {
  display: none;
}

.blurbg {
  filter: blur(5px)
}

.input-box {
  position: relative;
  width: 100%;
  max-width: 60px;
  height: 55px;
  margin: 0 70px;
  background-color: #fff;
  border-radius: 6px;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.input-box.open {
  max-width: 350px;
}
.input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
  font-weight: 400;
  color: #333;
  padding: 0 15px;
  border: none;
  border-radius: 6px;
  outline: none;
  transition: all 0.5s ease-in-out;
}
.input-box.open input {
  padding: 0 15px 0 65px;
}

.input-box .search {
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 6px;
  cursor: pointer;
}
.input-box.open .search {
  border-radius: 6px 0 0 6px;
}
.search .search-icon {
  font-size: 30px;
  color: #1c1c1c;
}
.input-box .close-icon {
  position: absolute;
  top: 50%;
  right: -45px;
  font-size: 30px;
  color: #1c1c1c;
  padding: 5px;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  pointer-events: none;
  opacity: 0;
}
.input-box.open .close-icon {
  transform: translateY(-50%) rotate(180deg);
  pointer-events: auto;
  opacity: 1;
}


.blob-btn {

  transform: translate(0px, -0px);
  padding: 10px 13px;
  text-align: center;
  text-transform: uppercase;
  color: #ecbd00;
  font-size: 12px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #ecbd00;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(2);
  }
}

#compare-activate-btn {
  width: fit-content;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-bottom: 20px;
}

.favicon-wrapper{
  width: 20px;
  height: 20px;
}

.favicon-wrapper img{
  max-width: 20px;
  max-height: 20px;
}

#activities-wrapper .text-capitalize{
  text-transform: none !important;
}