.PlanTimeline {
  position: relative;
}

.PlanTimeline .plan {
  display: flex;
  margin-bottom: 10px;
  transition: height .3s ease-in-out
}

.PlanTimeline .plan:hover .description{
  max-height: 300px;
  animation: showScroll 0s .3s forwards;
}

@keyframes showScroll {
  to {
    overflow-y: auto;
  }
}

.PlanTimeline .iconWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  border-radius: 10px;
  position: relative;
}

.PlanTimeline .iconWrapper .icon {
  position: absolute;
}


.PlanTimeline .iconWrapper .icon:hover ~ .hoverDisp{
  visibility: visible;
  opacity: 1;
}

.PlanTimeline .iconWrapper .hoverDisp:hover{
  visibility: visible;
  opacity: 1;
}

.PlanTimeline .iconWrapper .hoverDisp{
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out opacity, .3s ease-in-out visibility;
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  margin-left: -10px;
  margin-top: -10px;
}

.PlanTimeline .content {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  max-width: calc(100% - 60px);
}

.PlanTimeline .description {
  margin-left: 20px;
  max-height: 0;
  overflow-y: hidden;
  transition: max-height .3s ease-in-out;
}

.PlanTimeline .description ol {
 list-style: decimal;
 list-style-position: inside;
}

.PlanTimeline .description ul {
  list-style: disc;
  list-style-position: inside;
 }

.PlanTimeline .description li {
  list-style: unset;
}

.PlanTimeline .iconWrapper .hoverDisp {
  transition: .3s opacity ease-in-out;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 50px;
  height: 50px;
  opacity: 0;
}
.PlanTimeline .iconWrapper:hover .hoverDisp {
  opacity: 1;
}

.PlanTimeline .noPlan {

}

.PlanTimeline .noPlanText h4 {
  background-color: red;
  background-image: linear-gradient(45deg, #8C52FF, #5C97E6);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
  cursor: pointer;
}

.PlanTimeline.studyMode {
  width: 300px;
}