.PlaylistModal {
  position: relative;
  width: inherit;
}

.PlaylistModal .authGuide {
  font-size: 0.938rem;
  font-weight: 800;
  margin: 0em 0em 1.25rem 0em;
}

.PlaylistModal .spotifyPlayerWrapper {
  margin-top: 0.625rem;
}

.PlaylistModal table td {
  text-align: center;
  width: 33%;
  border-radius: 1.563rem;
  padding: 0.625rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
  -webkit-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  -ms-transition: background-color .3s ease-in-out, color .3s ease-in-out;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.PlaylistModal table td:hover {
  background-color: #979797;
}

.PlaylistModal .selectedPlaylist {
  border: 0.0625rem solid black;
}