.ThemeContainer {
  position: relative;
  background-color: beige;
  height: 31.25rem;
  width: 100%;
  border-radius: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  color: #fff;
}

.ThemeContainer.hidden {
  display: none;
}

.ThemeContainer .contents {
  position: absolute;
  bottom: 0.625rem;
  padding: 0em 1.875rem;
}

.ThemeContainer .contents .counts {
  display: flex;
}

.ThemeContainer .contents .counts>div {
  display: flex;
  margin-right: 0.625rem;
}

.ThemeContainer .contents .counts>div i {
  margin-right: 0.313rem;
}


.ThemeContainer .description {
  height: 6.25rem;
  overflow-x: auto;
}

.ThemeContainer .tags {
  display: flex;
  overflow-y: auto;
  height: 1.25rem;
  flex-wrap: wrap;
}

.ThemeContainer .tags>div {
  margin: 0em 0.5rem;
  white-space: nowrap;
}

.ThemeContainer .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ThemeContainer .buttons>div {
  margin: 0em 0.313rem;
}

@media (max-width: 87.5rem) {
  .ThemeContainer {
    height: 25rem;
  }

  .ThemeContainer .contents {
    padding: 0em 1.25rem;
  }
  
}

@media (max-width: 75rem) {
  .ThemeContainer .contents {
    padding: 0em 0.313rem;
  }

  .ThemeContainer .description {
    font-size:0.813rem;
  }

  .ThemeContainer .buttons > div {
    margin: 0em 0.125rem;
  }
}