.EditSubjectModal {
    background-color: #fff;
    width: 34.375rem;
    height: fit-content;
    visibility: hidden;
    z-index: 4;
    box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
    border-radius: 1.25rem;
}

.EditSubjectModal .header {
    background-color: #6f6af8;
    height: 1.875rem;
    border-top-right-radius: 1.25rem;
    border-top-left-radius: 1.25rem;
    text-align: right;
    display: flex;
    justify-content: right;
    align-items: center;
}

.EditSubjectModal .header:hover {
    cursor: move;
}

.EditSubjectModal .header i {
    font-size: 1.875rem;
    color: #fff;
    cursor: pointer;
    padding: 0.625rem;
    margin-top: 0.1875rem;
}

.EditSubjectModal .content {
    padding: 1.875rem 1.25rem;
}

.EditSubjectModal .content .inputWrapper {
    margin-bottom: 0.625rem;
}

.EditSubjectModal .submit {
    display: flex;
    justify-content: center;
}