.YouTubeMusicModal {
    position: relative;
    max-height: 40vh;
    overflow-y: scroll;
}

.YouTubeMusicModal .audioWrapper {
    padding-bottom: 10px;
}

.YouTubeMusicModal .audioDescription {
    font-size: 15px;
    padding-left: 5px;
}

.YouTubeMusicModal .audioDescriptionName {
    padding-left: 20px;
}