.Leaderboard {
  flex: 1;
  display: flex;
  padding: 0rem 3.125rem;
}

.Leaderboard .layer {
  display: flex;
  flex: 1;
  position: relative;
}

.Leaderboard .boxContainer#TopLeaderBoard {
  width: 30rem;
}

.Leaderboard .boxContainer#Leaderboard {
  flex: 1;
}