.Ranking {
  padding: 1.875rem 3.125rem;
  font-size: 1.875rem;
}

.Ranking .boxes {
  display: flex;
  flex-wrap: wrap;
}

.Ranking .boxes .box {
  margin: 0em;
  flex-grow: 1;
  padding: 1.875rem;
  position: relative;
  width: 100%;
  padding: 0em;
}

.Ranking .box .title {
  font-size: 2.5rem;
  font-weight: 800;
  border-radius: 1.25rem;
  width: fit-content;
  padding: 0.625rem 1.875rem;
  cursor: pointer;
  color: #545454;
}

.Ranking .box button.title {
  cursor: pointer;
}

.Ranking .box button.title:hover {
  background-color: rgba(233, 232, 217, 0.612);
}

.Ranking .box .title .caret {
  font-size: 1.875rem;
}

.Ranking .box .buttonArea {
  display: flex;
  margin-bottom: 2.5rem;
}

.Ranking .box .buttonArea>button {
  margin-right: auto;
}

.Ranking .box .container {
  display: flex;
  background-color: #f7f9fd;
  border-radius: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  padding: 2.5rem;
  margin-bottom: 3.125rem;
}

.Ranking .boxes .smallBoxContainer {
  display: flex;
  width: 100%;
}

.Ranking .boxes .smallBox {
  background-color: #f7f9fd;
  border-radius: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  margin: 0em 1.875rem 3.125rem;
  width: 100%;
  padding: 1.875rem;
  position: relative;
  display: flex;
}

.Ranking .boxes .smallBox .circle {
  background-color: #5261f4;
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 1.563rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.25rem;
}

.Ranking .container ul {
  width: 100%;
}

.Ranking .container ul li {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 0.625rem;
}

.Ranking .Ranking {
  display: flex;
  flex-direction: column;
}

.Ranking .Ranking .header {
  display: flex;
  margin-left: auto;
}

.Ranking .Ranking .header p {
  margin-left: 0.625rem;
  color: #AEB4B7;
  font-weight: 100;
}

.Ranking .Ranking li .circle {
  background: linear-gradient(to right, #8C52FF, #5C97E6);
  border-radius: 1.563rem;
  height: 3.125rem;
  width: 3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.Ranking .PageButtons button {
  /* background-color: var(--pink); */
  padding: 0.313rem;
  width:  3.75rem;
  border: 0.0625rem solid black;
}

.Ranking .PageButtons .textContainer {
  /* background-color: var(--pink); */
  padding: 0.313rem;
  width:  3.75rem;
  margin-left: 0.625rem;
  margin-right: 0.625rem;
}

.Ranking .PageButtons {
  text-align: center;
  font-size: 0.938rem;
}

.Ranking .Ranking li .circle p {
  color: #fff;
}

.Ranking .Ranking .userInfo {
  display: flex;
  margin-left: 1.25rem;
  flex-grow: 1;
  align-items: center;
}

.Ranking .Ranking .userInfo .profileImg {
  display: flex;
  background-color: #e5e6e7;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.4375rem;
}

.Ranking .userInfo .profileInfo {
  display: flex;
}

.Ranking .profileInfo .name {
  margin-right: 0.625rem;
}

.Ranking .dash {
  background-color: #545454;
  width: 0.25rem;
  height: 100%;
  rotate: 20deg;
  border-radius: 0.125rem;
  margin: 0em 0.75rem;
}

.Ranking .divider {
  width: calc(100% -  3.75rem);
  margin: 0.938rem 0em 0.938rem  3.75rem;
  background-color: #e5e6e7;
  height: 0.1875rem;
  border-radius: 0.125rem;
}

.Ranking .Ranking li .userInfo .ranking {
  display: flex;
  font-weight: 900;
  font-size: 2rem;
  margin-left: auto;
}

@media (max-width: 87.5rem) {
  .Ranking .userInfo p {

  }

  .Ranking .header {

  }
}

.title {
  font-family: "Roboto", sans-serif;
  padding-bottom: 1.25rem;
  padding-left: 3.125rem;
}