.RecommendedFriendsViewer {
  position: relative;
}

.RecommendedFriendsViewer .title {
  font-size: 22px;
  font-weight: 600;
  display: flex;
}

.RecommendedFriendsViewer .title p {
  margin-right: 5px;
  display: flex;
  vertical-align: middle;
  justify-self: center;
}

.RecommendedFriendsViewer .recommendedFriend {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.RecommendedFriendsViewer .recommendedFriend .buttons{
  margin-left: auto;
}

.RecommendedFriendsViewer .profileImg {
  width: 40px;
  height: 40px;
  border-radius: 20px;
  margin-right: 10px;
}