.FriendGroupContainer {
  height: 12.5rem;
  background-color: #f7f9fd;
  border-radius: 2.5rem;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.FriendGroupContainer.hidden {
  display: none;
}

.FriendGroupContainer .groupColor {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  right: 0em;
  top: 0em;
  border-top-right-radius: 2.5rem;
}

.FriendGroupContainer .name {
  font-weight: 800;
  font-size: 1.25rem;
  max-width: calc(100% -  3.75rem);
}

.FriendGroupContainer .name i {
  font-size:  1.438rem;
  margin-right: 0.625rem;
}

.FriendGroupContainer .explanation {
  border-top: 0.0625rem solid #545454;
  position: relative;
  margin-top: 1rem;
  padding-top: 1.25rem;
  width: 100%;
}

.FriendGroupContainer .bottom {
  position: absolute;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2.5rem);
}

.FriendGroupContainer .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.FriendGroupContainer .tags .tag {
  margin: 0em 0.313rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.625rem;
  background-color: blanchedalmond;
}

.FriendGroupContainer .info {
  position: absolute;
  display: flex;
  background-color: blanchedalmond;
  height: 2.0625rem;
  border-radius: 1.0625rem;
  padding: 0em 0.625rem;
  top: -1rem;
}

.FriendGroupContainer .info li {
  margin: 0em 0.1875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FriendGroupContainer .info li p {
  margin-left: 0.1875rem;
}

.FriendGroupContainer .buttons {
  display: flex;
  justify-content: center;
}

.FriendGroupContainer .buttons button {
  background-color: #fd8a8a;
  font-weight: 800;
  color: #fff;
  padding: 0em 1.25rem;
  border-radius: 1.25rem;
  font-size:1rem;
}

.FriendGroupContainer .buttons > * {
  margin: 0.313rem;
}

@media (max-width: 87.5rem) {
  .FriendGroupContainer {
    width: 12.5rem;
    height: 10.625rem;
  }
  .FriendGroupContainer .name {
  }

  .FriendGroupContainer .name i {
    margin-right: 0.313rem;
  }
}