:root {
  --success: #0fc310;
  --fail: #e24810;
}

.swithCheck input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.swithCheck *,
.swithCheck ::after,
.swithCheck ::before {
  box-sizing: border-box;
}

.swithCheck .rocker {
  display: inline-block;
  position: relative;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  color: #888;
  width: 7em;
  height: 4em;
  overflow: hidden;
  border-bottom: 0.5em solid #414856;
}

.swithCheck .rockerSize {
  font-size: 1em;
}

.swithCheck .rocker::before {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #999;
  border: 0.5em solid #414856;
  border-bottom: 0;
}

.swithCheck .switchLeft,
.swithCheck .switchRight {
  cursor: pointer;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 3em;
  transition: 0.2s;
  user-select: none;
}

.swithCheck .switchLeft {
  height: 2.4em;
  width: 2.75em;
  left: 0.85em;
  bottom: 0.4em;
  background-color: #ddd;
  transform: rotate(15deg) skewX(15deg);
}

.swithCheck .switchRight {
  right: 0.5em;
  bottom: 0;
  background-color: var(--fail);
  color: #fff;
}

.swithCheck .switchLeft::before,
.swithCheck .switchRight::before {
  content: "";
  position: absolute;
  width: 0.4em;
  height: 2.45em;
  bottom: -0.45em;
  background-color: #ccc;
  transform: skewY(-65deg);
}

.swithCheck .switchLeft::before {
  left: -0.4em;
}

.swithCheck .switchRight::before {
  right: -0.375em;
  background-color: transparent;
  transform: skewY(65deg);
}

.swithCheck input:checked+.switchLeft {
  background-color: var(--success);
  color: #fff;
  bottom: 0em;
  left: 0.5em;
  height: 2.5em;
  width: 3em;
  transform: rotate(0deg) skewX(0deg);
}

.swithCheck input:checked+.switchLeft::before {
  background-color: transparent;
  width: 3.0833em;
}

.swithCheck input:checked+.switchLeft+.switchRight {
  background-color: #ddd;
  bottom: 0.4em;
  right: 0.8em;
  height: 2.4em;
  width: 2.75em;
  transform: rotate(-15deg) skewX(-15deg);
}

.swithCheck input+.switchLeft {
  color: var(--success);
}

.swithCheck input:checked~.switchRight {
  color: var(--fail);
}

.swithCheck input:checked+.switchLeft+.switchRight::before {
  background-color: #ccc;
}

/* Keyboard Users */
.swithCheck input:focus+.switchLeft {
  color: #333;
}

.swithCheck input:checked:focus+.switchLeft {
  color: #fff;
}

.swithCheck input:focus+.switchLeft+.switchRight {
  color: #fff;
}

.swithCheck input:checked:focus+.switchLeft+.switchRight {
  color: #333;
}