.Planner {
  padding: 0rem 3.125rem;
}

.Planner .layer {
  display: flex;
  min-height: calc(100vh - 6rem);
}

.Planner .layer .box {
  flex: 1;
  flex-direction: column;
}

.Planner .layer .box .title {
  justify-content: left;
  width: 100%;
  font-weight: 700;
  font-size: 2.5rem;
}

.Planner .box#calendar {
  padding: 2rem 5rem;
}

.Planner .box#planTimeline {
  min-width: 27rem;
  height: min-content;
  overflow: hidden;
  flex: 0;
}