.Sidebar {
  position: fixed;
  top: 0em;
  left: 0em;
  height: 100vh;
  width: var(--sidebar-offset);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  box-shadow: var(--shadow3);
  z-index: 3;
}

.Sidebar > div {
  display: flex;
  align-items: center;
}
.Sidebar .logoContainer {
  margin-left: 0.6rem;
  margin-top: 0.6rem;
  font-size: 1.4rem;
  font-weight: 800;
}
.Sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3.7rem;
  width: 3.7rem;
}

.Sidebar div#focusBackground {
  width: calc(100% - 2.5rem);
  margin-top: 0.3rem;
  margin-left: 0.5rem;
  height: 3.6rem;
  position: absolute;
  transition: 0.15s ease-in-out transform;
  background-color: var(--blue0);
  border-radius: 0.5rem;
  transform: translateY(-5rem);
}

.Sidebar .SidebarEl {
  height: 4rem;
  display: flex;
  color: var(--gray3);
  align-items: center;
  margin: 1rem 2rem -0.5rem 0.5rem;
  cursor: pointer;
  position: relative;
  padding: 0.1rem 0.8rem;
  border-radius: 0.5rem;
}

.Sidebar .SidebarEl i {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  margin-right: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out color, 0.3s ease-in-out background-color;
}

.Sidebar .SidebarEl h3 {
  font-size: 1.2rem;
  font-weight: 500;
  transition: 0.3s ease-in-out color;
}

/* .Sidebar .SidebarEl.activeSidebar {
  background-color: var(--blue0);
} */

.Sidebar .SidebarEl.activeSidebar i {
  color: var(--blue2);
}

.Sidebar .SidebarEl.activeSidebar h3 {
  color: var(--blue2);
}

.Sidebar .buttons {
  position: absolute;
  bottom: 1rem;
  margin: 0.5rem;
  width: calc(100% - 1rem);
}

@media (max-height: 500px) {
  .Sidebar .SidebarEl i {
    font-size: 1.4rem;
    height: 2.5rem;
    width: 2.5rem;
  }

  .Sidebar .SidebarEl h3 {
    font-size: 1rem;
  }
}
