.timer {
  position: absolute;
  left: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  z-index: 2;
  background-color: #fff;
}

@keyframes timer-hide {
  100% {
    transform: translate(-600, 0px);
  }
}

.timer-hide {
  position: relative;
  animation: 2s timer-hide forwards;
}

.timer .container {
  margin: 0px 0px 10px 10px;
}
.timer .order {
  display: none;
}

.SW{
  background-color: rgb(30, 37, 37);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
#disp{
  background-color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  padding-bottom: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#digits{
  font-size: 50px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 5px;
}
.subject {
  font-size: 25px;
}
#captions{
  font-size: 24px;
  margin-right: 90px;
}
#captions>span{
  padding: 0px 50px  0px 50px;
}
#buttons{
  display: inline-block;
  justify-content: left;
  margin: 0px;
  padding: 0px;
  width: 65px;

}
#buttons>div{
  width: 50px;
  height: 50px;
  border: 2px gray solid;
  background-color: rgb(48, 56, 56);
  border-radius: 36px;
  margin: 0px 10px 0px 10px;
  position: absolute;
  top: 40px;
}
#buttons>div:hover{
  cursor: pointer;
  border-color: rgb(151, 150, 150);
  background-color: rgb(60, 70, 70);
}
#buttons>div:active{
  border-color: rgb(80, 79, 79);
  background-color: rgb(49, 56, 56);;
}
#buttons span{
  color: rgb(185, 185, 185);
  position: relative;
  left: 5px;
  top: 5px;
}
.material-symbols-outlined {
  font-size: 35px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 72
}
#records{
  color: rgb(230, 230, 230);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  height: 250px;
  overflow: auto;
}
table{
  border-collapse: collapse;
  margin: 20px auto 0;
  width: 90%;
  visibility: hidden;
  text-align: left;
}
td,th{
  padding: 10px 0px 10px;
  width: 33%;
}
thead{
  border-bottom: solid rgb(88, 88, 88) 2px;
  font-weight: bold;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgb(58, 58, 58);
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover{
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(104, 104, 104);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(136, 136, 136);
}

.add-subject {
  --b:4px;   /* border length*/
  --c:20px;  /* the cube perspective */
  
  --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
  
  
  padding:8px;
  transition: 0.5s;
  border: solid transparent;
  border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
  background:
    linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left  /var(--c) 100%,
    linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
    conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,transparent 0),
    conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,transparent 0) ;
  background-repeat:no-repeat;
  background-origin:border-box;
  transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
  clip-path: 
    polygon(var(--c) 0%, var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)),100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)));
}
.add-subject:hover {
  transform:translate(0,0);
  clip-path: 
    polygon(0% var(--c), var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
    0% 100%,0% 100%);
}

.d-1 {
  --b:4px;   /* border length*/
  --c:20px;  /* the cube perspective */
  
  --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
  
  padding:8px;
  transition: 0.5s;
  border: solid transparent;
  border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
  background:
    linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left  /var(--c) 100%,
    linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
    conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,#343434 0),
    conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,#343434 0) ;
  background-repeat:no-repeat;
  background-origin:border-box;
  transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
  clip-path: 
    polygon(var(--c) 0%, var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)),100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)));
}
.d-1:hover {
  transform:translate(0,0);
  clip-path: 
    polygon(0% var(--c), var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
    0% 100%,0% 100%);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0ecec;
  width: 500px;
  height: 500px;
  z-index: 3;
  backdrop-filter: blur(5px);
  border-radius: 5px;
  display: none;
}

.modal .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.modal label {
  white-space: nowrap;
}

.modal .subject-color-modal {
  font-size: 25px;
}

.modal .subject-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.blur {
  filter: blur(5px);
}

.modal:target {
  display: block;
}

.modal:target + .overlay {
  pointer-events: auto;
}


input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  padding: 0;
  background: transparent;
}

input[type="color"]::-webkit-color-swatch::after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 110%;
  width: 110%;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.form-group {
  position: relative;
  margin-bottom: 45px;
}

.form-group input {
  display: block;
  width: 300px;
  font-size: 14pt;
  padding: 10px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -20px;
  font-size: 10pt;
  color: #5264AE;
}

.form-group .bar {
  display: block;
  position: relative;
  width: 320px;
}

.form-group .bar:before,
.form-group .bar:after {
  content: "";
  height: 3px;
  border-radius: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: all 0.2s ease;
}

.form-group .bar:before {
  left: 50%;
}

.form-group .bar:after {
  right: 50%;
}

.form-group input:focus ~ .bar:before,
.form-group input:focus ~ .bar:after {
  width: 50%;
}

.close-btn {
  float: right;
}

.close-btn .material-symbols-outlined {
  font-size: 50px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.create-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0505A9;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(2);
  }
}

.item-dragged {
  border: 2px dashed #C0C0C0;
  background: wheat;
  color: black;
  box-shadow: 0 0 10px gray;
  z-index: 2;
}

@keyframes moveTop {
  100% {
    transform: translate(0, -1000px);
  }
}

.move-top {
  position: relative;
  animation: 2s moveTop forwards;
}

/* graph */
.chart-container {
  display: inline-block;
}

.timer .hide-button {
  width: calc(100%);
}
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

.menu-container {
  float:right;  
}

#menu {
  position: absolute;
  z-index: 3;
}
#menu.open .top-bar {
  transform-origin: 40px;
  transform: translateX(-4px) rotate(-45deg);
  transition: all 0.75s cubic-bezier(1, -1.5, 0.5, 2);
}
#menu.open .btm-bar {
  transform-origin: 40px;
  transform: translateX(-4px) rotate(45deg);
  transition: all 0.75s cubic-bezier(1, -1.5, 0.5, 2);
}
#menu.open .mid-bar {
  stroke-dasharray: 0 120 251 251;
  stroke-dashoffset: 1;
}

.top-bar, .btm-bar {
  position: absolute;
  width: 43px;
  height: 4px;
  background: #000;
  left: 20px;
  top: 27px;
  border-radius: 10px;
  transition: all 500ms cubic-bezier(1, -1, 0.5, 2);
}

.btm-bar {
  top: 53px;
}

.mid-bar {
  stroke-linecap: round;
  stroke: #000;
  stroke-dasharray: 0 100 40 400;
  stroke-dashoffset: 101;
  transition: all 750ms ease;
}

h5, a {
  color: #00630d;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: white;
}