body {
  overflow-x: hidden;
  max-width: 100vw;
}
main {
  z-index: 2;
  position: relative;
  background-color: #fff;
  top: 0px;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

.sidebar {
  height: 100vh;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  right: 0;
  background-color: #fff;
}

main .bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #EF8354;
  margin: 10px auto;
}

.side-button {
  z-index: 2;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right {
  position: fixed;
  right: 40px;
  top: 20px;
  margin-right: 30px;
}

.nav-right.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none !important;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-right.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.side-button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.side-button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.side-button.active .middle {
  width: 0;
}

.box {
  width: 100px;
  height: 100px;
  background-color: red;
  animation: moveleft 4s infinite;
}

@keyframes moveleft {
  0% {
    width: calc(100vw);
    z-index: 2;
  }
  60% {
    width: calc(100vw - 400px);
    z-index: 2;
  }
  95% {
    width: calc(100vw - 400px);
    z-index: 2;
  }
  100% {
    width: calc(100vw - 400px);
    z-index: 0;
  }
}

@keyframes moveright {
  0% {
    width: calc(100vw - 400px);
  }
  100% {
    width: calc(100vw);
  }
}

.move-to-left {
  animation: moveleft 1s forwards;
  padding: 0px;
  margin: 0px;
}

.move-to-right {
  animation: moveright .7s forwards;
  padding: 0px;
  margin: 0px;
  z-index: 2;
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 150px;
  text-align: center;
}

.sidebar-item {
  margin: 30px 0;
  opacity: 0;
  -webkit-transform: translateY(-20px);
  -moz-transform: translateY(-20px);
  -ms-transform: translateY(-20px);
  -o-transform: translateY(-20px);
  transform: translateY(-20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  left: 30px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-right {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

.mainviewer-container .viewer-selection {
  width: 100%;
  text-align: left;
  margin-left: 20px;
}

.viewer-selection .selection-wrapper {
  background-color: #ebe3e3;
  padding: 10px 40px;
  border-radius: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  width:fit-content;
}

.mainviewer-container .mainviewer {
  margin-top: 50px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.swiper-container {
  min-height: 100vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  width: 100%;
}

.swiper-slide:not(.swiper-slide-active) {
  opacity: 0;
}

/* groups */

.groups {
  display: block;
}

.groups .group-name {
  font-size: 30px;
}

.mainviewer-container {
  margin-top: 0px;
  width: 100%;
  height: 80vh;
  position: relative;
}

.members ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.members ul li {
  list-style: none;
  display: inline-block;
  margin: 10px;
  width: 200px;
  background-color: #999;
  border-radius: 10px;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

/* analysis */

.analysis {
  display: none;
}
/* planner */
.planner {
  display: none;
}

.planner .calendar-container {
  width: 80%;
  display: inline-block;
  position: relative;
}

/* 
.calendar-container {
  display: block;
  max-height: 90vh;
  overflow-y: scroll;
} */

.calendar-container .grid-wrapper {
  width: 100%;
  display: block;
  max-height: calc(100vh - 200px);
  overflow-y: scroll;
  position: relative;
  overflow-x: hidden;
}

.calendar-container .grid-wrapper table {
  border-collapse: collapse;
  width: 100%;
  position: relative;
}

.calendar-container .grid-wrapper table td.hours {
  width: 100px;
  height: 60px;
  position: relative;
  top: 25px;
}

.calendar-container .grid-wrapper table td.block {
  width: calc(100% - 100px);
  border: 1px solid #c2c2c2;
  height: 60px;
}

tr.line {
  height: 1px;
  width: calc(100% - 80px);
  position: absolute;
  left: 80px;
  border: #c2c2c2 solid 1px;
  background-color: #c2c2c2;
  margin-top: -1px;
}

.add-plan-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  width: 500px;
  height: 550px;
  z-index: 3;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 10px;
}

.add-plan-modal .plan-wrapper {
  overflow-y: auto;
  max-height: 500px;
  overflow-x: hidden;
}

.add-plan-modal .modal-header {
  width: 100%;
  background-color: #ccc;
  text-align: right;
  display: block;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.add-plan-modal .modal-header .close svg{
  margin: 10px;
}

.date-form-container {
  display: inline-block;
}

.date-form-container form:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
}

.date-form-container form {
  background-color: #fff;
  display: inline-block
}
.date-form-container form .svg-wrap {
  margin: 10px;
  display: inline-block;
}
.date-form-container form.open .calendar-popup {
  display: block;
}
.date-form-container form input {
  background-color: transparent !important;
  border: none;
  border-left: 1px solid #eee;
  padding: 15px 0px 15px 5px;
  width: 170px;
}
.date-form-container .calendar-popup {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.08);
  display: none;
  padding: 10px;
  position: absolute;
  top: 0px;
  transition: all 0.1s linear;
  width: 400px;
  z-index: 4;
}
.date-form-container .calendar-popup .month-and-year {
  align-items: center;
  display: flex;
  text-align: center;
  text-transform: uppercase;
}
.date-form-container .calendar-popup .month-and-year h4 {
  width: 100%;
}
.date-form-container .calendar-popup .button {
  background-color: transparent;
  border: none;
  font-weight: bold;
  outline: none;
  position: absolute;
  top: 15px;
}
.date-form-container .calendar-popup .button:hover {
  cursor: pointer;
}
.date-form-container .calendar-popup .button.prev {
  left: 10px;
}
.date-form-container .calendar-popup .button.next {
  right: 10px;
}
.date-form-container .calendar-popup table {
  font-size: 12px;
  width: 100%;
}
.date-form-container .calendar-popup table tr {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  padding: 5px 0;
}
.date-form-container .calendar-popup table tr th,
.date-form-container .calendar-popup table tr td {
  text-align: center;
}
.date-form-container .calendar-popup table .day:hover {
  cursor: pointer;
}

.timesetting {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.timesetting .between-bar {
  display: inline-block;
}

.timesetting .between-bar .line {
  width: 20px;
  height: 1px;
  border-radius: .5px;
  margin-top: 25px;
  background-color: #000;
}

.timesetting .start-time, .timesetting .end-time{
  display: inline-block;
}

/* .timesetting option {
  text-align: left;
} */
.modal-closed {
  display: none !important;
}
.add-plan-modal select {
  height: 55px;
  border: none;
  display: inline-block;
  text-align-last: center;
  padding-left: 5px;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-color: white;
  padding-right: 1em; 
}

.add-plan-modal select:focus {
  outline: none;
}

.add-plan-modal select:hover {
  background-color: #e9e5e5;
  border-radius: 5px;
}


.end-time option {
  width: 400px;
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 10px;
}

.plan-wrapper .plan-input {
  margin-top: 50px;
}

.plan-wrapper .plan-input input{
  height: 45px;
  font-family: 'Open Sans', sans-serif;
}

.plan-wrapper .plan-input input::placeholder{
  font-size: 30px;
  color: #000;
}

.repeat select {
  height: 55px;
  border: none;
  text-align: center;
}

.repeat select:hover {
  background-color: #e6e6e6;
  border-radius: 5px;
}

.repeat {
  margin-left: 5px;
}

select:focus {
  outline: none;
}

.add-plan-modal .plan-wrapper > div {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.add-plan-modal .plan-wrapper .svg-area {
  width: 15%;
  display: inline-block;
  text-align: center;
}

.add-plan-modal .plan-wrapper .input-area {
  width: 85%;
  margin-right: 10px;
  display: inline-block;
}

.add-plan-modal .plan-wrapper .input-area .text-options {
  flex-direction: row;
  display: none;
  opacity: 0;
}

@keyframes visible-text-opt {
  100% {
    opacity: 1;
  }
}
.add-plan-modal .plan-wrapper .input-area .text-options.visible {
  animation: 1s visible-text-opt forwards;
  display: flex;
  margin-bottom: 10px;
}

.add-plan-modal .plan-wrapper .input-area .text-options button{
  background-color: transparent;
  border: none;
  width: 31px;
  height: 31px;
  overflow: hidden;
  text-align: center;
  position: relative;
}

.add-plan-modal .plan-wrapper .input-area .text-options button svg{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.add-plan-modal .plan-wrapper .input-area .text-options button.clicked{
  background-color: #ccc;
}

.add-plan-modal .plan-wrapper .input-area .textarea {
  outline: none;
  resize: none;
  overflow-y: auto;
}

.add-plan-modal .plan-wrapper .input-area .textarea ul{
  list-style: circle;
  list-style-type: circle;
}

.add-plan-modal .plan-wrapper .input-area .textarea ol{
  list-style:decimal;
  list-style-type: decimal;
}

.add-plan-modal .plan-wrapper .input-area .textarea li{
  display: list-item;
}

.subject-type select, .notification select {
  min-width: 100px;
  appearance: auto;
  -webkit-appearance: auto;
  -moz-appearance: auto;
}

.add-plan-modal .plan-wrapper > div.end-btn{
  display: block;
  text-align: right;
  overflow-y: hidden;
}

.add-plan-modal .plan-wrapper .end-btn button {
  margin-right: 20px;
}

/* timer */
.seperate {
  height: 30px;
  width: 2px;
  background-color: #000;
  margin: 0px 15px;
}

.hour {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
}

.timer {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border-radius: 5px;
  z-index: 2;
  background-color: #fff;
}

@keyframes timer-hide {
  100% {
    transform: translate(-445px, 0px);
  }
}

.timer-hide {
  animation: 1s timer-hide forwards;
}

.timer .container {
  margin: 0px 0px 10px 10px;
  overflow-y: scroll;
  max-height:70vh;
}
.timer .order {
  display: none;
}

.SW{
  background-color: rgb(30, 37, 37);
  border-radius: 5px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}
#disp{
  background-color: #FFFFFF;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #000;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  padding-bottom: 1px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}
#digits{
  font-size: 50px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 5px;
}
.timer .subject {
  font-size: 25px;
}
#captions{
  font-size: 24px;
  margin-right: 90px;
}
#captions>span{
  padding: 0px 50px  0px 50px;
}
#buttons{
  display: inline-block;
  justify-content: left;
  margin: 0px;
  padding: 0px;
  width: 65px;

}
#buttons>div{
  width: 50px;
  height: 50px;
  border: 2px gray solid;
  background-color: rgb(48, 56, 56);
  border-radius: 36px;
  margin: 0px 10px 0px 10px;
  position: absolute;
  top: 40px;
}
#buttons>div:hover{
  cursor: pointer;
  border-color: rgb(151, 150, 150);
  background-color: rgb(60, 70, 70);
}
#buttons>div:active{
  border-color: rgb(80, 79, 79);
  background-color: rgb(49, 56, 56);;
}
.timer #buttons span{
  color: rgb(185, 185, 185);
  position: relative;
  left: 5px;
  top: -2px;
}

.timer #records{
  color: rgb(230, 230, 230);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 14px;
  height: 250px;
  overflow: auto;
}
.timer table{
  border-collapse: collapse;
  margin: 20px auto 0;
  width: 90%;
  visibility: hidden;
  text-align: left;
}
.timer td, .timer th{
  padding: 10px 0px 10px;
  width: 33%;
}
.timer thead{
  border-bottom: solid rgb(88, 88, 88) 2px;
  font-weight: bold;
}
::-webkit-scrollbar{
  width: 8px;
}
::-webkit-scrollbar-track{
  background-color: rgb(58, 58, 58);
  border-radius: 4px;
}
::-webkit-scrollbar-track:hover{
  border-radius: 4px;
}
::-webkit-scrollbar-thumb{
  background-color: rgb(104, 104, 104);
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover{
  background-color: rgb(136, 136, 136);
}

.add-subject {
  --b:4px;   /* border length*/
  --c:20px;  /* the cube perspective */
  
  --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
  
  
  padding:8px;
  transition: 0.5s;
  border: solid transparent;
  border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
  background:
    linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left  /var(--c) 100%,
    linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
    conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,transparent 0),
    conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,transparent 0) ;
  background-repeat:no-repeat;
  background-origin:border-box;
  transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
  clip-path: 
    polygon(var(--c) 0%, var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)),100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)));
}
.add-subject:hover {
  transform:translate(0,0);
  clip-path: 
    polygon(0% var(--c), var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
    0% 100%,0% 100%);
}

.d-1 {
  --b:4px;   /* border length*/
  --c:20px;  /* the cube perspective */
  
  --g:calc(var(--c)*0.707); /* 0.707 = cos(45deg) = sin(45deg) */
  
  padding:8px;
  transition: 0.5s;
  border: solid transparent;
  border-width:var(--b) var(--b) calc(var(--c) + var(--b)) calc(var(--c) + var(--b));
  background:
    linear-gradient(-45deg,transparent var(--g),rgba(255,255,255,0.6) 0) left  /var(--c) 100%,
    linear-gradient(135deg,transparent var(--g),rgba(255,255,255,0.3) 0) bottom /100% var(--c),
    conic-gradient(from -90deg at top var(--b)   right var(--b),currentColor 270deg,#343434 0),
    conic-gradient(from  90deg at bottom calc(var(--c) + var(--b)) left calc(var(--c) + var(--b)),currentColor 270deg,#343434 0) ;
  background-repeat:no-repeat;
  background-origin:border-box;
  transform:translate(calc(var(--c)/-1),calc(var(--c)/1));
  clip-path: 
    polygon(var(--c) 0%, var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)),100% calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)),
    var(--c) calc(100% - var(--c)));
}
.d-1:hover {
  transform:translate(0,0);
  clip-path: 
    polygon(0% var(--c), var(--c) 0%, 
    100% 0%, 
    100% calc(100% - var(--c)), calc(100% - var(--c)) 100%, 
    0% 100%,0% 100%);
}

.subject-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0ecec;
  width: 500px;
  height: 500px;
  z-index: 3;
  border-radius: 5px;
  display: none;
}

.subject-modal .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.subject-modal label {
  white-space: nowrap;
}

.subject-modal .subject-color-modal {
  font-size: 25px;
}

.subject-modal .subject-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.subject-modal:target {
  display: block;
}

.subject-modal:target + .overlay {
  pointer-events: auto;
}


input[type="color"]::-webkit-color-swatch {
  border-radius: 50%;
  padding: 0;
  background: transparent;
}

input[type="color"]::-webkit-color-swatch::after {
  content: "";
  display: block;
  border-radius: 50%;
  height: 110%;
  width: 110%;
  background-color: currentColor;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.2);
}

.form-group {
  position: relative;
  margin-bottom: 45px;
}

.form-group input {
  display: block;
  width: 300px;
  font-size: 14pt;
  padding: 10px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
  border-radius: 5px;
}

.form-group .textarea {
  display: block;
  width: 300px;
  font-size: 14pt;
  padding: 10px;
  margin: 0px;
  border: none;
  border-bottom: 1px solid #ccc;
  height: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border: 0px;
  border-radius: 5px;
}

.form-group input:focus {
  outline: none;
}

.form-group label {
  position: absolute;
  top: 10px;
  left: 5px;
  color: #999;
  font-size: 14pt;
  font-weight: normal;
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-group input:focus ~ label,
.form-group input:valid ~ label {
  top: -20px;
  font-size: 10pt;
  color: #5264AE;
}

.form-group .textarea:focus ~ label,
.form-group .textarea:valid ~ label {
  top: -20px;
  font-size: 10pt;
  color: #5264AE;
}

.form-group .bar {
  display: block;
  position: relative;
  width: 100%;
}

.form-group .bar:before,
.form-group .bar:after {
  content: "";
  height: 3px;
  border-radius: 1px;
  width: 0;
  bottom: 1px;
  position: absolute;
  background: #5264AE;
  transition: all 0.2s ease;
}

.form-group .bar:before {
  left: 50%;
}

.form-group .bar:after {
  right: 50%;
}

.form-group input:focus ~ .bar:before,
.form-group input:focus ~ .bar:after {
  width: 50%;
}

.form-group .textarea:focus ~ .bar:before,
.form-group .textarea:focus ~ .bar:after {
  width: 50%;
}

.close-btn {
  float: right;
}

.close-btn .material-symbols-outlined {
  font-size: 50px !important;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

.create-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.blob-btn {
  position: relative;
  padding: 10px 40px;
  text-align: center;
  text-transform: uppercase;
  color: #0505A9;
  font-size: 13px;
  font-weight: bold;
  background-color: transparent;
  outline: none;
  border: none;
  transition: color 0.5s;
  cursor: pointer;
  border-radius: 30px;
}
.blob-btn:before {
  content: "";
  z-index: 1;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border: 2px solid #0505A9;
  border-radius: 30px;
}
.blob-btn:after {
  content: "";
  z-index: -2;
  position: absolute;
  left: 3px;
  top: 3px;
  width: 100%;
  height: 100%;
  transition: all 0.3s 0.2s;
  border-radius: 30px;
}
.blob-btn:hover {
  color: #FFFFFF;
  border-radius: 30px;
}
.blob-btn:hover:after {
  transition: all 0.3s;
  left: 0;
  top: 0;
  border-radius: 30px;
}
.blob-btn__inner {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  background: #ffffff;
}
.blob-btn__blobs {
  position: relative;
  display: block;
  height: 100%;
  filter: url("#goo");
}
.blob-btn__blob {
  position: absolute;
  top: 2px;
  width: 25%;
  height: 100%;
  background: #0505A9;
  border-radius: 100%;
  transform: translate3d(0, 150%, 0) scale(1.7);
  transition: transform 0.45s;
}
@supports (filter: url("#goo")) {
  .blob-btn__blob {
    transform: translate3d(0, 150%, 0) scale(1.4);
  }
}
.blob-btn__blob:nth-child(1) {
  left: 0%;
  transition-delay: 0s;
}
.blob-btn__blob:nth-child(2) {
  left: 30%;
  transition-delay: 0.08s;
}
.blob-btn__blob:nth-child(3) {
  left: 60%;
  transition-delay: 0.16s;
}
.blob-btn__blob:nth-child(4) {
  left: 90%;
  transition-delay: 0.24s;
}
.blob-btn:hover .blob-btn__blob {
  transform: translateZ(0) scale(1.7);
}
@supports (filter: url("#goo")) {
  .blob-btn:hover .blob-btn__blob {
    transform: translateZ(0) scale(2);
  }
}

.item-dragged {
  border: 2px dashed #C0C0C0;
  background: wheat;
  color: black;
  box-shadow: 0 0 10px gray;
  z-index: 2;
  cursor: grabbing;
}

@keyframes moveTop {
  100% {
    transform: translate(0, -1000px);
  }
}

.move-top {
  position: relative;
  animation: 2s moveTop forwards;
}

/* graph */
.chart-container {
  display: inline-block;
}

/* .timer .hide-button {
  width: calc(100%);
} */
@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400");

/* .menu-container {
  margin-left: 400px; 
} */

#menu {
  position: absolute;
  z-index: 3;
  margin-left: 420px;
}
#menu.open .top-bar {
  transform-origin: 10px;
  transform: translateX(1.5px) translateY(6.5px) rotate(-45deg);
  transition: all 0.75s cubic-bezier(1, -1.5, 0.5, 2);
}
#menu.open .btm-bar {
  transform-origin: 10px;
  transform: translateX(1.5px) translateY(-6.5px) rotate(45deg);
  transition: all 0.75s cubic-bezier(1, -1.5, 0.5, 2);
}
#menu.open .mid-bar {
  stroke-dasharray: 0 120 251 251;
  stroke-dashoffset: 1;
}

.top-bar, .btm-bar {
  position: absolute;
  width: 20px;
  height: 2px;
  background: #000;
  left: 9px;
  top: 13px;
  border-radius: 10px;
  transition: all 500ms cubic-bezier(1, -1, 0.5, 2);
}

.btm-bar {
  top: 27px;
}

.mid-bar {
  stroke-linecap: round;
  stroke: #000;
  stroke-dasharray: 0 100 40 400;
  stroke-dashoffset: 101;
  transition: all 750ms ease;
}

/* h5, a {
  color: #00630d;
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  text-align: center;
}

a:hover {
  color: white;
} */


.fc-license-message {
  display: none;
}



.modal-ask-subject {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0ecec;
  width: 50vw;
  height: 500px;
  z-index: 3;
  border-radius: 5px;
  display: none;
}

.modal-ask-subject .container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 70%;
}

.modal-ask-subject label {
  white-space: nowrap;
}

.modal-ask-subject .subject-color-modal {
  font-size: 25px;
}

.modal-ask-subject .subject-color {
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.blur {
  filter: blur(5px);
}

.modal-ask-subject:target {
  display: block;
}

.modal-ask-subject:target + .overlay {
  pointer-events: auto;
}


.l-radio {
  padding: 6px;
  border-radius: 50px;
  display: inline-flex;
  cursor: pointer;
  transition: background 0.2s ease;
  margin: 8px 0;
  -webkit-tap-highlight-color: transparent;
}
.l-radio:hover, .l-radio:focus-within {
  background: rgba(159, 159, 159, 0.1);
}
.l-radio input {
  vertical-align: middle;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  background: none;
  border: 0;
  box-shadow: inset 0 0 0 1px #9F9F9F;
  box-shadow: inset 0 0 0 1.5px #9F9F9F;
  appearance: none;
  padding: 0;
  margin: 0;
  transition: box-shadow 150ms cubic-bezier(0.95, 0.15, 0.5, 1.25);
  pointer-events: none;
}
.l-radio input:focus {
  outline: none;
}
.l-radio input:checked {
  box-shadow: inset 0 0 0 6px #6743ee;
}
.l-radio span {
  vertical-align: middle;
  display: inline-block;
  line-height: 20px;
  padding: 0 8px;
}
.member .member-time #digits {
  font-size: 1.125rem;
}

/* todo list */

.side-bar {
  position: fixed;
  left: 20px;
  z-index: 3;
}

.todo-wrapper ::selection {
  color: #fff;
  background: #f12711;
}

.todo-wrapper {
  max-width: 405px;
  background: #fff;
  margin: 137px auto;
  border-radius: 7px;
  padding: 28px 0 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.task-input {
  position: relative;
  height: 52px;
  padding: 0 25px;
}

.task-input svg {
  position: absolute;
  top: 50%;
  color: #999;
  font-size: 25px;
  transform: translate(5px, -50%);
}

.task-input input {
  height: 100%;
  width: 100%;
  outline: none;
  font-size: 18px;
  border-radius: 5px;
  padding: 0 20px 0 53px;
  border: 1px solid #999;
}

.task-input input:focus,
.task-input input.active {
  padding-left: 52px;
  border: 2px solid #f12711;
}

.task-input input::placeholder {
  color: #bfbfbf;
}

.controls,
li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls {
  padding: 18px 25px;
  border-bottom: 1px solid #ccc;
}

.filters span {
  margin: 0 8px;
  font-size: 17px;
  color: #444444;
  cursor: pointer;
}

.filters span:first-child {
  margin-left: 0;
}

.filters span.active {
  color: #f12711;
}

.clear-btn {
  border: none;
  opacity: 0.6;
  outline: none;
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  padding: 7px 13px;
  border-radius: 4px;
  letter-spacing: 0.3px;
  pointer-events: none;
  transition: transform 0.25s ease;
  background: linear-gradient(135deg, #f5af19 0%, #f12711 100%);
}

.clear-btn.active {
  opacity: 0.9;
  pointer-events: auto;
}

.clear-btn:active {
  transform: scale(0.93);
}

.task-box {
  margin-top: 20px;
  margin-right: 5px;
  padding: 0 20px 10px 25px;
}

.task-box.overflow {
  overflow-y: auto;
  max-height: 300px;
}

.task-box::-webkit-scrollbar {
  width: 5px;
}

.task-box::-webkit-scrollbar-track {
  background: #f12711;
  border-radius: 25px;
}

.task-box::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 25px;
}

.task-box .task {
  list-style: none;
  font-size: 17px;
  margin-bottom: 18px;
  padding-bottom: 16px;
  align-items: flex-start;
  border-bottom: 1px solid #ccc;
}

.task-box .task:last-child {
  margin-bottom: 0;
  border-bottom: 0;
  padding-bottom: 0;
}

.task-box .task label {
  display: flex;
  align-items: flex-start;
}

.task label input {
  margin-top: 7px;
  accent-color: #f12711;
}

.task label p {
  user-select: none;
  margin-left: 12px;
  word-wrap: break-word;
}

.task label p.checked {
  text-decoration: line-through;
}

.task-box .settings {
  position: relative;
}

.settings :where(i, li) {
  cursor: pointer;
}

.settings .task-menu {
  position: absolute;
  right: -5px;
  bottom: -65px;
  padding: 5px 0;
  background: #fff;
  border-radius: 4px;
  transform: scale(0);
  transform-origin: top right;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.2s ease;
  z-index: 10;
}

.task-box .task:last-child .task-menu {
  bottom: 0;
  transform-origin: bottom right;
}

.task-box .task:first-child .task-menu {
  bottom: -65px;
  transform-origin: top right;
}

.task-menu.show {
  transform: scale(1);
}

.task-menu li {
  height: 25px;
  font-size: 16px;
  margin-bottom: 2px;
  padding: 17px 15px;
  cursor: pointer;
  justify-content: flex-start;
}

.task-menu li:last-child {
  margin-bottom: 0;
}

.settings li:hover {
  background: #f5f5f5;
}

.settings li i {
  padding-right: 8px;
}

@media (max-width: 400px) {
  body {
    padding: 0 10px;
  }
  .wrapper {
    padding: 20px 0;
  }
  .filters span {
    margin: 0 5px;
  }
  .task-input {
    padding: 0 20px;
  }
  .controls {
    padding: 18px 20px;
  }
  .task-box {
    margin-top: 20px;
    margin-right: 5px;
    padding: 0 15px 10px 20px;
  }
  .task label input {
    margin-top: 4px;
  }
}
/* checkbox */

.checkbox-wrapper-4 * {
  box-sizing: border-box;
}
.checkbox-wrapper-4 .cbx {
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  padding: 6px 8px;
  border-radius: 6px;
  overflow: hidden;
  transition: all 0.2s ease;
  display: inline-block;
}
.checkbox-wrapper-4 .cbx:not(:last-child) {
  margin-right: 6px;
}
.checkbox-wrapper-4 .cbx:hover {
  background: rgba(0,119,255,0.06);
}
.checkbox-wrapper-4 .cbx span {
  float: left;
  vertical-align: middle;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:first-child {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  transform: scale(1);
  border: 1px solid #cccfdb;
  transition: all 0.2s ease;
  box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}
.checkbox-wrapper-4 .cbx span:first-child svg {
  position: absolute;
  top: 3px;
  left: 2px;
  fill: none;
  stroke: #fff;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-dasharray: 16px;
  stroke-dashoffset: 16px;
  transition: all 0.3s ease;
  transition-delay: 0.1s;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-4 .cbx span:last-child {
  padding-left: 8px;
  line-height: 18px;
  font-size: 20px;
}
.checkbox-wrapper-4 .cbx:hover span:first-child {
  border-color: #07f;
}
.checkbox-wrapper-4 .inp-cbx {
  position: absolute;
  visibility: hidden;
}
.checkbox-wrapper-4.checked {
  animation: wave-4 0.4s ease;
}
/* .checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
  background: #07f;
  border-color: #07f;
  animation: wave-4 0.4s ease;
} */
.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
  stroke-dashoffset: 0;
}
.checkbox-wrapper-4 .inline-svg {
  position: absolute;
  width: 0;
  height: 0;
  pointer-events: none;
  user-select: none;
}
@media screen and (max-width: 640px) {
  .checkbox-wrapper-4 .cbx {
    width: 100%;
    display: inline-block;
  }
}
@-moz-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-webkit-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@-o-keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
@keyframes wave-4 {
  50% {
    transform: scale(0.9);
  }
}
/* planner left sidebar */

@keyframes plansidebar-subject-open {
  0%{
    opacity: 0;
    height: 0px;
  }

  100% {
    opacity: 1;
    height: fit-content;
  }
}

@keyframes plansidebar-subject-close {
  0%{
    opacity: 1;
  }

  100% {
    opacity: 0;
    height: 0px;
    display: none;
  }
}
.planner-sidebar .subjects-list.open {
  animation: plansidebar-subject-open 0.5s forwards;
  display: block;
}

.planner-sidebar .subjects-list.closed {
  animation: plansidebar-subject-close 0.5s forwards;
}

.planner-sidebar .subjects-show-btn {
  height: 40px;
  border-radius: 5px;
}

.planner-sidebar .subjects-show-btn:hover {
  background-color: #e1e1e1;
}

.planner-sidebar .subjects-wrapper {
  width: 90%;
  margin-left: 5%;
  margin-top: 50px;
}

.planner-sidebar {
  width: 20%;
  z-index: 2;
  overflow-y: auto;
  position: relative;
  height: calc(100vh - 200px)
}
.planner-sidebar .create-btn-wrapper {
  margin-top: 30px;
  margin-left: 40px;
}
.calendar-container .planner-header .inner {
  width: 90%;
  margin: 10px 0px 10px 5%;
}

.calendar-container .planner-header .inner > div {
  display: inline-block;
}

.calendar-container .planner-header .day-assets > button{
  display: inline-block;
}

.calendar-container .planner-header select {
  height:50px;
  outline: none;
  border: 1px #bfbfbf solid;
  padding: 0px 10px;
  border-radius: 5px;
  font-size: 30px;
}

.calendar-container .planner-header .view-options-wrpper {
  float: right;
}

.planner-sidebar .subjects-show-btn span {
  display: inline-block;
  margin-left: 10px;
  font-size: 24px;
}

.planner-sidebar .subjects-show-btn .svg-wrapper {
  float: right;
}

.calendar-btn {
  font-family: 'Open Sans';
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: #fff;
  color: #262626;
  border-radius: 10px;
  height: 50px;
  font-weight: 600;
  min-width: 100px;
  padding: 0px 20px;
  transition: 0.2s ease;
  cursor: pointer;
  outline: 0;
}

.calendar-btn:hover {
  color: #FFF;
  background: #455AF7;
}

.btn-small {
  min-width: 50px;
}


.btn-day {
  font-family: 'Open Sans';
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  cursor: pointer;
  z-index: 99;
  outline: 0;
  border-radius: 10px;
  transition: 0.4s all;
}

.btn-day.active {
  color: #FFF;
  font-weight: 600;
  z-index: 99;
}

.btn-day.active::before {
  position: absolute;
  content: '';
  width: 40px;
  height: 40px;
  background: #455AF7;
  border-radius: 10px;
  z-index: -1;
}

.sidebar-calendar .text-field {
  padding: 10px;
  height: 50px;
  width: 200px;
  border: 1px solid #f0f0f0;
  border-radius: 10px;
  margin: 0px 10px 0 0;
}

.sidebar-calendar .title {
  font-size: 1.3em;
}

.sidebar-calendar .subtitle {
  font-size: 1.1em;
}

/* Calendar */

.calendar-wrapper .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.calendar-wrapper .calendar-assets {
  display: none;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding: 10px; */
}

.calendar-wrapper #currentDate{
text-align:center;
font-size:20px;
}

.calendar-wrapper .field {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  margin: 20px 0;
}

.calendar-wrapper .field label {
  margin: 2px;
}

.calendar-wrapper .form-input {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.calendar-wrapper .day-assets {
  display: flex;
  justify-content: space-between;
  width: 324px;
}



.calendar-wrapper .day-assets .btn:nth-child(2) i {
  padding: 0 10px 0 0 !important;
}

.calendar-wrapper .calendar {
  height: 370px;
  width: 324px;
  border-radius: 18px;
  background: #ffffff;
  padding: 10px;
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  margin-top: 20px;

}

.calendar-wrapper .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px 18px 0px 0px;
  padding: 15px;
  height: 50px;
  width: 100%;
  color: #262626;
}

.calendar-wrapper table{
  width: 100%;
}
.calendar-wrapper .month {
  font-size: 0.7em;
}

.calendar-wrapper .icon {
  padding: 10px;
  font-size: 1em;
  margin: 0 0 0 5px;
  background: #ffffff;
  color: #455af7;
  border: none;
  cursor: pointer;
  outline: 0;
}

.calendar-wrapper .icon:hover {
  cursor: pointer;
}

.calendar-wrapper .calendar {
  width: 100%;
}

.calendar-wrapper .weekends th {
  font-size: 1em;
  color: gray;
  font-weight: 400;
  width: 40px;
  margin: 10px 0;
}

.calendar-wrapper .calendar tr {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 3px;
}

.calendar-wrapper .calendar td {
  display: flex;
  height: 40px;
  width: 40px;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 99;
}
/* .plan-drag-zone {
  position: absolute;
  left: 10%;
  width: 80%;
  height: 100%;
  z-index: 1;
} */

.plan-drag-zone .plan{
  position: absolute;
  width: calc(100% - 100px);
  left: 100px;
  z-index: 4;
  pointer-events: auto;
  touch-action: pan-y;
}

.plan-drag-zone .plan-display-zone {
  background-color: #07f;
  height: 60px;
  border-radius: 7px;
  color: #fff;
  text-align: left;
}

.plan-name, .plan-time-info {
  margin-left: 15px;
}
.plan-drag-zone .item-dragged {
  height: 130px;
  background-color: #6743ee;
  cursor: move !important;
}

.planner-timebar {
  position: absolute;
  width: 100%;
  height: 0px;
  border: 1px solid red;
  top: 30px;
}

.calendar-container #weekly-planner {
  display: none;
}

.calendar-container #monthly-planner {
  display: none;
}

.calendar-container #weekly-planner td:nth-child(-n + 8){
  border-top: none;
}

.calendar-container #weekly-planner td:nth-child(1){
  width: 100px;
}

.calendar-container #weekly-planner p {
  padding: 0px;
  margin: 0px;
}

.calendar-container #weekly-planner p.date {
  font-size: 25px;
}

.calendar-container #weekly-planner p.day {
  font-size: 20px;
}

.calendar-container #weekly-planner .weekly-planner-header {
  height: fit-content;
}

.calendar-container #weekly-planner tbody {
  table-layout: fixed;
  width: 100%;
  position: relative
}

.calendar-container #weekly-planner tr {
  display: flex;
  position: relative;
}

.calendar-container #weekly-planner tr.weekly-planner-header th:nth-child(-n + 8){
  width: calc((100% - 100px) / 7);
}

.calendar-container #weekly-planner tr.weekly-planner-header th:nth-child(1){
  width: 100px;
}

.calendar-container #weekly-planner td.block {
  width: calc((100% - 100px) / 7);
}

.calendar-container td.hours {
  width: 100px;
  position: relative;
  padding-top: 15px;
}

.calendar-container #weekly-planner .plan-drag-zone .plan{
  position: absolute;
  width:calc((100% - 100px) / 7);
  left: 100px;
  z-index: 4;
  pointer-events: auto;
  touch-action: pan-y;
}

.analysis .calendar-wrapper .calendar th{
  flex: 1;
}
.analysis .calendar-wrapper .calendar td{
  flex: 1;
  background-color: #455AF7;
  text-align: left;
  display: block;
}

.analysis .calendar-wrapper .calendar button{
  text-align: left;
  display: block;
}