.ThemesContainer {
  --theme-width: 18.75rem;
  position: relative;
  grid-template-columns: repeat(auto-fill, var(--theme-width));
  justify-content: center;
  gap: 2rem;
  width: 100%;
  display: grid;
  margin-bottom: 15rem;
}

/* @media (max-width: 87.5rem) {
  .ThemesContainer {
    grid-template-columns: repeat(auto-fill, 2 3.75rem);
  }
}

@media (max-width: 75rem) {
  .ThemesContainer {
    grid-template-columns: repeat(auto-fill, 14.375rem);
    gap: 0.625rem;
  }
} */