.Onboarding {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--blueGradient);
}

.container {
  background-color: #ffffff20;
  border-radius: 0.5rem;
  padding: 1rem;
}

.header > div {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.header h3 {
  margin-left: 1rem;
  font-size: 2rem;
}

#logo {
  height: 5rem;
  width: 5rem;
  background-color: #000;
  border-radius: 0.5rem;
}

.progressBar {
  margin-left: auto;
}

.layer {
  margin-bottom: 1rem;
}

p.title {
  color: var(--gray3)
}