.Onboarding {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Onboarding .container {
  
}

/* :global(.Onboarding) html {
  font-size: clamp(15px, 1vw, 16px);
} */