.LineInput {
  position: relative;
  height: 2.8rem;
  margin-top: 1rem;
  margin: 1.25rem 0.938rem 0em 0.938rem;
  border: 1px solid var(--gray2);
  border-radius: 0.938rem;
}

.LineInput input {
  position: absolute;
  padding: 0em 0.875rem;
  margin-top: 0.625rem;
  height: 100%;
  width: 100%;
  background-color: transparent;
  border: none;
  text-align: left;
  font-weight: 400;
  font-size: 110%;
}

.LineInput .lineContainer {
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 0.1875rem;
  position: absolute;
  bottom: 0em;
}

.LineInput input:focus~.lineContainer .line {
  width: 50%;
}

.LineInput .line {
  width: 0%;
  transition: .3s ease-in-out width;
  background-color: #e91e63;
  position: absolute;
  height: 0.1875rem;
}

.LineInput .line.left {
  right: 50%;
}

.LineInput .line.right {
  left: 50%;
}

.LineInput .title {
  transition: .3s ease-in-out color;
  z-index: 1;
  font-weight: 500;
  margin-top: -0.5rem;
  margin-left: 0.8125rem;
  color: rgb(90, 90, 90);
  background-color: white;
  width: fit-content;
}

.LineInput input:focus~.title {
  color: #e91e63;
}