.PlansTimeline {
  top: -1rem;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: var(--text-color);
}

.PlansTimeline .header .layer {
  display: flex;
  align-items: center;
}

.PlansTimeline .header h2 {
  font-weight: 700;
  font-size: 2rem;
  margin-right: 1rem;
}

.PlansTimeline .header .layer#notes {
  color: var(--notes-color);
  font-weight: 600;
  margin-left: 0.2rem;
  font-size: 1rem;
}

.PlansTimeline .header .DateSelectorBtn {
  font-size: 0.8rem;
  color: var(--gray1);
}

.PlansTimeline .header .buttons {
  display: flex;
  margin-left: auto;
}

.PlansTimeline .header .buttons div {
  cursor: pointer;
}

.PlansTimeline .header .buttons div#addPlan {
  font-size: 2.5rem;
  color: var(--gray2);
}

.PlansTimeline .subjectEl {
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.PlansTimeline .plansContainer {
  margin-top: 1rem;
}

.PlansTimeline .plansContainer .type {
  font-weight: 500;
}

.PlansTimeline .plansContainer#donePlans .type {
  color: #1bc100;
}

.PlansTimeline .plansContainer#todoPlans .type {
  color: #d60000;
}
