@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.PlansTimeline {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
}

.PlansTimeline .header .layer {
  display: flex;
}

.PlansTimeline .header h2 {
  font-family: "Poppins" sans-serif;
  font-weight: 900;
  font-size: 2.5rem;
}

.PlansTimeline .header .layer#notes {
  color: var(--gray2);
  font-weight: 600;
  margin-left: 0.2rem;
  font-size: 1.1rem;
}

.PlansTimeline .header .date {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--gray1);
  margin: 1rem 0rem 0rem 1rem;
}

.PlansTimeline .header .buttons {
  display: flex;
  margin-left: auto;
}

.PlansTimeline .header .buttons div {
  cursor: pointer;
}

.PlansTimeline .header .buttons div#addPlan {
  font-size: 2.5rem;
  color: #bebebe;   
}

.PlansTimeline .subjects {
  display: flex;
  margin-top: 1rem;
  color:#575767 ;
  padding-bottom: 1rem;
  border-bottom: 0.1rem solid var(--gray0);
}

.PlansTimeline .subjects .subject:first-child {
  padding-right: 1rem;
}

.PlansTimeline .subjects .subject:not(:first-child) {
  border-left: 0.1rem solid var(--gray0);
  padding: 0rem 1rem;
}

.PlansTimeline .subjectEl {
  padding: 0rem 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.PlansTimeline .plansContainer {
  margin-top: 1rem;
}

.PlansTimeline .plansContainer .type {
  font-weight: 500;
  font-family: "Poppins" sans-serif;
}

.PlansTimeline .plansContainer#donePlans .type {
  color: #1BC100;
}

.PlansTimeline .plansContainer#todoPlans .type {
  color: #d60000;
}
