.GroupUrlBtn {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3.125rem;
  height: 1.875rem;
  border-radius: 3.125rem;
  cursor: pointer;
}

.GroupUrlBtn i {
  display: flex;
  justify-content: center;
  align-items: center;
}

.GroupUrlBtn .hoverEl {
  position: absolute;
  top: 5rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out, top .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.1875rem 0.625rem;
  border-radius: 0.313rem;
  background-color: #ffffffC0;
}

.GroupUrlBtn:hover .hoverEl {
  visibility: visible;
  opacity: 1;
  top: 1.875rem;
}