
.ChatContainer {
  border-radius: 1.15rem;
  line-height: 1.25;
  max-width: 75%;
  width: fit-content;
  padding: 0.5rem;
  position: relative;
  word-wrap: break-word;
  background-color: #e5e5ea;
  color: #000;
  margin-bottom: 1.25rem;
  margin-left: 2.5rem;
}

.ChatContainer::before {
  border-bottom-right-radius: 0.8rem 0.7rem;
  border-left: 1rem solid #e5e5ea;
  left: -0.35rem;
  transform: translate(0, -0.1rem);
}

.ChatContainer::after {
  background-color: #fff;
  border-bottom-right-radius: 0.5rem;
  left: 1.25rem;
  transform: translate(-1.875rem, -0.125rem);
  width: 0.625rem;
}

.ChatContainer .profileImg {
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 0.938rem;
  position: absolute;
  left: -2rem;
  top: 0em;
  z-index: 2;
}

.ChatContainer .name {
  position: absolute;
  left: -1.25rem;
  top: 2.25rem;
  font-size:  0.688rem;
  width: 2.5rem;
  overflow-y: hidden;
  height: 0.6875rem;
}

.ChatContainer .time {
  position: absolute;
  left: 0rem;
  bottom: -1rem;
  font-size:  0.688rem;
  width: 2.5rem;
  height: 0.6875rem;
  white-space: nowrap;
}