html {
  scroll-behavior: smooth;
}

.Terms {
  padding-top: 10rem;
  margin: var(--main-offset);
}

.Terms .header {
  margin-bottom: 2rem;
}

.Terms div#tableOfContents li {
  margin: 0.5rem 0rem;
}
