.MembersContainer {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media (max-width: 1400px) {
  .MembersContainer {
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
  }
}