.RecommendChallenges {
  position: relative;
}

.RecommendChallenges .Swiper {
  width: 100%;
  padding: 2.5rem 0em;
}

.RecommendChallenges .Swiper .Slide {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}