.WebsiteUsageChart {
  height: 100%;
  width: 100%;
}

.WebsiteUsageChart svg > * {
  pointer-events: all;
}

.WebsiteUsageChart .chartsContainer {
  display: flex;
  justify-content: space-around;
}

.WebsiteUsageChart .chartWrapper {
  aspect-ratio: 1;
  width: 40%;
  position: relative;
}

.WebsiteUsageChart .totalTime {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 0;
}

.WebsiteUsageChart .totalTime .time {
  font-size: 1.8rem;
}

.WebsiteUsageChart .totalTime .text {
  color: var(--gray1);
}

.WebsiteUsageChart .noChart {
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 2.5rem;
  height: 100%;
  text-decoration: underline;
}

.WebsiteUsageChart .labels {
  display: grid;
  grid-template-columns: repeat(auto-fill, 14rem);
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.25rem;
}

.WebsiteUsageChart .labels .label {
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out opacity;
}

.WebsiteUsageChart .label.filtered {
  opacity: 0.3;
}

.WebsiteUsageChart .label .color {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 1rem;
  margin-right: 0.5rem;
  flex-shrink: 0;
}

.WebsiteUsageChart .label .name {
  overflow-x: hidden;
  margin-right: 0.5rem;
}
