.EventPlanner {
  height: 100%;
  width: 100%;
}

.EventPlanner .header {
  display: flex;
  align-items: center;
}

.EventPlanner .header .date {
  margin: 0rem 1rem;
  font-size: 2rem;
  font-weight: 800;
}

.EventPlanner .header .button {
  font-size: 2rem;
  cursor: pointer;
}