.Account .boxContainer {
  width: 60%;
  margin-left: 20%;
}

.Account .boxWrapper {
  display: flex;
}

.Account .box {
  background-color: rebeccapurple;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(99, 99, 99);
  background-color: #fff;
  margin: 20px;
  position: relative;
}

.Account .title {
  margin: 10px 10px 20px 10px;
}

.Account .box#extension .title {
  margin-bottom: 40px;
}

.Account .submitWrapper {
  position: absolute;
  right: 0px;
  bottom: 10px;
  margin: 0px !important;
}

.Account .box#profile .emailWrapper {
  display: flex;
}

.Account .box#profile .emailWrapper>div {
  width: 100%;
}

.Account .box#profile .contents>div {
  margin: 20px;
}

.Account #passwordReq ul li {
  list-style: disc;
  margin-left: 30px;
}

/* profile pic selector */

.Account .box#profileImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.Account .imgSelector {
  position: relative;
}

.Account .profilePic {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.Account .fileUpload {
  display: none;
}

.Account .circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Account .pImage {
  position: absolute;
  top: 170px;
  left: 170px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.Account .pImage:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.Account .uploadBtn {
  font-size: 1.2em;
}

.Account .uploadBtn:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}


.Account #welcome {
  font-size: 30px;
  margin-top: 40px;
}