.Account .boxContainer {
  width: 80%;
  margin-left: 10%;
}

.Account .boxWrapper {
  display: flex;
}

.Account .box {
  background-color: rebeccapurple;
  width: 100%;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgb(99, 99, 99);
  background-color:#F8F9FA;
  margin: 20px;
  position: relative;
}

.Account .backArrow {
  position: absolute;
  margin-left: -120px;
  margin-top: -80px;
}


.Account .backArrow h1 {
  margin-top: -54px;
  margin-left: 70px;
}
.Account .title {
  margin: 10px 10px 20px 10px;
}

.Account .box#extension .title {
  margin-bottom: 40px;
}

.Account .submitWrapper {
  position: absolute;
  right: 30px;
  bottom: 30px;
  margin: 0px !important;
}

.Account .content #passwordReq {
  margin-left: 20px;
}

.Account .content #passwordReq h3{
  font-weight: 300;
}
.Account .box#profile .emailWrapper {
  display: flex;
}

.Account .box#profile .emailWrapper>div {
  width: 100%;
  margin-top: 10px;
  justify-content: left;
} 

.Account .explanation {
  max-width: 70%;
  float: bottom ;
  margin: -10px;
  margin-top: -84px;
  margin-left: 10%;
  padding: 20px;
}

.Account .box#profile .emailWrapper .ProfileConfirm {
  margin-left: 3vh;
}
.Account .box#profile .contents>div {
  margin-right: 7%;
}

.Account .box#profile .contents {
  margin-right: 100px;
  width: 100%;
}

.Account #passwordReq ul li {
  list-style: disc;
  margin-left: 30px ;
}

/* profile pic selector */

.Account .box#profileImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  background-color: transparent;
}

.Account .imgSelector {
  position: relative;
}

.Account .profilePic {
  width: 200px;
  height: auto;
  object-fit: cover;
}

.Account .fileUpload {
  display: none;
}

.Account .circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 200px;
  height: 200px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Account .pImage {
  position: absolute;
  top: 170px;
  left: 170px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.Account .pImage:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.Account .uploadBtn {
  font-size: 1.2em;
}

.Account .uploadBtn:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}


.Account #welcome {
  font-size: 30px;
  margin-top: 40px;
}

.Account .content .iconWrapper>div {
  padding: 20px;
  margin-top: 20px;
  margin-left: -90%;
  float: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Account .authBtn { 
  margin-left: 81%;
  margin-top: -93px;
  padding: 20px;
}

.boxWrapper .box#accounts .content>div {
  left: 0;
  right: 0;
}