.MainFooter {
  background: var(--blueGradient);
  color: #fff;
  white-space: nowrap;
}

.MainFooter .section {
  display: flex;
}

.MainFooter .section#middle,
.MainFooter .section#bottom {
  padding: 0rem var(--main-offset);
}

.MainFooter .layer {
  margin-right: 20rem;
}

.MainFooter .layer .title {
  margin-bottom: 1rem;
}

.MainFooter .item {
  display: flex;
  transition: font-size 0.2s ease-in-out;
  align-items: center;
  height: 2.5rem;
}

.MainFooter .layer#links .item:hover {
  font-size: 1.1rem;
}

.MainFooter .item i {
  margin-right: 1rem;
}

.MainFooter .section#bottom {
  padding-bottom: 2rem;
}

.MainFooter .divider {
  height: 1px;
  background-color: #fff;
  margin: 2rem var(--main-offset);
}

@media (max-width: 600px) {
  .MainFooter .section {
    flex-direction: column;
  }

  .layer .title {
    margin-top: 1rem;
  }
}
