.ThemeCategoryBtn {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.ThemeCategoryBtn p {
  pointer-events: none;
}

.ThemeCategoryBtn .options {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  background-color: #fff;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;
  transition: .3s ease-in-out all;
}

.ThemeCategoryBtn.open .options {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  visibility: visible;
  opacity: 1;
  top: 20px;
  height: 140px;
  color: var(--font-gray);
}

.ThemeCategoryBtn .categoryDisp {
  color: #fff;
  white-space: nowrap;
}

@media (max-width: 1400px) {
  .ThemeCategoryBtn .categoryDisp {
    font-size: 13px;
  }
}