.group {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #f7f9fd;
  border-radius: 2.5rem;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  position: relative;
  margin: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group .groupColor {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  right: 0em;
  top: 0em;
}

.group .name {
  font-weight: 800;
  font-size: 0.09rem;
  max-width: calc(100% -  3.75rem);
}

.group .name i {
  font-size: 0.09rem;
  margin-right: 0.625rem;
}

.group .explanation {
  border-top: 0.0625rem solid #545454;
  position: relative;
  margin-top: 1rem;
  padding-top: 1.25rem;
}

.group .bottom {
  position: absolute;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2.5rem);
}

.group .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.group .tags .tag {
  margin: 0em 0.313rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.625rem;
  background-color: blanchedalmond;
}

.group .info {
  position: absolute;
  display: flex;
  background-color: blanchedalmond;
  height: 2.0625rem;
  border-radius: 1.0625rem;
  padding: 0em 0.625rem;
  top: -1rem;
}

.group .info li {
  margin: 0em 0.1875rem;
}

.group .info li p {
  margin-right: 0.1875rem;
}

.group .buttons {
  display: flex;
}

.group .buttons button {
  background-color: #fd8a8a;
  font-weight: 800;
  color: #fff;
  padding: 0em 1.25rem;
  border-radius: 1.25rem;
  font-size: 0.9rem;
}

.group .buttons>* {
  margin: 0.313rem;
  position: relative;
}

.group .buttons .copyModal {
  position: absolute;
  display: none;
}

.group .buttons .copyModal.copied {
  display: block;
  background-color: #fd8a8a;
  height: 6.25rem;
  width: 6.25rem;
}