@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.Groups {
  padding: 30px;
}

.Groups .box {
  margin: 30px 50px;
  background-color: #fff;
  box-shadow: var(--shadow9);
  border-radius: 40px;
  padding: 20px;
}

.Groups .box:nth-child(1) {
  height: calc(100vh - 300px);
}

.Groups .box .searchOpt {
  display: flex;
}

.Groups .box .searchOpt > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Groups .box .searchOpt .searchWrapper {
  width: 300px;
}

.Groups button#createGroupBtn {
  border: 1px solid var(--purple2);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  border-radius: 30px;
  color: var(--purple2);
}

.Groups .box:nth-child(2) {
  min-height: 60vh;
}