.Groups {
  padding: 50px;
}

.Groups .box {
  display: flex;
  margin: 30px 50px;
  background-color: #ffffff;
  width: 97%;
  box-shadow: var(--shadow9);
  border-radius: 40px;
  padding: 20px;
  margin-left: 2px;
  justify-content: center;  
}

.Groups .box:nth-child(1) {
  height: calc(100vh - 300px);
}

.Groups .box .searchOpt {
  display: flex;
  margin-bottom: 100px;
}

.Groups .box .searchOpt > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Groups .box .searchOpt .searchWrapper {
  width: 300px;
}

.Groups button#createGroupBtn {
  border: 1px solid var(--purple2);
  display: flex;
  align-items: center;
  padding: 0px 10px;
  height: 40px;
  border-radius: 30px;
  color: var(--purple2);
}

.Groups .box:nth-child(2) {
  min-height: 60vh;
}

.Groups .tagContainerWrapper {
  width: 300px;
}

@media (max-width: 1400px) {
  .Groups .tagContainerWrapper {
    width: 220px;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  padding-bottom: 0px;
  padding-left: 50px;
  font-size: 270%;
  font-weight: 800;
}