@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);


.PlannerContainer .header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.PlannerContainer .title {
  font-size: 50px;
  font-weight: 800;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 30px;
  color: #545454;
  margin-right: auto;
}

.PlannerContainer .container {
  display: flex;
  background-color: #f7f9fd;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  margin-bottom: 50px;

}

.PlannerContainer .container .planner {
  flex-grow: 1;
  margin-right: 50px;
}

.PlannerContainer .container .widget {
  width: fit-content;
  margin-left: auto;
}

.PlannerContainer .smallCalendarWrapper {
  display: flex;
  width: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.PlannerContainer .planTimelineWrapper {
  width: 300px;
  margin-top: 30px;
  transition: width .3s ease-in-out;
}

@keyframes showScroll {
  to {
    overflow-y: auto;
  }
}

/* .PlannerContainer .planTimelineWrapper:hover {
  width: 400px;
  animation: showScroll 2s .3s forwards;
} */

@media (max-width: 1400px) {
  .PlannerContainer .title {
    font-size: 30px;
  }

  .PlannerContainer .smallCalendarWrapper {
    width: 250px;
  }

  .PlannerContainer .planTimelineWrapper {
    width: 250px;
  }
}