@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.Planner {
  padding: 0px 50px;
}

.Planner .header {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.Planner .header .modeBtnWrapper {
  margin-left: auto;
}

.Planner .container {
  display: flex;
  background-color: #f7f9fd;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  margin-bottom: 50px;

}

.Planner .container .planner {
  flex-grow: 1;
  margin-right: 50px;
}

.Planner .container .widget {
  width: fit-content;
  margin-left: auto;
}

.Planner .smallCalendarWrapper {
  display: flex;
  width: 300px;
  position: relative;
  justify-content: center;
  align-items: center;
}

.Planner .planTimelineWrapper {
  width: 300px;
  margin-top: 30px;
  transition: width .3s ease-in-out;
}

@keyframes showScroll {
  to {
    overflow-y: auto;
  }
}

@media (max-width: 1400px) {
  .Planner .smallCalendarWrapper {
    width: 250px;
  }

  .Planner .planTimelineWrapper {
    width: 250px;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  padding-bottom: -20px;
  padding-left: 50px;
}
