.TimelineContainer {
  position: relative;
}

.TimelineContainer .row {
  display: flex;
  flex-wrap: nowrap;
}

.TimelineContainer .timelineWrapper {
  padding: 3.125rem 0em 0em 3.125rem;
  position: relative;
}

.TimelineContainer .box {
  height: 1.25rem;
  width: 100%;
  border: 0.0625rem solid #dee0e3;
}

.TimelineContainer .rowHeader {
  position: absolute;
  top: 0em;
  left: 2.813rem;
  width: calc(113% - 3.125rem);
  display: flex;
  font-size:  1.25rem;
}

.TimelineContainer .rowHeader div {
  width: 100%;
  text-align: left;
}

.TimelineContainer .colHeader div {
  height: calc(100% / 24);
  position: relative;
  transform: translate(0rem, 0.4375rem);
}

.TimelineContainer .colHeader {
  position: absolute;
  top: 2.5rem;
  height: calc(100% - 3.125rem);
  font-size:  1.25rem;
  text-align: right;
}

.TimelineContainer .activity {
  opacity: 0;
}