.ChatModal {
  position: fixed;
  right: 50px;
  top: 200px;
  background-color: #fff;
  height: 700px;
  width: 400px;
  z-index: 5;
  border-radius: 20px;
  transition: transform .3s ease-in-out;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.ChatModal.open {
  transform: translateX(-100px);
}

.ChatModal .header {
  height: 40px;
  background-color: #ff9494;
  display: flex;
  align-items: center;
}

.ChatModal .header .closeBtn {
  margin-left: auto;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
}

/* sidebar chat animation */
