.ChatModal {
  position: fixed;
  right: -500px;
  bottom: 100px;
  background-color: #fff;
  height: 550px;
  width: 400px;
  z-index: 3;
  border-radius: 20px;
  transition: transform .3s ease-in-out;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  overflow: hidden;
}

.ChatModal.open {
  transform: translateX(-550px);
}

.ChatModal .header {
  height: 40px;
  background-color: var(--pink);
  display: flex;
  align-items: center;
}

.ChatModal .header .closeBtn {
  margin-left: auto;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
}

.ChatModal .sidebar {
  height: 100%;
  width: 230px;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: -300px;
  transition: transform .3s ease-in-out;
  z-index: 2;
}

.ChatModal .sidebarToggleBtn {
  margin-left: 10px;
}

.ChatModal .sidebar.open {
  transform: translateX(300px);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.ChatModal .sidebarHeader {
  height: 40px;
  width: 100%;
  background-color: var(--pink);
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.ChatModal .sidebarHeader .closeBtn {
  margin-left: auto;
  margin-right: 10px;
}

.ChatModal .group {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  color: #fff;
  position: relative;
  margin: 5px 0px;
  pointer-events: auto;
}

.ChatModal .group .notifications {
  position: absolute;
  left: 35px;
  top: 35px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius:50%;
  background-color: red;
  border: 2px solid black;
}

.ChatModal .group .hoverEl {
  position: absolute;
  left: 60px;
  top: 13px;
  opacity: 0;
  white-space: nowrap;
  height: 20px;
  padding: 3px 5px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity .3s ease-in-out;
  background-color: var(--pink);
  z-index: -1;
}

.ChatModal .group:hover .hoverEl {
  opacity: 1;
  z-index: 1;
}

.ChatModal .dms {
  width: 50px;
  height: 50px;
  background-color: #6f6af8;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
}

.ChatModal .group .bar {
  width: 6px;
  height: 10px;
  border-radius: 5px;
  background-color: var(--pink);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: height .2s ease-in-out;
}

.ChatModal .group:hover .bar {
  height: 70%;
}

.ChatModal .content {
  display: flex;
  flex-direction: row;
}

.ChatModal .rooms {
  margin-left: 70px;
}

.ChatModal .rooms .roomTypes .room{
  margin-left: 10px;
}

.ChatModal .roomTypes .type, .ChatModal .room {
  cursor: pointer;
}

.ChatModal .messageInputContainer {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.ChatModal .chatsContainer {
  height: calc(100% - 100px);
  overflow-y: auto;
}
.ChatModal .message {
  background-color: var(--pink);
  color: #fff;
  border-radius: 10px;
  padding: 3px 10px;
  width: fit-content;
  text-align: right;
}
.ChatModal .messageWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
}
.ChatModal .messageWrapper.me {
  margin-left: auto;
  width: fit-content;
  margin-right: 10px;
}

.ChatModal .me .message {
  margin-top: 27px;
}
.ChatModal .messageWrapper.me .timeDisp{
  text-align: right;
  position: absolute;
  right: 0px;
  bottom: -20px;
}
.ChatModal .timeDisp {
  font-size: 12px;
}
.ChatModal .profileWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  left: -35px;
  position: absolute;
}

.ChatModal .messageWrapper.others {
  margin-left: 40px;
  margin-top: 7px;
}

.ChatModal .groupName {
  color: #fff;
  margin-left: 20px;
}

.ChatModal .groupContainer {
  position: absolute;
  overflow-y: auto;
  height: 500px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  width: 100%;
  pointer-events: none;
}

.ChatModal .groupContainer::-webkit-scrollbar {
  display: none;
}

.ChatModal .type {
  border-bottom: 2px solid var(--pink);
}