.ChatModal {
  position: fixed;
  background-color: #fff;
  width: 400px;
  height: 500px;
  right: -600px;
  bottom: 100px;
  z-index: 5;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: right .3s ease-in-out;
}

.ChatModal.isOpen {
  right: 100px;
}

.ChatModal .header {
  background-color: var(--pink);
  height: 35px;
  display: flex;
  align-items: center;
}

.ChatModal .closeBtn {
  margin-left: auto;
  margin-right: 10px;
  font-size: 30px;
  color: #fff;
}

.ChatModal .inputWrapper {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 40px);
  background-color: transparent;
  display: flex;
  padding: 0px 20px 10px 20px;
}

.ChatModal .inputWrapper input {
  border: none;
  flex: 1;
}

.ChatModal .sidebar {
  position: absolute;
  width: 200px;
  height: 100%;
  background-color: #fff;
  z-index: 10;
  top: 0px;
  left: -200px;
  transition: .3s left ease-in-out;
}

.ChatModal .sidebar.open {
  left: 0px;
}

.ChatModal .sidebar .header .sidebarToggleBtn {
  margin-left: auto;
}

.ChatModal .header .sidebarToggleBtn {
  margin-left: 20px;
}

.ChatModal .groups {
  position: absolute;
}

.ChatModal .group {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.ChatModal .groupProfile {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.ChatModal .group .notificationN {
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30px;
  left: 30px;
  background-color: #fff;
  border-radius: 50%;
}

.ChatModal .hoverEl {
  visibility:hidden;
  opacity: 0;
  transition: .3s ease-in-out opacity, .3s ease-in-out visibility;
  position: absolute;
  left: 45px;
  top: 15px;
  pointer-events: none;
  font-size: 13px;
  background-color: #fff;
  border-radius: 3px;
  padding: 0px 3px;
  text-wrap: nowrap;

}

.ChatModal .groupProfile:hover ~ .hoverEl{
  opacity: 1;
  visibility: visible;
}

.ChatModal .rooms {
  margin-left: 50px;
}

.ChatModal .roomType i {
  margin-left: 10px;
  position: absolute;
  transform: rotate(0deg);
  transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.ChatModal .roomType i.clicked {
  transform: rotate(180deg);
}

.ChatModal .msgContainer {
  height: calc(100% - 85px);
  overflow-y: auto;
}

.ChatModal .msgWrapper {
  display: flex;
  justify-content: right;
  position: relative;
  padding-bottom: 20px;
}

.ChatModal .msgWrapper .msg {
  background-color: var(--pink);
  color: #fff;
  padding: 3px 10px;
  border-radius: 15px;
}

.ChatModal .msgWrapper .timeDisp {
  position: absolute;
  bottom: 0px;
}

.ChatModal .msgWrapper.others {
  justify-content: left;
  margin-left: 40px;
  margin-bottom: 5px;
}

.ChatModal .msgWrapper.others .timeDisp {
  justify-content: left;
  font-size: 12px;
}

.ChatModal .profileWrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: red;
  left: -35px;
  top: 5px;
  position: absolute;
}

.ChatModal .msgWrapper .name {
  position: absolute;
  top: -13px;
  left: -30px;
  font-size: 12px;
  display: none;
}

.ChatModal .dateChange {
  justify-content: center;
  display: flex;
}

.ChatModal .dateChange p {
  background-color: var(--pink);
  color: #fff;
  border-radius: 10px;
  padding: 0px 3px;
}

.ChatModal .locationHeader {
  padding-left: 10px;
}