.User {
  flex: 1;
  position: relative;
  display: flex;
  padding: 0rem 3.125rem;
}

.User .profileCard {
  width: 10vw;
  background-color: #fff;
  position: fixed;
  padding: 1.5rem;
}

.User .profileCard .ProfileImage {
  display: flex;
  justify-content: center;
}

.User .profileCard .info {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.User .profileCard .info .name {
  max-width: 70%;
  font-size: 1.5rem;
}

.User .profileCard .info i {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.User .profileCard .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;
}

.User .layer {
  flex: 1;
  margin-left: 10vw;
  width: calc(100% - 10vw);
}

.User .layer .boxContainer {
  height: 50vh;
  margin: 5rem;
}

.User .boxContainer#GroupsContainer {
  overflow: hidden;
}

.User .layer .boxContainer#GroupsContainer > div {
  grid-template-columns: repeat(auto-fill, 21.25rem);
  gap: 1.25rem;
  display: grid;
  overflow-y: auto;
  width: 100%;
  height: 100%;
  padding: 1rem;
}
