.User {
  --outer-padding: 4rem;
  --outer-border-radius: 3rem;
  padding: var(--outer-padding);
  border-radius: var(--outer-border-radius);
  background-color: var(--gray0);
  margin: 5rem;
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.left {
  flex: 1;
}

.right {
  width: 25%;
}

div#profileCard {
  display: flex;
  gap: 3rem;
}

div#profile {
  position: relative;
}

div#userStatus {
  position: absolute;
  right: 0rem;
  bottom: 0rem;
}

img#profileImg {
  width: 20rem;
  height: 20rem;
  background-color: var(--gray1);
  /* border-radius: calc( var(--outer-border-radius) - var(--outer-padding)); */
  border-radius: 2rem;
  border: none;
  box-shadow: var(--shadow1);
}

div#userInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 3rem;
}

p#name {
  font-size: 2rem;
}

.buttons {
  display: flex;
  gap: 2rem;
  margin-top: 1rem;
}

.boxContainer {
  height: 30rem;
  display: block;
}

div#myGroups {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-height: 150vh;
  overflow-y: auto;
  padding: 1rem 1.5rem;
}
