.User {
  flex: 1;
  position: relative;
  display: flex;
}

.User .profileCard {
  width: 20rem;
  background-color: #fff;
  position: fixed;
  padding: 1.5rem;
}

.User .profileCard .ProfileImage {
  display: flex;
  justify-content: center;
}

.User .profileCard .info {
  display: flex;
  margin-top: 2rem;
  align-items: center;
}

.User .profileCard .info .name {
  max-width: 70%;
  font-size: 1.5rem;
}

.User .profileCard .info i {
  font-size: 2rem;
  margin-left: 1.5rem;
}

.User .layer {
  flex: 1;
  margin-left: 20rem;
  width: calc(100% - 20rem);
}

.User .layer .boxContainer {
  height: 50vh;
  margin: 5rem;
}

.User .layer .boxContainer#GroupsContainer {
  grid-template-columns: repeat(auto-fill, 21.25rem);
  gap: 1.25rem;
  display: grid;
  overflow-y: auto;
}