.StatsContainer {
  padding: 10px 20px;
}

.StatsContainer .optionsHeader {
  position: sticky;
  top: 100px;
  display: flex;
  align-items: center;
  width: 100%;
}

.StatsContainer .optionsHeader .dateSelectorWrapper {
  margin-right: auto;
}

.StatsContainer .bigBox {
  margin-top: 30px;
  display: flex;
  border-radius: 30px;
  min-height: 500px;
}

.StatsContainer .bigBox > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.StatsContainer .bigBox:nth-child(1) {
  background-color: var(--blue0);
}

.StatsContainer .bigBox .overflow {
  width: 100vh;
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  color: var(--font-gray);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.StatsContainer .bigBox .overflow i {
  font-size: 23px;
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  color: var(--blue2);
}