@import url(https://fonts.googleapis.com/css?family=Permanent+Marker);

.StatsContainer {
  font-size: 30px;
  top: 0px;
}

.StatsContainer .boxes {
  display: flex;
  flex-wrap: wrap;
}

.StatsContainer .boxes .box {
  margin: 0px;
  flex-grow: 1;
  padding: 30px;
  position: relative;
  width: 100%;
  padding: 0px;
}

.StatsContainer .box .title {
  font-size: 40px;
  font-weight: 800;
  color: #545B77;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 30px;
  cursor: pointer;
}

.StatsContainer .box button.title {
  cursor: pointer;
}

.StatsContainer .box button.title:hover {
  background-color: rgba(233, 232, 217, 0.612);
}

.StatsContainer .box .title .caret {
  font-size: 30px;
}

.StatsContainer .box .buttonArea {
  display: flex;
  margin-bottom: 40px;
}

.StatsContainer .box .buttonArea > button{
  margin-right: auto;
}
.StatsContainer .box .container {
  display: flex;
  background-color: #e5f6ff;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 40px;
  margin-bottom: 50px;
}

.StatsContainer .box .container > div:not(.divider){
  width: 50%;
  text-align: left;
}

.StatsContainer .box .container > div:nth-child(1) {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.StatsContainer .box .divider {
  background-color: #b7e6ff;
  width: 5px;
  margin: 0px 50px;
  border-radius: 3px;
}

.StatsContainer .box .chartContainer {
  width: 70%;
}

.StatsContainer .box .todoList {
  background-color: #f2f2fd;
  border-radius: 20px;
  padding: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.StatsContainer .box .todoList ul li{
  border-radius: 20px;
  height: 50px;
  margin-bottom: 30px;
  padding: 10px 10px 10px 20px;
}

.StatsContainer .box strong {
  font-size: 15px;
}

.StatsContainer .boxes .smallBoxContainer {
  display: flex;
  width: 100%;
}

.StatsContainer .boxes .smallBox {
  background-color: #f7f9fd;
  border-radius: 40px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 0px 30px 50px;
  width: 100%;
  padding: 30px;
  position: relative;
  display: flex;
}

.StatsContainer .horizontalLine {
  width: 100%;
  height: 3px;
  border-radius: 3px;
  background-color: black;
  margin-bottom: 50px;
}

.StatsContainer .boxes .smallBox .circle {
  background-color: #5261f4;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.StatsContainer .CalendarModal {
  position: fixed;
  width: 500px;
  height: 500px;
  z-index: 2;
  border-radius: 20px;
  display: none;
  left: 50vw;
  top: 50vh;
  transform: translate(-50%, -50%);
  background-color: #ADC4CE;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.StatsContainer .CalendarModal.isOpen {
  display: block;
}

.StatsContainer .smallBox.chartsBox {
  flex-direction: column;
}

.StatsContainer .smallBox.chartsBox .title {
  font-size: 40px;
  font-weight: 800;
  color: #545B77;
  border-radius: 20px;
  width: fit-content;
  padding: 10px 30px;
}

.StatsContainer .smallBox.chartsBox .chartContainer{
  height: 100%;
  width: 80%;
  margin-left: 10%;
}

.StatsContainer .smallBoxContainer:nth-child(5) .smallBox.chartsBox .chartContainer{
  height: 100%;
  width: 70%;
  margin-left: 15%;
}