.SigninWithGoogleBtn {
    margin: 1rem;
}

.SigninWithGoogleBtn .googleIcon {
    width: 1.5rem;
    display: inline;
}

.SigninWithGoogleBtn .googleBtnWrapper {
    display: flex;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    transition: 500ms;
}

.SigninWithGoogleBtn:hover .googleBtnWrapper {
    cursor: pointer;
    background-color: rgb(200, 200, 200);
}

.SigninWithGoogleBtn .textWrapper {
    display: inline-table;
    font-size: 1rem;
    vertical-align: middle;
}