.ThemesContainer {
  position: relative;
  grid-template-columns: repeat(auto-fill, 400px);
  justify-content: center;
  gap: 20px;
  width: 100%;
  display: grid;
}

@media (max-width: 1400px) {
  .ThemesContainer {
    grid-template-columns: repeat(auto-fill, 200px);
  }
}
@media (max-height: 700px) {
  .CreateThemeModal {
    height: 300px;
  }

  .CreateThemeModal .content {
    max-height: 270px;
  }
}