.ThemesContainer {
  position: relative;
  grid-template-columns: repeat(auto-fill, 300px);
  justify-content: center;
  gap: 20px;
  width: 100%;
  display: grid;
}

@media (max-width: 1400px) {
  .ThemesContainer {
    grid-template-columns: repeat(auto-fill, 260px);
  }
}

@media (max-width: 1200px) {
  .ThemesContainer {
    grid-template-columns: repeat(auto-fill, 230px);
    gap: 10px;
  }
}