.StuckModalContainer {
  position: fixed;
  bottom: 9.375rem;
  right: 4.375rem;
  background: linear-gradient(to right, #8C52FF, #5C97E6);
  border-radius: 3.125rem;
  z-index: 5;
  width: 6.25rem;
  height: 6.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StuckModalContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.StuckModalContainer button p {
  font-size: 1.875rem;
  line-height: 100%;
  color: #fff;
  font-weight: 700;
}


@media (max-width: 87.5rem) {
  .StuckModalContainer {
    height:  3.75rem;
    width:  3.75rem;
    bottom: 8.125rem;
    right: 4.375rem;
  }
  .StuckModalContainer button p {
    font-size:  1.25rem;
    font-weight: 700;
  }
}