.StuckModalContainer {
  position: fixed;
  bottom: 150px;
  right: 70px;
  background: linear-gradient(to right, #8C52FF, #5C97E6);
  border-radius: 50px;
  z-index: 5;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.StuckModalContainer a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.StuckModalContainer button p {
  font-size: 1.875rem;
  line-height: 100%;
  color: #fff;
  font-weight: 700;
}


@media (max-width: 1400px) {
  .StuckModalContainer {
    height: 60px;
    width: 60px;
    bottom: 130px;
    right: 70px;
  }
  .StuckModalContainer button p {
    font-size:  1.25rem;
    font-weight: 700;
  }
}