.Account .fixedNav {
  width: 500px;
  height: 500px;
  background-color: aqua;
  position: fixed;
}

.Account .boxContainer {
  width: calc(100% - 550px);
  margin-left: 550px;
  height: 100vh;
  background-color: pink;
}

.Account .box {
  width: calc(100% - 40px);
  padding: 20px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

/* profile pic selector */

.imgSelector {
  position: relative;
}
.profilePic {
  width: 128px;
  height: auto;
  object-fit: cover;
}

.fileUpload {
  display: none;
}

.circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 128px;
  height: 128px;
  border: 2px solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pImage {
  position: absolute;
  top: 110px;
  left: 100px;
  color: #666666;
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  background-color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.pImage:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
}

.uploadBtn {
  font-size: 1.2em;
}

.uploadBtn:hover {
  transition: all .3s cubic-bezier(.175, .885, .32, 1.275);
  color: #999;
}