.AccountBtn {
  background-color: var(--gray2);
  width: 100%;
  color: #fff;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 0.5rem 0rem;
  cursor: pointer;
}

.AccountBtn i {
  font-size: 3rem;
  display: flex;
  align-items: center;
  margin: 0rem 1rem;
}

.AccountBtn p {
  font-size: 1.25rem;
}