.CreateThemeModal {
  background-color: #fff;
  width: 31.25rem;
  height: 31.25rem;
  z-index: 3;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
}

.CreateThemeModal .header {
  display: flex;
  height: 1.875rem;
  background-color: var(--purple);
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  justify-content: right;
}

.CreateThemeModal .header i {
  font-size:  1.563rem;
  padding: 0em 0.625rem;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
}

.CreateThemeModal .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0em 0.625rem;
  overflow-y: auto;
  max-height: 29.375rem;
}

.CreateThemeModal .content .layer {
  width: 100%;
  margin-bottom: 1.25rem;
}

.CreateThemeModal .submitWrapper {
  position: relative;
}

@media (max-width: 87.5rem) {
  .CreateThemeModal {
    width: 23.125rem;
  }
}
@media (max-height: 43.75rem) {
  .CreateThemeModal {
    height: 18.75rem;
  }

  .CreateThemeModal .content {
    max-height: 16.875rem;
  }
}