.AudioController {
  color: #fff;
  padding: 1rem;
  width: 20rem;
}

.AudioController .title {
  display: flex;
  justify-content: center;
}

.AudioController .controller {
  display: flex;
  padding: 1rem 0rem;
}

.AudioController .controller i {
  margin-left: auto;
}

.AudioController .controller:not(:nth-last-child(1)) {
  border-bottom: 0.1rem var(--gray1) solid;
}
