.AddSubjectModal {
  background-color: #fff;
  width: 550px;
  height: fit-content;
  visibility:hidden;
  z-index: 4;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.AddSubjectModal .header {
  background-color: #6f6af8;
  height: 30px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}

.AddSubjectModal .header i {
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  margin-top: 3px;
}

.AddSubjectModal .content {
  padding: 30px 20px;
}

.AddSubjectModal .content .inputWrapper {
  margin-bottom: 10px;
}

.AddSubjectModal .submit {
  display: flex;
  justify-content: center;
}