.SmallSubjectsViewer {
  position: relative;
}

.SmallSubjectsViewer .chartContainer {
  height: 400px;
  width: 100%;
}

.SmallSubjectsViewer .noSubjects {
  font-weight: 700;
  display: flex;
  justify-content: center;
  font-size: 30px;
  text-decoration: underline;
  text-underline-offset: 3px;
}