.SmallSubjectsViewer {
  position: relative;
  height: 100%;
  width: 100%;
}

.SmallSubjectsViewer .chartContainer {
  height: 100%;
  width: 100%;
}

.SmallSubjectsViewer .noSubjects {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  text-decoration: underline;
  text-underline-offset: 3px;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 15px;
}

.SmallSubjectsViewer .noSubjects a {
  font-family: "Roboto", sans-serif;
}