.Stats {
  padding: 1rem 3.125rem;
  --rightWidth: 30rem;
}

.Stats .layer {
  width: calc(100% - var(--rightWidth));
}

.Stats .right {
  position: fixed;
  top: 6rem;
  width: var(--rightWidth);
  right: 0rem;
  border-left: 0.1rem solid var(--gray0);
  height: calc(100vh - 12rem);
  display: flex;
  justify-content: center;
}

.Stats .right .SubjectsPie {
  display: flex;
  position: relative;
}

.Stats .boxContainer {
  height: 40vh;
  min-height: 30rem;
  margin-bottom: 4.5rem;
}

.Stats .boxContainer#WebsiteUsageChart {
  height: fit-content;
}

/* .Stats .layer {
  display: flex;
  height: 50vh;
}

.Stats .box#subjectsPie {
  width: 25rem;
}

.Stats .box#RankingsTrendsChart {
  width: 35%;
} */
@media (max-width: 1400px) {
  .Stats {
    --rightWidth: 25rem;
  }

  .Stats .boxContainer {
    margin-bottom: 2rem;
  }
}


@media (max-width: 1000px) {
  .Stats .boxContainer {
    margin-bottom: 1.5rem;
  }
}
