.DraggableModal .header {
  background-color: var(--gray1);
  height: 1.875rem;
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  text-align: right;
  display: flex;
  justify-content: right;
  align-items: center;
}


.DraggableModal .header:hover {
  cursor: move;
}

.DraggableModal .header i {
  font-size: 1.875rem;
  color: #fff;
  cursor: pointer;
  padding: 0.625rem;
}