.SubjectsModal {
  width: 30rem;
  height: 30rem;
  position: relative;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: fixed;
}

.SubjectsModal .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--gray1);
  color: #fff;
}

.SubjectsModal .header i {
  font-size: 2rem;
  width: 3rem;
  cursor: pointer;
}

.SubjectsModal .contents {
  position: relative;
  flex: 1;
  display: flex;
  margin: 1rem;
  overflow: hidden;
}

.SubjectsModal .SubjectsManager {
  flex: 1;
  overflow-y: auto;
}

.SubjectsModal .editSubject {
  position: absolute;
  top: 0rem;
  z-index: 2;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  left: calc(100% + 3rem);
  transition: .3s ease-in-out left;
}

.SubjectsModal .editSubject.opened {
  left: 0rem;
}

.SubjectsModal .editSubject .inputs {
  flex: 1;
}

.SubjectsModal .buttons {
  display: flex;
  justify-content: space-between;
  margin: auto 1rem 0.5rem 1rem;
}

.SubjectsModal .share {
  display: flex;
  height: 3rem;
}

.SubjectsModal .share div#shared {
  display: flex;
}

.SubjectsModal .share div#share {
  display: flex;
}

/* .SubjectsModal {
  width: 30rem;
  height: 30rem;
  position: relative;
  overflow: hidden;
  border-bottom-right-radius: 1.25rem;
  border-bottom-left-radius: 1.25rem;
}

.SubjectsModal .SubjectsManager {
  width: 100%;
}

.SubjectsModal .editSubject {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  left: 0rem;
  top: 0rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
}

.SubjectsModal .editSubject .contents {
  padding: 1rem;
  flex: 1;
}

.SubjectsModal .buttons {
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  margin-bottom: 1rem;
} */