.StudySidebar {
  position: fixed;
  left: 0em;
  top: 0em;
  background-color: #fff;
  width: 4.375rem;
  height: calc(100vh - 6.25rem);
  left: 1.25rem;
  transform: translateY(50px);
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 0.625rem;
}

.StudySidebar .studyTool {
  cursor: pointer;
  width: 3.125rem;
  height: 3.125rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.625rem;
  transition: box-shadow .3s ease-in-out;
  margin: 3px 4px;
  background-color: #fff;
}

.StudySidebar .studyTool i {
  color: #636363;
  transition: color .3s ease-in-out;
}

.StudySidebar .studyTool .hoverEl {
  position: absolute;
  pointer-events: none;
  top: 3.125rem;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
  background-color: #000000C0;
  color: #fff;
  font-size: 0.75rem;
  padding: 3px 6px;
  border-radius: 0.313rem;
  white-space: nowrap;
}

.StudySidebar .studyTool:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.StudySidebar .studyTool:hover {
  box-shadow: rgba(255, 0, 0, 0.24) 0em 3px 8px;
}

.StudySidebar .studyTool:hover i,
.StudySidebar .studyTool.clicked i {
  color: var(--pink);
}

.StudySidebar .clickedEl {
  /* transition: opacity .3s ease-in-out; */
  position: relative;
  background-color: var(--bgColor);
  left: 100%;
  padding: 1.25rem;
  border-radius: 1.25rem;
  opacity: 1;
  z-index: -1;
}

/*
.StudySidebar .dispBtn{
  background: blue;
  width: 6.25rem;
  height: 6.25rem;
}
*/