.StudySidebar {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #fff;
  width: 70px;
  height: calc(100vh - 100px);
  left: 20px;
  transform: translateY(50px);
  z-index: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}

.StudySidebar .studyTool {
  cursor: pointer;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: box-shadow .3s ease-in-out;
  margin: 3px 4px;
  background-color: #fff;
}

.StudySidebar .studyTool i {
  color: #636363;
  transition: color .3s ease-in-out;
}

.StudySidebar .studyTool .hoverEl {
  position: absolute;
  pointer-events: none;
  top: 50px;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
  background-color: #000000C0;
  color: #fff;
  font-size: 12px;
  padding: 3px 6px;
  border-radius: 5px;
  white-space: nowrap;
}

.StudySidebar .studyTool:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.StudySidebar .studyTool:hover {
  box-shadow: rgba(255, 0, 0, 0.24) 0px 3px 8px;
}

.StudySidebar .studyTool:hover i,
.StudySidebar .studyTool.clicked i {
  color: var(--pink);
}

.StudySidebar .clickedEl {
  /* transition: opacity .3s ease-in-out; */
  position: relative;
  background-color: var(--bgColor);
  left: 100%;
  padding: 20px;
  border-radius: 20px;
  opacity: 1;
  z-index: -1;
}

/*
.StudySidebar .dispBtn{
  background: blue;
  width: 100px;
  height: 100px;
}
*/