.SubjectToolManager {
    position: relative;
}

.SubjectToolManager .hidden {
    display: none;
}

.SubjectToolManager li {
    display: inline-block;
    max-width: fit-content;
    padding: 0.4375rem;
    border-radius: 0.938rem;
    margin: 0.1875rem;
    background-color: rgb(222,222,222);
}

.SubjectToolManager .removeTool:hover {
    cursor: pointer;
    color: red;
}

.SubjectToolManager .addTool:hover {
    cursor: pointer;
    color: green;
}