.EditTemplate {
  background-color: #000;
  margin-top: 0px;
}

.EditTemplate .Main {
  margin-top: 0px;
  height: 100vh;
  z-index: 2;
  overflow: hidden;
}

.EditTemplate .ytBg {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
}

.EditTemplate .myGroupsViewerWrapper {
  margin-top: 100px;
  display: none;;
}

.EditTemplate .myGroupsViewerWrapper.open {
  display: block;
}

.EditTemplate .PlanTimelineBarWrapper {
  position: fixed;
  bottom:50px;
  left: 0px;
  width: 100vw;
}