.EditGroupModal {
  width: 33rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: 31.25rem;
}

.EditGroupModal .buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.EditGroupModal .inputArea {
  width: 100%;
  margin-left: 1.25rem;
  transition: opacity .3s ease-in-out;
  opacity: 0;
}

.EditGroupModal .inputArea input {
  width: 100%;
  height: 1.25rem;
}

.EditGroupModal .inputArea.open {
  opacity: 1;
}