.Friends {
  flex: 1 1;
  display: flex;
  padding: 0rem 3.125rem;
}

/* .Friends .boxContainer#FriendsActivityViewer {
  width: 30rem;
  height: fit-content;
}

.Friends .boxContainer#FriendsTrendChart {
  flex: 1;
}

.Friends .boxContainer#FriendRequestsViewer {
  width: 25rem;
  height: fit-content;
}
 */

.Friends .layer {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
}

.Friends .layer#left {
  width: 30rem;
}

.Friends .layer#center {
  flex: 1;
}

.Friends .layer#right {
  width: 30rem;
}

.Friends .boxContainer {
  flex: 1;
}

/* .Friends .boxContainer#FriendsActivityViewer {
  height: 50%;
} */

.Friends .boxContainer#FriendsTrendChart {
  max-height: 50%;
}

.Friends .boxContainer#FriendRequestsViewer {
  max-height: calc(50% - 6rem);
}

