.Friends {
  flex: 1 1;
  display: flex;
  padding: 0rem 3.125rem;
}

.Friends .layer {
  height: calc(100vh - 6rem);
  display: flex;
  flex-direction: column;
}

.Friends .layer#left {
  width: 33rem;
}

.Friends .layer#center {
  flex: 1;
}

.Friends .layer#center .boxContainer {
  flex: 1;
}

.Friends .layer#right {
  width: 35rem;
}

.Friends .layer#right .boxContainer {
  height: calc(50% - 6rem);
}

/* .Friends .boxContainer {
  height: calc(50% - 6rem);
} */
