.Friends .container {
  display: flex;
  margin: 5rem 5%;
}

.Friends .layer:nth-child(1) {
  flex: 0.25;
}

.Friends .layer:nth-child(2) {
  flex: 0.5;
}

.Friends .layer:nth-child(3) {
  flex: 0.25;
}

.Friends .layer:nth-child(2) .box {
  height: 50%;
}
