.member {
  height: 120px;
  margin: 0.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #00000050;
  position: relative;
  overflow: hidden;
}

.member .inner {
  padding: 0.625rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}