.FriendRequestsViewer {
  position: relative;
}

.FriendRequestsViewer .title {
  font-size: 20px;
  font-weight: 600;
}

.FriendRequestsViewer .optionsWrapper .buttonsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.FriendRequestsViewer .optionsWrapper .buttonsContainer button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.FriendRequestsViewer .optionsWrapper .buttonsContainer .count {
  background-color: var(--purple);
  color: #fff;
  border-radius: 10px;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-left: 5px;
}

.FriendRequestsViewer .lineContainer {
  height: 2px;
  width: 100%;
  background-color: #fff;
  position: relative;
}

.FriendRequestsViewer .lineContainer .line {
  width: 50%;
  margin-left: 50%;
  background-color: var(--purple);
  height: 2px;
  transition: margin-left .2s ease-in-out;
}

.FriendRequestsViewer .lineContainer.incoming .line {
  margin-left: 0%;
}

.FriendRequestsViewer .friendRequests {
  visibility:hidden;
  opacity: 0;
  height: 0px;
  transition: .3s visibility ease-in-out, .3s opacity ease-in-out;
}

.FriendRequestsViewer .friendRequests.open {
  visibility: visible;
  opacity: 1;
  height: unset;
}

.FriendRequestsViewer .friendRequests .friendRequest {
  display: flex;
  padding: 10px;
  align-items: center;
}

.FriendRequestsViewer .friendRequest .profileImg {
  height: 40px;
  width: 40px;
  border-radius: 20px;
  margin-right: 10px;
}

.FriendRequestsViewer .friendRequest .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0px;
}

.FriendRequestsViewer .friendRequest .buttons button {
  background-color: var(--gray);
  font-size: 20px;
  width: 32px;
  height: 32px;
  color: var(--pink);
  margin: 0px 5px;
}

.FriendRequestsViewer .friendRequest .content {
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.FriendRequestsViewer .friendRequest .content p {
  margin-right: 5px;
}

.FriendRequestsViewer .friendRequest .btnWrapper {
  position: relative;
}

.FriendRequestsViewer .friendRequest .btnWrapper.accept:hover {
  filter: saturate(300%) hue-rotate(90deg);
}

.FriendRequestsViewer .friendRequest .btnWrapper.decline:hover {
  filter: saturate(300%);
}

.FriendRequestsViewer .friendRequest .btnWrapper .hoverDisp {
  position: absolute;
  font-size: 13px;
  white-space: nowrap;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  background-color: var(--opacity-black);
  padding: 5px 10px;
  border-radius: 7px;
  color: #fff;
  z-index: 5;
  visibility: hidden;
}

.FriendRequestsViewer .friendRequest .btnWrapper:hover .hoverDisp {
  opacity: 1;
  visibility: visible;
}