.FriendsActivityViewer {
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.FriendsActivityViewer .friend {
  display: flex;
  align-items: center;
  border-bottom: 0.1rem solid var(--gray3);
  padding: 0.25rem 0rem;
}

.FriendsActivityViewer .friend .activeInfo {
  margin-left: 3rem;
  font-size: 0.9rem;
  display: flex;
}

.FriendsActivityViewer .buttons {
  margin: 0rem 1rem 0rem auto;
}