.Themes {
  padding: 1rem 3.125rem;
  flex: 1;
}

.Themes h1 {
  font-size: 2.313rem;
}

.Themes .Swiper {
  display: flex;
  width: 100%;
  height: calc(100vh - 18.75rem);
  min-height: 31.25rem;
  padding-bottom: 5.313rem;
  z-index: 2;
}

.Themes .Swiper:root {
  --swiper-pagination-bullet-z-index: -1;
  /* --swiper-pagination-color: var(--swiper-theme-color);
  --swiper-pagination-bullet-size: 0.5rem;
  --swiper-pagination-bullet-width: 0.5rem;
  --swiper-pagination-bullet-height: 0.5rem;
  --swiper-pagination-bullet-inactive-color: #000;
  --swiper-pagination-bullet-inactive-opacity: 0.2;
  --swiper-pagination-bullet-opacity: 1;
  --swiper-pagination-bullet-horizontal-gap: 0.25rem;
  --swiper-pagination-bullet-vertical-gap: 0.375rem; */
}

.Themes .Swiper .Slide {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.Themes .searchOptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}

.Themes .searchOptions > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Themes .searchOptions div#TagsGenerator > div {
  width: 21rem;
}

@media (max-width: 1400px) {
  .Themes .Swiper {
    height: 31.25rem;
  }
}

@media (max-width: 1200px) {
  .Themes .Swiper {
    height: 25rem;
    min-height: 25rem;
  }

  .Themes .BoxContainer#rankedThemes {
    flex-direction: column;
  }
}
