.FooterContainer {
  width: 100vw;
  position: relative;
  bottom: 0em;
  left: 0em;
  background-color: #f0f2f5;
  height: 6.25rem;
}

.FooterContainer .inner {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-left: 10%;
  align-items: center;
  height: 100%;
  justify-content: right;
}

.FooterContainer .inner p {
  font-size:  1.25rem;
  color: #7f849d;
}

.FooterContainer .inner .divider {
  width: 0.0625rem;
  height: 1.875rem;
  margin: 0em 1.25rem;
  background-color: #7f849d;
}