.myGroupContainer {
  position: relative;
  margin: 1.25rem;
}

.myGroupContainer .group {
  width: 18.75rem;
  height: 12.5rem;
  background-color: #f7f9fd;
  border-radius: 2.5rem;
  padding: 1.25rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.myGroupContainer .groupColor {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  right: 0em;
  top: 0em;
}

.myGroupContainer .name {
  font-weight: 800;
  font-size:  1.25rem;
  max-width: calc(100% -  3.75rem);
}

.myGroupContainer .name i {
  font-size:  1.438rem;
  margin-right: 0.625rem;
}

.myGroupContainer .explanation {
  border-top: 0.0625rem solid #545454;
  position: relative;
  margin-top: 1rem;
  padding-top: 1.25rem;
}

.myGroupContainer .bottom {
  position: absolute;
  bottom: 0em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(100% - 2.5rem);
}

.myGroupContainer .tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.myGroupContainer .tags .tag {
  margin: 0em 0.313rem;
  padding: 0.125rem 0.625rem;
  border-radius: 0.625rem;
  background-color: blanchedalmond;
}

.myGroupContainer .info {
  position: absolute;
  display: flex;
  background-color: blanchedalmond;
  height: 2.0625rem;
  border-radius: 1.0625rem;
  padding: 0em 0.625rem;
  top: -1rem;
}

.myGroupContainer .info li {
  margin: 0em 0.1875rem;
}

.myGroupContainer .info li p {
  margin-right: 0.1875rem;
}

.myGroupContainer .buttons {
  display: flex;
}

.myGroupContainer .buttons button {
  background-color: #fd8a8a;
  font-weight: 800;
  color: #fff;
  padding: 0em 1.25rem;
  border-radius: 1.25rem;
  font-size:1rem;
  white-space: nowrap;
}

.myGroupContainer .buttons>* {
  margin: 0.313rem;
  position: relative;
}

.myGroupContainer .copyModal {
  position: absolute;
  top: calc(100%);
  right: 0em;
  height: 1.875rem;
  width: 6.25rem;
  margin-right: 3.125rem;
  background-color: #545454;
  transition: opacity 1s;
  opacity: 0;
  border-radius: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.myGroupContainer .copyModal.copied {
  opacity: 1;
}

/* .myGroupContainer .members {
  display: flex;
  flex-wrap: wrap;
  max-height: 18.75rem;
  overflow-y: auto;
  justify-content: center;
}

.myGroupContainer .members .member {
  width: 9.375rem;
  height: 3.125rem;
  background-color: aqua;
  border-radius: 0.625rem;
  margin: 0.625rem;
} */