.EventModal {
  position: fixed;
  left: 50vw;
  transform: translateX(-50%);
  top: 150px;
  background-color: #fff;
  height: fit-content;
  width: 500px;
  z-index: 2;
  display: none;
  border-radius: 20px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.EventModal .header {
  background-color: #6f6af8ff;
  height: 30px;
  display: flex;
  justify-content: right;
  align-items: center;
  color: #fff;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.EventModal .header i {
  margin-right: 10px;
  font-size: 30px;
}

.EventModal.open {
  display: block;;
}

.EventModal .container {
  display: flex;
  flex-direction: column;
  margin: 30px 20px 0px 0px;
}

.EventModal .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  align-items: center;
}

.EventModal .wrapper .iconWrapper {
  width: 70px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 27px;
  position: relative;
}

.EventModal .wrapper .iconWrapper:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.EventModal .wrapper .iconWrapper .hoverEl {
  position: absolute;
  font-size: 17px;
  white-space: nowrap;
  top: 50px;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #000000c3;
  padding: 5px 10px;
  border-radius: 7px;
  color: #fff;
  z-index: 2;
  visibility: hidden;
}

.EventModal .title  {
  height: 50px;
  
}

.EventModal .title input {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 30px;
}

.EventModal .wrapper .contentWrapper {
  position: relative;
  width: calc(100% - 70px);
  display: flex;
  align-items: center;
}

.EventModal .subjectWrapper {
  width: 200px;
}

.EventModal .notificationWrapper {
  width: 400px;
}

.EventModal .submit {
  margin-bottom: 30px;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}

.EventModal .addSubjectWrapper {
  margin-left: auto;
}