.User {
  position: relative;
}

.User .searchOpt {
  position: fixed;
  top: 100px;
  right: 50px;
  z-index: 2;
}

.User .profileCard {
  position: fixed;
  top: 215px;
  left: 180px;
  background-color: #fff;
  box-shadow: var(--shadow9);
  padding: 30px;
  width: 380px;
  border-radius: 30px;
}

.User .profileCard > div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.User .profileCard .profileImg {
  width: 150px;
  height: 150px;
  border-radius: 50px;
}

.User .profileCard .name {
  max-width: calc(100% - 150px);
}

.User .profileCard .timezone {
  font-size: 20px;
}

.User .profileCard .timezone i {
  font-size: 30px;
  margin: 0px 5px;
}

.User .profileCard > div:nth-child(1) {
  font-size: 27px;
}

.User .boxContainer {
  position: absolute;
  left: 530px;
  top: 80px;
  width: calc(100%  - 560px);
}

.User .boxContainer .box {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  box-shadow: var(--shadow9);
  margin-bottom: 30px;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.User .box .title {
  font-size: 30px;
  font-weight: 600;
}

.User .boxContainer .box .chartContainer {
  flex-grow: 1;
}

.User .boxContainer .box .groupsContainer {
  overflow-y: auto;
  flex-grow: 1;
}

.User .box#friendsBox {
  height: min-content;
}