.UserContainer {
  position: relative;
}

.UserContainer .profileContainer {
  position: fixed;
  width: 300px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 20px;
}

.UserContainer #profileImg {
  border-radius: 50%;
  background-color: aqua;
  width: 100px;
  height: 100px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.UserContainer .row {
  display: flex;
  width: 100%;
  padding-bottom: 30px;
}

.UserContainer .rowTitle {
  width: 100%;
  display: flex;
}

.UserContainer .row .divided {
  width: 100%;
}

.UserContainer .row#buttons .divided {
  display: flex;
  justify-content: center;
  position: relative;
}

.UserContainer .divided#profileInfo {
  display: flex;
  align-items: center;
  font-size: 23px;
}

.UserContainer .divided#description {
  border: 1px solid var(--pink);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  padding: 10px;
}

.UserContainer .infoContainer {
  position: relative;
  display: flex;
  flex-direction: row;
}

.UserContainer .infoContainer .iconWrapper {
  width: 70px;
  height: 70px;
  background-color: var(--pink);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.UserContainer .infoContainer .info {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.UserContainer .info .infoTitle {
  position: absolute;
  top: 0px;
  font-size: 20px;
}

.UserContainer .statsContainer {
  width: calc(100% - 420px);
  margin-left: 380px;
}

.UserContainer .statsContainer .box {
  padding: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
  margin-bottom: 35px;
}

.UserContainer .statsContainer .box:nth-child(2) {
  max-height: 50vh;
  overflow-y: auto;
}

.UserContainer .chartContainer {
  width: 100%;
}

.UserContainer #dateSelector {
  font-size: 30px;
  border-radius: 10px;
  background-color: var(--gray);
  padding: 0px 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.UserContainer #viewerSelector {
  margin-left: auto;
}

.UserContainer .row#groupsContainer {
  overflow-x: auto;
  overflow-y: hidden;
}

.UserContainer canvas {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1400px) {
  .UserContainer .profileContainer {
    width: 240px;
    padding: 10px;
  }

  .UserContainer #profileImg {
    width: 60px;
    height: 60px;
  }

  .UserContainer .statsContainer {
    width: calc(100% - 320px);
    margin-left: 280px;
  }
  
  .UserContainer .statsContainer .box {
    padding: 30px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 20px;
    margin-bottom: 35px;
  }

  .UserContainer h1 {
    font-size: 25px;
  }
}