.Account {
  margin: 1rem 3rem;
}

.Account .layer {
  display: flex;
}

.Account .layer .boxContainer {
  flex: 1;
}

.Account .layer:nth-child(1) {
  align-items: center;
  flex-direction: column;
}

.Account .imgSelector {
  position: relative;
}

.Account .imgSelector .profilePic {
  width: 12.5rem;
  height: auto;
  object-fit: cover;
}

.Account .imgSelector .fileUpload {
  display: none;
}

.Account .imgSelector .circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 12.5rem;
  height: 12.5rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Account .imgSelector .pImage {
  position: absolute;
  top: 10.625rem;
  left: 10.625rem;
  color: #666666;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background-color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.Account .imgSelector .pImage:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.Account .imgSelector .uploadBtn {
  font-size: 1.2em;
}

.Account .imgSelector .uploadBtn:hover {
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  color: #999;
}

.Account div#welcome {
  font-size: 1.875rem;
  margin-top: 2.5rem;
}

.Account .boxContainer#profile .name {
  margin: 0.5rem;
}

.Account .boxContainer#profile .emails {
  display: flex;
  margin-bottom: 2rem;
}

.Account .boxContainer#profile .emails > * {
  flex: 1;
  margin: 0.5rem;
}

.Account .boxContainer .buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: auto;
}

.Account .buttons div#verifyBtn {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

.Account .buttons div#verifyBtn.hidden {
  opacity: 0;
}

.Account .app {
  display: flex;
}

.Account .app .icon {
  width: 4rem;
  height: 4rem;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.3rem;
}


.Account .app .description p {
  word-break: break-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
}

.Account .app .authBtn {
  margin-left: auto;
}