.Account {
  margin: 1rem 3rem;
}

.Account .layer {
  display: flex;
  width: 80%;
  align-content: center;
  justify-content: center;
  margin-left: 11rem;
}

.Account .layer .boxContainer {
  flex: 1;
  width: 90%;
}

.Account .layer:nth-child(1) {
  align-items: center;
  flex-direction: column;
}

.Account .imgSelector {
  position: relative;
}

.Account .imgSelector .profilePic {
  width: 12.5rem;
  height: auto;
  object-fit: cover;
}

.Account .imgSelector .uploadBtn {
  color: rgb(66, 66, 66);
}
.Account .imgSelector .fileUpload {
  display: none;
}

.Account .imgSelector .circle {
  border-radius: 100% !important;
  overflow: hidden;
  width: 9.5rem;
  height: 9.5rem;
  border: 0.125rem solid rgba(255, 255, 255, 0.2);
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0em 0.1875rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Account .imgSelector .pImage {
  position: absolute;
  top: 0.14rem;
  left: 0.1rem;
  color: #666666;
  background-color: #acacac;
  width: 9.5rem;
  height: 9.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  opacity: 0;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 0.6;
	}
}

.Account .imgSelector .pImage:hover {
  animation-name : fadeIn;
	animation-duration : 0.4s;
  animation-fill-mode: both;
}

.Account .imgSelector .uploadBtn {
  font-size: 2em;
}

.Account div#welcome {
  font-size: 1.35rem;
  margin-top: 1rem;
}

.Account .boxContainer#profile .name {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.Account .boxContainer#profile .emails {
  display: flex;
  margin-bottom: 2rem;
}

.Account .boxContainer#profile .emails > * {
  flex: 1;
  margin-top: 0.5rem;
} 

.Account .boxContainer#profile .emails > :first-child {
  margin-right: 1rem;
}

.Account .boxContainer .buttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  margin-top: auto;
}

.chromeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Account .buttons div#verifyBtn {
  opacity: 1;
  transition: 0.3s ease-in-out opacity;
}

.Account .buttons div#verifyBtn.hidden {
  opacity: 0;
}

.Account .AccountExplain {
  font-size: 1.5rem;
  margin-bottom: .7rem;
}

.Account .Passwords {
  display: flex;
  flex-direction: column;
}

.Account .Passwords > *{
  margin-bottom: 0.5rem;
}

.Account .Passwords > :nth-child(1) {
  margin-top: 0.5rem;
}

.Account .Passwords > :nth-child(2){
  margin-top: 0.5rem;
}

.passwordDescription {
  color: rgb(211, 211, 211);
  font-size: 70%;
  font-weight: 400;
  margin-top: 8.4rem;
  position: absolute;
}

.passwordDescription h3 {
  font-weight: 500;
}

.Account .app {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.Account#Youtube {
  margin-left: 1rem;
}
.Account .app#googleCalendar {
  margin-left: 1rem;
}

.Account .app .icon {
  width: 4rem;
  height: 4rem;
  font-size: 2.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: .8rem;
}


.Account .app .description p {
  word-break: keep-all;
  overflow-wrap: break-word;
  white-space: pre-wrap;
  width: 90%;
}

.Account .app .authBtn {
  margin-left: auto;
  display: flex;  
  margin-bottom: 1rem;
}

