.SubjectTimer {
  position: relative;
}

.SubjectTimer .mainDisplay {
  display: flex;
  align-items: center;
}

.SubjectTimer .mainDisplay .subject {
  padding: 0.5rem 1rem;
  font-size: 1.5rem;
  border-radius: 0.25rem;
  transition: 0.3s ease-in-out background-color;
  margin-right: 0.5rem;
}

.SubjectTimer .mainDisplay .subject .name {
  margin-right: 0.5rem;
}

.SubjectTimer .mainDisplay .subject .time {
  margin-right: 0.5rem;
}

.SubjectTimer .mainDisplay .subject:hover {
  background-color: var(--gray0);
}

.SubjectTimer .mainDisplay i#caret {
  transform: rotate(0deg);
  transition: transform .4s cubic-bezier(0.075, 0.82, 0.165, 1);
  margin-left: 1.25rem;
  font-size: 1.875rem;
}

.SubjectTimer .mainDisplay i#caret.active {
  transform: rotate(180deg);
}

.SubjectTimer .mainDisplay .buttons {
  margin-left: auto;
}

.SubjectTimer .mainDisplay .button {
  font-size: 1.5rem;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease-in-out background-color;
  border-radius: 0.25rem;
}

.SubjectTimer .mainDisplay .button#addSubject {
  font-size: 2.5rem;
  font-weight: 400;
  margin-right: 0.5rem;
  position: relative;
}

.SubjectTimer .mainDisplay .button#addSubject:hover .hoverText {
  opacity: 1;
  bottom: -2rem;
}

.SubjectTimer .button#addSubject .hoverText {
  bottom: -3rem;
}

.SubjectTimer .mainDisplay .button:hover {
  background-color: var(--gray0);
  border-bottom-left-radius: 0rem;
}

.SubjectTimer .subjects {
  position: absolute;
  z-index: 2;
  background-color: var(--gray0);
  width: calc(100% - 3rem);
  max-height: 10rem;
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
  font-size: 0rem;
  transition: font-size .3s ease-in-out;
  overflow-y: auto;
}

.SubjectTimer .subjects.active {
  font-size: 1rem;
}

.SubjectTimer .subject {
  display: flex;
  width: 100%;
  cursor: pointer;
  align-items: center;
}

.SubjectTimer .subjects .name {
  margin: 0rem 1rem;
}

.SubjectTimer .subjects .subject .time {
  margin: 0rem 1rem 0rem auto;
}
