.CreateChallengeModal {
  width: 31.25rem;
  height: fit-content;
  z-index: 2;
  border-radius: 1.25rem;
  background-color: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  display: none;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  box-shadow: rgba(100, 100, 111, 0.2) 0em 0.4375rem 1.8125rem 0em;
  display: flex;
}

.CreateChallengeModal .modalHeader {
  border-top-right-radius: 1.25rem;
  border-top-left-radius: 1.25rem;
  display: flex;
  width: 100%;
  height: 1.875rem;
  background-color: var(--purple);
  justify-content: center;
  align-items: center;
}

.CreateChallengeModal .modalHeader:hover {
  cursor: move;
}

.CreateChallengeModal .container {
  display: flex;
  flex-direction: column;
  margin: 1.875rem 1.25rem 0em 0em;
}

.CreateChallengeModal .wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.25rem;
  align-items: center;
}

.CreateChallengeModal .wrapper .iconWrapper:hover .hoverEl {
  opacity: 1;
  visibility: visible;
}

.CreateChallengeModal .wrapper .iconWrapper .hoverEl {
  position: absolute;
  font-size:1.063rem;
  white-space: nowrap;
  top: 3.125rem;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  background-color: #000000c3;
  padding: 0.313rem 0.625rem;
  border-radius: 0.4375rem;
  color: #ffffff;
  z-index: 2;
  visibility: hidden;
}

.CreateChallengeModal .modalHeader i {
  margin-left: auto;
  color: #fff;
  margin-top: 0.1875rem;
  padding: 0.625rem;
  cursor: pointer;
}

.CreateChallengeModal .title {
  height: 3.125rem;
  margin-left: 4.375rem;
}

.CreateChallengeModal .title input {
  width: 100%;
  border: none;
  height: 100%;
  font-size: 1.875rem;
}

.CreateChallengeModal .wrapper .contentWrapper {
  position: relative;
  width: calc(100% - 4.375rem);
  display: flex;
  align-items: center;
}

.CreateChallengeModal .wrapper .iconWrapper {
  width: 4.375rem;
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.688rem;
  position: relative;
}

.CreateChallengeModal .wrapper .contentWrapper {
  position: relative;
  width: calc(100% - 4.375rem);
  display: flex;
  align-items: center;
}

.CreateChallengeModal .submit {
  margin-bottom: 1.875rem;
  justify-content: center;
  width: 100%;
  align-items: center;
  display: flex;
}