.Planner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Planner .header {
  display: flex;
  align-items: center;
  margin-left: -1rem;
}

.Planner .header .right {
  display: flex;
  align-items: center;
  margin-top: 0.5rem;
  margin-left: 1rem;
  width: 100%;

}
.Planner .header h2 {
  font-weight: 700;
  font-size: 2.5rem;
  margin-left: 0.8rem;
}