.NotificationModal {
  z-index: 6;
  position: fixed;
  bottom: 3.125rem;
  right: 3.125rem;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0em 0.5rem 1.5rem;
  border-radius: 0.625rem;
  width: 25rem;
  height: 18.75rem;
  visibility: hidden;
  opacity: 0;
  transition: .3s ease-in-out visibility, .3s ease-in-out opacity;
}

.NotificationModal.opened {
  visibility: visible;
  opacity: 1;
}

.NotificationModal .noNotifications {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.3rem;
}

.NotificationModal .toggleBtn {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0em;
  right: 0em;
  z-index: 99999;
}

.NotificationModal .notifications {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.NotificationModal .notifications .notification {
  display: flex;
  padding: 0.625rem;
}

.NotificationModal .notification .profileImg {
  height: 3.125rem;
  width: 3.125rem;
  border-radius: 1.563rem;
}

.NotificationModal .notification .buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.NotificationModal .notification .buttons button {
  background-color: var(--gray);
  font-size: 1.875rem;
  width: 2.5rem;
  height: 2.5rem;
  color: var(--pink);
  margin: 0em 0.313rem;
}

.NotificationModal .notification .content {
  margin: 0em 1.25rem;
  flex-grow: 1;
  display: flex;
  align-items: center;
}

.NotificationModal .notification .btnWrapper {
  position: relative;
}

.NotificationModal .notification .btnWrapper.accept:hover {
  filter: saturate(300%) hue-rotate(90deg);
}

.NotificationModal .notification .btnWrapper.decline:hover {
  filter: saturate(300%);
}

.NotificationModal .notification .btnWrapper .hoverDisp {
  position: absolute;
  font-size: 1.063rem;
  white-space: nowrap;
  top: 3.125rem;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  background-color: var(--opacity-black);
  padding: 0.313rem 0.625rem;
  border-radius: 0.4375rem;
  color: #fff;
  z-index: 5;
  visibility: hidden;
  pointer-events: none;
}

.NotificationModal .notification .btnWrapper:hover .hoverDisp {
  opacity: 1;
  visibility: visible;
}