.DateSelectorBtn {
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  align-items: center;
  padding: 1.25rem;
  transition: .3s background-color ease-in-out, box-shadow .3s ease-in-out;
  font-weight: 700;
  background-color: var(--gray);
  margin-top: 40px;
  padding: 15px 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 30px;
}

.DateSelectorBtn i {
  margin-left: 10px;
  transition: rotate .3s ease-in-out;
}

.DateSelectorBtn:hover {
  background-color: var(--gray);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.DateSelectorBtn.open i {
  rotate: -180deg;
}