.header {
  height: 100px;
  background-color: aqua;
  border-radius: 10px;
  width: calc(100vw - 200px);
  position: fixed;
  right: 30px;
  top: 30px;
  display: flex;
  justify-content: space-between;
  transition: .2s all;
}

.header .left, .header .right {
  display: flex;
}

.header .headerEl {
  display: flex;
  margin: 10px 0px 0px 30px;
  border-radius: 20px;
  padding: 20px;
}

.header .left .headerEl:nth-child(1) {
  background-color: #FF9B9B;
}

.header .left .headerEl:nth-child(2) {
  background-color: #FFD6A5;
}

.header .left .headerEl:nth-child(3) {
  background-color: #FFFEC4;
}

.header .left .headerEl:nth-child(4) {
  background-color: #CBFFA9;
}

.header .headerEl .circle {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .headerEl img{
  width: 40px;
}

.header .sidebarToggleBtn img{
  width: 50px;
}

.header.isOpen {
  background-color: #FF9B9B;
  width: calc(100vw - 380px);
}

.header .right .headerEl {
  background-color: #F9F5F6;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.header .right .headerEl button {
  font-size: 30px;
  margin: 0px 10px;
}

.header .right .headerEl button:nth-last-child(1) {
  border-radius: 20px;
  height: 40px;
  width: 40px;
  background-color: #fff;
}

.header .right .headerEl .dropDown {
  padding: 30px 0px;
}

.header .right .headerEl .dropDown .dropDownContent {
  position: absolute;
  top: 70px;
  right: 0px;
  background-color: #F9F5F6;
  width: 400px;
  text-align: left;
  border-radius: 20px;
  transition: all .2s ease-in-out .2s;
  opacity: 0;
  overflow: hidden;
  height: 0px;
  clear: both;
}

.header .right .headerEl .dropDown:hover .dropDownContent {
  opacity: 1;
  height: fit-content;
}

.header .dropDownContent .inner {
  padding: 30px;
}

.header .dropDownContent .icon {
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: #DBC4F0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.header .dropDownContent li{
  display: flex;
  margin-top: 30px;
}

.header .dropDownContent li .explanation {
  margin-left: 20px;
}

.header .dropDownContent li .topic{
  font-size: 20px;
  font-weight: 600;
} 

.header .dropDownContent li .time{
  font-size: 16px;
  font-weight: 300;
} 