.Header {
  height: 80px;
  width: calc(100vw - 130px - 1px);
  background-color: #F8F9FA;
  position: fixed;
  top: 20px;
  left: 131px;
  display: flex;
  align-items: center;
  z-index: 5;
  margin-top: -10px ;
}

.Header .left {
  display: flex;
  height: 100%;
  margin-top: -5px;
}

.Header .left :not(.divider) {
  margin-top: 5px;
} 

.Header .bigBox {
  margin-top: 30px;
  display: flex;
  border-radius: 30px;
  height: 600px;
}

.Header .bigBox .chartWrapper {
  width: 100%;
  height: 100%;
}


.Header .left .headerEl i {
  display: flex;
  vertical-align: middle;
  justify-content: center;
}

.Header .left .headerEl {
  display: flex;  
  flex-direction: column;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.Header .left .headerEl:nth-child(1) {
  margin-left: 50px;
}

.Header .left .headerEl > div {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 800;
}

.Header .left .headerEl > div strong {
  font-weight: 700;
  font-size: 13px;
}

.Header .left .headerEl > div i {
  margin-right: 10px;
  font-size: 30px;
  width: 50px;
  display: flex;
}

.headerEl .LogoutButton {
  margin-top: 8px;
  padding: 0px 0px 0px 5px;
}

.Header .divider {
  height: calc(100% - 55px);
  margin: 15px 5px;
  border-right: 2px solid #b2b2b2;
  margin-top: 32px;
}

.Header .right {
  display: flex;
  position: absolute;
  right: 20px;
  height: 100%;
}

.Header .right .divider {
  margin-top: 26px;
}

.Header .right .headerEl {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.Header .right #user > div {
  margin-right: -25px;
}

.Header .right #user p {
  font-weight: 600;
  font-size: 140%;
  margin-top: -5px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.Header .right #user>div :nth-child(2){
  font-weight: 300;
  font-size: 80%;
  margin-top: -4px;
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.Header .right .profileImg {
  display: flex;
  background-color: #c0c0c0;
  justify-content: right;
  width: 60px;
  height: 60px;
  border-radius: 100px;
}