.Header {
  height: 60px;
  width: calc(100vw - 130px - 1px);
  background-color: #F8F9FA;
  position: fixed;
  top: 10px;
  left: 131px;
  display: flex;
  align-items: center;
  z-index: 5;
}

.Header .left {
  display: flex;
  height: 100%;
}

.Header .left .headerEl {
  display: flex;
  flex-direction: column;
  height: 60px;
  align-items: center;
  justify-content: center;
  padding: 0px 10px;
}

.Header .left .headerEl:nth-child(1) {
  margin-left: 50px;
}

.Header .left .headerEl > div {
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 800;
}

.Header .left .headerEl > div strong {
  font-weight: 700;
  font-size: 13px;
}

.Header .left .headerEl > div i {
  margin-right: 10px;
  font-size: 30px;
  width: 50px;
  display: flex;
}

.Header .divider {
  height: calc(100% - 30px);
  margin: 15px 5px;
  border-right: 2px solid #b2b2b2;
}

.Header .right {
  display: flex;
  position: absolute;
  right: 30px;
  height: 100%;
}

.Header .right .headerEl {
  display: flex;
  align-items: center;
  margin: 0px 20px;
}

.Header .right #user > div {
  margin-right: 10px;
}

.Header .right #user p {
  font-weight: 900;
}

.Header .right .profileImg {
  display: flex;
  background-color: #e5e6e7;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-right: auto;
  margin-left: auto;
}