:root {
  --bgColor: #000000c3;
}

.MyGroupsViewer {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
  height: fit-content;
}

.MyGroupsViewer .noGroup {
  font-size: 30px;
  font-weight: 800;
}

.MyGroupsViewer .Swiper {
  height: 100%;
}

.MyGroupsViewer .slide {
  position: relative;
}

.MyGroupsViewer .slide .inner {
  width: 90%;
  margin-left: 5%;
}

.MyGroupsViewer .information {
  height: 400px;
  position: relative;
}

.MyGroupsViewer .name a {
  font-size: 50px;
  color: #545454;
  font-weight: 700;
}

.MyGroupsViewer .header {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0px;
  z-index: 2;
}

.MyGroupsViewer .header .right {
  margin-left: auto;
}

.MyGroupsViewer .status {
  display: flex;
  background-color: var(--pink);
  color: #fff;
  border-radius: 20px;
  padding: 5px 10px;
}

.MyGroupsViewer .status li {
  font-size: 40px;
  margin: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.MyGroupsViewer .status p {
  color: #fff;
}

.MyGroupsViewer .membersContainer {
  padding-top: 60px;
}

.MyGroupsViewer .groupsWrapper {
  height: fit-content;
}

.MyGroupsViewer .buttons {
  position: absolute;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.MyGroupsViewer .buttons button {
  border-radius: 20px;
  height: 40px;
  width: fit-content;
  background-color: var(--pink);
  color: #fff;
  font-weight: 700;
  margin-left: auto;
  font-size: 17px;
  padding: 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 10px;
}

.MyGroupsViewer.study * {
  color: #fff !important;
}


.MyGroupsViewer.study .status {
  background-color: var(--bgColor);
}

.MyGroupsViewer.study .buttons button:nth-child(1) {
  display: none;
}

.MyGroupsViewer.study .buttons button {
  background-color: var(--bgColor);
}

@media (max-width: 1400px) {
  .MyGroupsViewer{
    height: 500px;
  }

  .MyGroupsViewer .name a {
    font-size: 30px;
  }

  .MyGroupsViewer .status {
    padding: 2px 5px;
    font-size: 20px;
  }
  
  .MyGroupsViewer .status p {
    font-size: 20px;
  }
}