.Header {
  height: 5rem;
  width: calc(100vw - 22rem);
  position: absolute;
  top: 1rem;
  left: 22rem;
  display: flex;
  align-items: center;
  z-index: 4;
  background-color: #ffffff;
}

.Header .left {
  display: flex;
}

.Header .divider {
  width: 0.1rem;
  background-color: var(--gray0);
}

.HeaderEl {
  display: flex;
  font-weight: 700;
  margin: 0rem 5rem;
}

.HeaderEl i {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}

.HeaderEl .title {
  font-size: 1.2rem;
}

.HeaderEl .value {
  font-size: 1rem;
}

.Header .right {
  margin: 0rem 5rem 0rem auto;
  display: flex;
  align-items: center;
}

.Header .NotificationsBtn {
  margin-right: 1rem;
}

.Header .userInfo {
  display: flex;
  align-items: center;
}

.Header .userInfo .ProfileImage {
  width: 4rem;
  height: 4rem;
  margin-left: 1.5rem;
}

.Header .userInfo .name {
  font-size: 1.5rem;
  font-weight: 700;
  height: 1.5rem;
}

.Header .userInfo .email {
  color: var(--gray2);
}
