.Privacy {
  padding-top: 10rem;
  margin: var(--main-offset);
}

.Privacy .header {
  margin-bottom: 2rem;
}

.Privacy div#tableOfContents li {
  margin: 0.5rem 0rem;
}
/* .Privacy .description {
  color: var(--gray2);
  font-weight: ;
}

.Privacy ul li {
  list-style-type: disc;
}
 */
