.SmallRankingViewer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.SmallRankingViewer .ranking {
  display: flex;
  width: max-content;
}

.SmallRankingViewer .name {
  display: flex;
  align-items: center;
}

.SmallRankingViewer .ranking .rank {
  background-color: var(--purple);
  color: #fff;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  flex: 1;
}

.SmallRankingViewer .profileImg {
  display: inline-block;
  background-color: #e5e6e7;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  margin-right: 7px;
}

.SmallRankingViewer .timezoneWrapper {
  font-size: 12px;
  display: flex;
  align-items: center;
  margin: 0px 3px;
}

.SmallRankingViewer .differenceGreen {
  color: green;
  font-size: 10px;
  display: flex;
  align-items: center;
}

.SmallRankingViewer .differenceRed {
  color: red;
  font-size: 10px;
  align-items: center;
}

.SmallRankingViewer .compare  {
  display: flex;
  align-items: center;
}

.SmallRankingViewer .noStudy a {
  font-weight: 600;
  text-decoration: underline;
}