.SmallRankingViewer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.SmallRankingViewer .ranking {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
}

.SmallRankingViewer .name {
  display: flex;
  align-items: center;
}

.SmallRankingViewer .ranking .rank {
  background-color: var(--purple);
  color: #fff;
  width: 1.875rem;
  height: 1.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.563rem;
  flex: 1;
  margin-right: 0.1875rem;
}

.SmallRankingViewer .profileImg {
  display: inline-block;
  background-color: #e5e6e7;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  justify-content: center;
  align-items: center;
  margin-right: 0.4375rem;
}

.SmallRankingViewer .timezoneWrapper {
  font-size: 0.75rem;
  display: flex;
  align-items: center;
  margin: 0em 0.1875rem;
}

.SmallRankingViewer .differenceGreen {
  color: green;
  font-size:  0.625rem;
  display: flex;
  align-items: center;
}

.SmallRankingViewer .differenceRed {
  color: red;
  font-size:  0.625rem;
  align-items: center;
}

.SmallRankingViewer .compare  {
  display: flex;
  align-items: center;
}

.SmallRankingViewer .noStudy p {
  font-weight: 500;
  font-size: 110%;
  margin-top: 1.25rem;
  margin-left: 1.1875rem;
  text-decoration: underline;
  align-items: center;
  vertical-align: middle;

}