:root {
  --percentage: 30%;
  --main-color: 255, 255, 255;
  --el-bg-color: 220, 220, 220;
}

.soundSliderContainer {
  display: flex;
  width: 18.75rem;
  height: 0.625rem;
  padding: 0.625rem 0em;
  background: rgba(var(--main-color), 0.07);
  border: 0.0625rem solid rgba(var(--main-color), 0.03);
  border-radius: 1in;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.soundSliderContainer::after {
  content: "";
  height: 100%;
  opacity: 0;
  left: 0em;
  position: absolute;
  top: 0em;
  transition: opacity 500ms;
  width: 100%;
  background: radial-gradient(31.25rem circle at var(--mouse-x) var(--mouse-y),
      rgba(var(--main-color), 0.06),
      transparent 40%);
  z-index: -1;
}

.soundSliderContainer:hover::after {
  opacity: 1;
}

.soundSliderContainer .soundPicto {
  fill: rgb(var(--el-bg-color));
  cursor: pointer;
}

.soundSliderContainer .soundToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  width: 2.5rem;
  background-color: transparent;
}

.soundSliderContainer .soundSlider {
  margin: 0 0.625rem;
  appearance: none;
  width: 100%;
  height: 0.313rem;
  border-radius: 1in;
  outline: none;
  transition: 0.2s;
  cursor: pointer;
  /*
  background: rgba(var(--el-bg-color), 0.5);
  background-image: linear-gradient(rgb(var(--main-color)), rgb(var(--main-color)));
  background-size: calc(var(--percentage) - 0.5625rem) 100%;
  background-repeat: no-repeat;
  */
}

/*
.soundSliderContainer .soundSlider::after {
  position: absolute;
  content: "";
  height: 100%;
  width: 0.625rem;
  border-radius: 0 1in 1in 0;
  background-color: rgb(var(--main-color));
  transition: 0.2s;
  left: calc(var(--percentage) - 0.625rem);
}
*/

.soundSliderContainer .soundSlider::-webkit-slider-thumb {
  width: 1.25rem;
  -webkit-appearance: none;
  height: 1.25rem;
  cursor: ew-resize;
  background: var(--pink);
  /* box-shadow: 10rem 0rem 0rem 10rem rgb(216, 216, 216); */
  transform: translate(0rem, -0.3125rem);
  border-radius: 50%;
}

.soundSliderContainer .soundSlider::-webkit-slider-runnable-track {
  height: 0.625rem;
  -webkit-appearance: none;
  color: #13bba4;
  margin-top: -0.0625rem;
}

.soundSliderContainer .soundSlider {
  overflow: hidden;
  appearance: none;
  background-image: url('../../../../public/img/rain-audio.jpeg');
  background-size: 18.75rem auto;
  background-repeat: no-repeat;
}

.soundSliderContainer .soundSlider:hover {
  height: 1em;
}

.soundSliderContainer .volume {
  font-family: sans-serif;
  color: rgb(var(--el-bg-color));
  min-width: 2em;
  text-align: right;
}